<template>
    <div class="container-fluid">
        <h3>User's List</h3>
        <button class="btn btn-success pull-right"> <router-link to="/register">Add New User</router-link>  </button>
        <div class="table-responsive">
            <table class="table"> 
                <thead>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    <tr v-for="(user,index) in role_list" v-bind:key="index">
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>
                            <button type="button" class="btn btn-primary" @click="editUser(user.id)"> Edit</button>
                            <button type="button" class="btn btn-danger"> Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</template>

<script>
export default {
    data(){
        return {
            user:{
                name:null,
                email:null,
                pssword:null,
                id:null,
            },
            role_list:[],
            user_list:null,
        }
      
    },
    created(){
        this.getUserList();
    },
    methods:{
        getUserList(){
            axios.get('/api/getUserList').then(resp=>{
                this.role_list = resp.data;
            }).catch(error=>{
                console.log(error);
            });
        },
        editUser(id){
            this.$router.push('/user/edit/'+id);
        }
    }
}
</script>

