<template>
<div class="container-fluid shadow">
<div style="width:100%" >
<div class="vld-parent">
        <loading :active.sync="isLoading"
        :is-full-page="fullPage"></loading>
    </div>
<h3 style="display:inline"> Course List</h3>
 <div class="pull-right" style="display:inline"><router-link to="/course/create" class="btn btn-primary">New Course registraion</router-link></div>
        <hr>
        <div class="form-group pull-right col-md-3">
        <input type="text" class="search form-control" v-model="search_code" name="search"   placeholder="Search as Course Code">
        </div>
        <div class="form-group pull-right col-md-3">
        <input type="text" class="search form-control" v-model="search_title" name="search_number"  placeholder="Search as Course Title">
        </div>
        
         
        <table class="table table-hover table-bordered results myTable"  >
        <thead>
        <tr class="header">
            <th>Course Title </th>
            <th>Course Code </th>
            <th>SBS Credits </th>
            <th>ECTS Credits </th>
            <th>Actions </th>
        </tr>
        </thead>
        <tbody v-for="(course, index) in course_list" v-bind:key="index">
            <tr>
            <td>
            {{course.CourseTitle}}
            </td>
            <td>
            {{course.CourseCode}}
            </td>
            <td>
            {{course.SBSCredits}}
            </td>
            <td>
            {{course.ECTSCredits}}
            </td>
            <td>
                <button class="btn btn-info fa fa-edit" v-on:click="editCourse(course.ID)"></button>
            </td>
            </tr>
        </tbody>
        </table>
        <pagination v-if="pagination.last_page > 1" :pagination="pagination" :offset="5"  @paginate="getCourse(course.ID)"></pagination>
    </div>
</div>
</template>

<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
export default {
     components: {
            Loading
        },
 data() {
       return {
        course_list: {},
        pagination: {
            'current_page': 1
        },
         isLoading: false,
         fullPage: true,
         search_code:'',
         search_title:''
         
        }
    },
    created() {
       this.getCourse();
    },
    watch: {
        search_code(after) {
           this.searchData();
          this.search_title='';    
        },
        search_title(after) {
           this.searchData(); 
            this.search_code='';
            
        }
    },
    methods: {

             searchData(){
            this.pagination.current_page=1;
            if(this.search_code.length>0)
                 this.fetch_code();                
            else if(this.search_title.length>0)
                this.fetch_title();
            else
                 this.getCourse();
        },

        editCourse(id){
            this.$router.push({path: '/course/edit/'+id});
        },
        paginateData(){
            if(this.search_code.length>0)
                this.fetch_code();
            else if(this.fetch_title.length>0)
                this.fetch_title();
            else
                this.getCourse();
        },
        getCourse() {
            this.isLoading = true;
            axios.get('/api/getCourseList?page=' + this.pagination.current_page)
                .then(response => {
                    this.course_list = response.data.data.data;
                    this.pagination = response.data.pagination;
                    this.isLoading = false;
                })
                .catch(error => {
                    console.log(error.response);
                });
        },
      fetch_code() {
              axios.get('/api/searchcode?page=' + this.pagination.current_page,{ params: { search_code: this.search_code} })
                        .then(response => {
                            console.log(response)
                            this.course_list = response.data.data.data;
                            this.pagination = response.data.pagination;
                            console.log(response);
                        })
                        .catch(error => {
                            console.log(error.response.data);
                        });

                },
                fetch_title() {
                    axios.get('/api/searchtitle?page=' + this.pagination.current_page,{ params: { search_title: this.search_title} })
                        .then(response => {
                            console.log(response)
                            this.course_list = response.data.data.data;
                            this.pagination = response.data.pagination;
                            console.log(response);
                        })
                        .catch(error => {
                            console.log(error.response.data);
                        });
                    },
    }
}
</script>

<style scoped>

</style>
