<template>
<div> 
 <router-link class="btn btn-dark fa fa-caret-left" to="/courses/list"><span class="fa fa-caret-left"></span><span class="fa fa-caret-left"></span></router-link>
<hr>
   <div style="width:100%">
       <h2><b><u>Update Course:</u></b></h2>
         <form>
            <div class="container-fluid shadow">
                     <div class="col-md-12">
                        <div class="row">
                           <div class="col-9 offset-2">
                              <div class="form-group">
                                 <label class="control-label control-label-left col-sm-3" for="CourseTitle">Course Title</label>
                                 <div class="controls col-sm-9">
                                    <input id="CourseTitle" type="text" name="CourseTitle" v-model="course_object.CourseTitle" class="form-control k-textbox" data-role="text">
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label class="control-label control-label-left col-sm-3" for="CourseCode">Course Code</label>
                                 <div class="controls col-sm-9">
                                    <input id="CourseCode" name="CourseCode" v-model="course_object.CourseCode" type="text" class="form-control k-textbox" data-role="text">
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label class="control-label control-label-left col-sm-3" for="SBSCredits">SBS Credits</label>
                                 <div class="controls col-sm-9">
                                    <input id="SBSCredits" name="SBSCredits" v-model="course_object.SBSCredits" type="text" class="form-control k-textbox">
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label class="control-label control-label-left col-sm-3" for="ESTSCredits">ESTS Credits</label>
                                 <div class="controls col-sm-9">
                                    <input id="ESTSCredits" type="text" class="form-control k-textbox" name="ECTSCredits" v-model="course_object.ECTSCredits" >
                                 </div>
                              </div>
                               <div class="form-group">
                        <div class="col-sm-4"></div>
                            <input type="button" value="Save" class="form-control btn btn-primary col-9" v-on:click="updateCourse()">
                        </div>
                     </div>
                </div>
           </div>
      </div>
         </form>
   </div>
</div>
</template>

<script>
export default {
   data(){
      return{ 
   course_object:{
            CourseTitle:null,
            CourseCode:null,
            ECTSCredits:null,
            SBSCredits:null
         },
      }
   },
   created(){
      this.getCourseByID();
   },
   methods:{

      updateCourse(){
      	axios.post('/api/updateCourse/'+this.$route.params.id, this.course_object)
                    .then( response => {
                        alert('success');
                    }, error => {
                        console.log('erro');
                    });
   },
   getCourseByID(){
      axios.get('/api/getCourseByID/'+this.$route.params.id)
                .then(response => {
                   this.course_object = response.data;
                     console.log(this.course_object);
                })
                .catch(error => {
                    console.log(error.response.data);
                });
   }
}
}
</script>
