<template>
<div class="conatiner-fluid shadow">
<div style="width:100%" >
     <div class="vld-parent">
        <loading :active.sync="isLoading"
        :is-full-page="fullPage"></loading>
    </div>
        <h2>Transcript  List</h2>
        <div class="row">       
        <div class="form-group col-md-4">
        <input type="text" class="search form-control" v-model="search" name="search"   placeholder="Search as Student First Name">
        </div>
         <div class="form-group col-md-3">
        <input type="text" class="search form-control" v-model="search_number" name="search_number"  placeholder="Search as Student Number">
        </div>
        </div>
        <table class="table table-hover table-bordered results myTable"  >
        <thead>
        <tr class="header">
            <th>Name</th>
            <th>StudentNumber</th>
            <th>Term</th>
            <th>Year</th>
            <th>Full</th>
        </tr>

        </thead>
        <tbody v-for="(student, index) in students" v-bind:key="index">
            <tr>
              <td>{{student.FirstName }}
                  {{student.LastName }}</td>
             <td>{{student.StudentNumber}}</td>    
            <td>
            <router-link class="fa fa-file btn btn-secondary btn btn-sm" to="/transcript/show"></router-link>    
            </td>
            <td>
            <router-link class="fa fa-file btn btn-secondary btn btn-sm" to="/transcript/show"></router-link>    
            </td>
            <td>
            <router-link class="fa fa-file btn btn-secondary btn btn-sm" to="/transcript/show"></router-link>   
            </td>
            </tr>
        </tbody>
        </table>
        <pagination v-if="pagination.last_page > 1" :pagination="pagination" @paginate="paginateData()" :offset="5"></pagination>
    </div>
</div>
</template>

<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
export default {
   components: {
            Loading
        },
 data() {

       return {
        results: [],
        search: '',
        search_number:'',
        students: {},
        pagination: {
            'current_page': 1
        },
         isLoading: false,
         fullPage: true
        }
    },
    created() {
       this.fetchStudents();
    },
    watch: {

        search(after) {
           this.searchData();
           this.search_last='';
           this.search_number='';
        },
        search_number(after) {
           this.searchData();
           this.search_last='';

        }
    },
    methods: 
    {
        searchData(){
            this.pagination.current_page=1;
            if(this.search.length>0)
                this.fetch();
            else if(this.search_number.length>0)
            this.fetch_number();
            else
                this.fetchStudents();
        },
        paginateData(){
            if(this.search.length>0)
                this.fetch();
            else if(this.search_number.length>0)
            this.fetch_number();
            else
                this.fetchStudents();
        },
        fetchStudent(){
            if(this.search.length>0)
                this.fetch();
            else if(this.search_number.length>0)
                this.fetch_number();
            else
                this.fetchStudents();
        },
          fetch() {
            axios.get('/api/search?page=' + this.pagination.current_page,{ params: { search: this.search} })
                .then(response => {
                    console.log(response)
                    this.students = response.data.data.data;
                    this.pagination = response.data.pagination;
                    console.log(response);
                })
                .catch(error => {
                    console.log(error.response.data);
                });
            },
                fetch_number() {
                    axios.get('/api/searchnumber?page=' + this.pagination.current_page,{ params: { search_number: this.search_number} })
                        .then(response => {
                            console.log(response)
                            this.students = response.data.data.data;
                            this.pagination = response.data.pagination;
                            console.log(response);
                        })
                        .catch(error => {
                            console.log(error.response.data);
                        });
                    },
        fetchStudents() {
                this.isLoading = true;
            axios.get('/api/getstudent?page=' + this.pagination.current_page)
                .then(response => {
                    this.students = response.data.data.data;
                    this.pagination = response.data.pagination;
                    console.log(this.students)
                    this.isLoading = false;
                })
                .catch(error => {

                    console.log(error.response);
                });
        },

        transcriptShow(){
          axios.get('/api/showTranscript');
        }
    },

    mounted() {
        this.fetchStudent();

    },
}
</script>

<style scoped>

</style>
