<template>
<div>
  <router-link class="btn btn-dark fa fa-caret-left" to="/transcript/index"><span class="fa fa-caret-left"></span><span class="fa fa-caret-left"></span></router-link>
    <hr>    
  <button class="btn btn-info pull-right" @click="print()">print</button>  
      <DIV  class="box" style="max-width: 75%;border:none;padding:4%">
         <H3><b>OFFICIAL TRANSCRIPT</b></H3>
         <P style="font-size:smaller;margin-top: -2%;"><B>Not valid without the seal of SBS Swiss Business School</B></P>
         <strong style="font-size:smaller">Academic Year:</strong>
         <TABLE cellpadding=0 cellspacing=0>
         
            <tr>
               <td>
                  <strong style="font-size:smaller;">Student Name:</strong>
               </td>
            </tr>
            <tr>
               <td>
                  <strong style="font-size:smaller;">Student Number:</strong>
               </td>
            </tr>
            <tr>
               <td>
                  <strong style="font-size:smaller;">Birth Date:</strong>
               </td>
            </tr>
            <tr>
               <td>
                  <strong style="font-size:smaller;">Report Date:</strong>
               </td>
            </tr>
            <TR >
               <TD>
                  <P>&nbsp;</P>
               </TD>
               <TD>
                  <P >&nbsp;</P>
               </TD>
               <TD >
                  <h4 ><b>#Type!</b></h4>
               </TD>
               <TD>
                  <P>&nbsp;</P>
               </TD>
            </TR>
            <TR  style="border-bottom:2px solid black;">
               <TD>
                  <b>Code</b>
               </TD>
               
               <TD>
                  <b>Course</b>
               </TD>
               <TD>
                  <P>&nbsp;</P>
               </TD>
               <TD>
                  <b> Percentage Grade</b>
               </TD>
               <TD>
                  <b>Grade</b>
               </TD>
               <TD>
                  <b>SBS Credits</b>
               </TD>
            </TR>
            <TR>
               <TD>
                  <P>&nbsp;</P>
               </TD>
               <TD>
                  <P>&nbsp;</P>
               </TD>
               <TD>
                  <P>&nbsp;</P>
               </TD>
               <TD>
                  <P>&nbsp;</P>
               </TD>
               <TD>
                  <P>&nbsp;</P>
               </TD>
               <TD>
                  <P>&nbsp;</P>
               </TD>
            </TR>
            <TR style="border-bottom:2pt solid black;" >
               <TD>
                  <P>&nbsp;</P>
               </TD>
               <TD>
                  <P>&nbsp;</P>
               </TD>
               <TD>
                  <P>&nbsp;</P>
               </TD>
               <TD>
                  <P>&nbsp;</P>
               </TD>
               <TD>
                  <P>&nbsp;</P>
               </TD>
               <TD>
                  <b>
                     #Type!
                  </b>
               </TD>
               
               <TD>
                  <P>&nbsp;</P>
               </TD>
            </TR>
            <TR style="border-bottom:2pt solid black;">
               <TD colspan=2 >
                  <P>Grade point average: <SPAN>#Num!</SPAN></P>
               </TD>
               <TD>
                  <P>&nbsp;</P>
               </TD>
               <TD>
                  <P>&nbsp;</P>
               </TD>
               <TD>
                  <P>&nbsp;</P>
               </TD>
               <TD>
                  <b>
                  <P>Total:</P>

                  </b>
               </TD>
               
               <TD>
                  <P>&nbsp;</P>
               </TD>
            </TR>
            <TR>
               <TD>
                  <P>&nbsp;</P>
               </TD>
               <TD>
                  <P>&nbsp;</P>
               </TD>
               <TD>
                  <P>&nbsp;</P>
               </TD>
               <TD>
                  <P>&nbsp;</P>
               </TD>
               <TD>
                  <P>&nbsp;</P>
               </TD>
            </TR>
         </TABLE>
         <P>Registrar</P>
         <P>This document is issued in Zurich, Switzerland</P>
         <P>Kawtar Abou Eddahab</P>
      </DIV>
</div>
</template>
<script>
import { Printd } from 'printd'
export default {
   data(){
      return{
         cssText: `
      .box {
        font-family: sans-serif;
        width: 500px;
        border: solid 1px #ccc;
        text-align: center;
        padding: 1em;
        margin: 2em auto;
        height: 700px;

      }`
      }
   },
    mounted () {
    this.d = new Printd()

    // Print dialog events (v0.0.9+)
    const { contentWindow } = this.d.getIFrame()

    contentWindow.addEventListener(
      'beforeprint', () => console.log('before print event!')
    )
    contentWindow.addEventListener(
      'afterprint', () => console.log('after print event!')
    );
  },
   methods: {
    
    print () {
      this.d.print( this.$el, this.cssText)
    }
 
}
}
</script>


<style lang="scss" scoped>
        
          .box {
    font-family: sans-serif;
    max-width: 600px;
    border: solid 1px #ccc;
    text-align: center;
    padding: 1em;
    margin: 2em auto;
    height: 700px;
  }
</style>
