<template>
<div class="container-fluid shadow">
<div style="width:100%">
    <div class="vld-parent">
        <loading :active.sync="isLoading"
        :is-full-page="fullPage"></loading>
    </div>
    <h2 style="display:inline">Professor List</h2>
    
    <div class="form-group pull-right col-md-4" style="display:inline">
    <input type="text" class="search form-control" v-model="search" name="search"   placeholder="Quick Search">
    </div>
    <table class="table table-hover table-bordered results myTable"  >
    <thead>
    <tr class="header">
        <th>Name</th>
        <th>Position</th>
        <th>Action</th>
    </tr>
    </thead>


        <tbody v-for="(professor, index) in professors" v-bind:key="index">


            <tr>
            <td>{{professor.FirstName }}
                {{professor.LastName}}</td>
            <td>{{professor.Position}}</td>

            <td><button class="btn btn-info btn btn-sm professorEdit"  v-on:click="pUpdate(index);$refs.show_edit_professor.click()"><span class="fa fa-edit" ></span></button><button class="btn btn-danger btn btn-sm" v-on:click="deletestudent(index)"><span class="fa fa-trash"></span></button></td>
            </tr>

        </tbody>
    </table>
    <pagination v-if="pagination.last_page > 1" :pagination="pagination" :offset="5"  @paginate="fetchProfessor()"></pagination>
</div>
</div>
</template>
<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
export default {
     components: {
            Loading
        },
 data() {
       return {
        show_edit_professor:'',
        search: '',
        professors: {},
        pagination: {
            'current_page': 1
        },
         isLoading: false,
         fullPage: true
        }
    },
    created() {
       this.fetchProfessor();
    },
    watch: {
        search(after) {
            if(this.search.length>0)
                this.fetch();
            else
                this.fetchProfessor();
        },
          },
    methods: {
          searchData(){           
            if(this.search.length>0)
                this.fetchProfessor();
            else
                this.getBooks();
        },
        paginateData(){
             this.pagination.current_page=1;
            if(this.search.length>0)
                this.fetchProfessor();
            else
                this.getBooks();
        },
        pUpdate(index)
        {
           var id = this.professors[index].ID;
           this.$router.push({path: '/professor/edit/'+ id});

},
deletestudent(index)
        {
          let conf = confirm("Do you ready want to delete this Professor?");
            if (conf === true) {
                axios.delete('/api/deleteprofessor/' + this.professors[index].ID)
                    .then(response => { 
                         this.fetchProfessor();     
                        this.professors.splice(index, 1);     
                    })
                    .catch(error => {
                    });
            }
        },
        fetchProfessors(){
            if(this.search.length>0)
                this.fetch();
            else
                this.fetchProfessor();
        },
          fetch() {
            axios.get('/api/searchpro?page=' + this.pagination.current_page,{ params: { search: this.search} })
                .then(response => {
                    console.log(response)
                    this.professors = response.data.data.data;
                    this.pagination = response.data.pagination;
                    console.log(response);
                })
                .catch(error => {
                    console.log(error.response.data);
                });
            },
        fetchProfessor() {
            this.isLoading = true;
            axios.get('/api/getprofessor?page=' + this.pagination.current_page)
                .then(response => {
                    this.professors = response.data.data.data;
                    this.pagination = response.data.pagination;
                    console.log(this.professors)
                    this.isLoading = false;
                })
                .catch(error => {

                    console.log(error.response.data);
                });
        },
        fetchProf(){
            if(this.search.length>0)
                this.fetch();
            else
                this.fetchProfessor();
        },
    },
    mounted() {
        this.fetchProf();

    },
}
</script>

<style scoped>

</style>