<template>
<div class="container-fluid shadow" style="padding-bottom:5%">
    <div  style="width:100%">
        <div class="vld-parent">
        <loading :active.sync="isLoading"
        :is-full-page="fullPage"></loading>
    </div>
        <router-link to="/staff/create" class="btn btn-xs btn-primary pull-right col-md-2" >Add Staff</router-link>
      
        <br>
          <hr>
        <div class="form-group pull-right col-md-4">
        <input type="text" class="search form-control" v-model="search" name="search"   placeholder="Quick Search">
        </div>
        <table class="table table-hover table-bordered results myTable"  >
        <thead>
        <tr class="header">
            <th>Position</th>
            <th>Name</th>
            <th>Action</th>
        </tr>

        </thead>
        <tbody v-for="(staff, index) in staff" v-bind:key="index">
            <tr>
            <td>{{staff.Position}}</td>
            <td>{{staff.FirstName }}&nbsp;{{staff.LastName}}</td>
            <td><button class="btn btn-info btn btn-sm"  v-on:click="updateStaff(index)"><span class="fa fa-edit" ></span></button><button class="btn btn-danger btn btn-sm" v-on:click="deletestaff(index)"><span class="fa fa-trash"></span></button></td>
            </tr>

        </tbody>
        </table>


        <pagination v-if="pagination.last_page > 1" :pagination="pagination" :offset="5"  @paginate="fetchstaff()"></pagination>

    </div>
</div>
</template>

<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
export default {
    components: {
            Loading
        },

 data() {

       return {
        results: [],
        search: '',
        staff: {},
        pagination: {
            'current_page': 1
        },
         isLoading: false,
         fullPage: true
        }
    },
    created() {
       this.fetchstaff();
    },
    watch: {
        search(after) {
            if(this.search.length>0)
                this.fetch();
            else
                this.fetchstaff();
        }
    },
    methods: {
        updateStaff(index)
        {
           var id = this.staff[index].ID;
           this.$router.push({path:'/staff/edit/'+id});
        },
        deletestaff(index)
        {
          let conf = confirm("Do you ready want to delete this staff?");
            if (conf === true) {
                 var id = this.staff[index].ID;
                axios.delete('/api/deletestaff/'+id)
                    .then(response => {
                        this.staff.splice(index, 1);
                    })
                    .catch(error => {
                    });
            }
        },
        fetchstaff(){
            this.pagination.current_page=1;
            if(this.search.length>0)
                this.fetch();
           else
                this.fetchstaff();
        },
          fetch() {
            axios.get('/api/searchstaff?page=' + this.pagination.current_page,{ params: { search: this.search} })
                .then(response => {
                    console.log(response)
                    this.staff = response.data.data.data;
                    this.pagination = response.data.pagination;
                    console.log(response);
                })
                .catch(error => {
                    console.log(error.response.data);
                });
            },

        fetchstaff() {
             this.isLoading = true;
            axios.get('/api/stafflist?page=' + this.pagination.current_page)
                .then(response => {
                    this.staff = response.data.data.data;
                    this.pagination = response.data.pagination;
                    console.log(this.staff)
                     this.isLoading = false;
                })
                .catch(error => {

                    console.log(error.response.data);
                });
        }
    },



    mounted() {
        this.fetchstaff();

    },
}
</script>

<style scoped>

</style>
