<template>
<div> 
 <router-link class="btn btn-dark fa fa-caret-left" to="/staff/index"><span class="fa fa-caret-left"></span><span class="fa fa-caret-left"></span></router-link>
<hr>
   <div style="width:100%">
      <div class="container">
         <h3><b><u>Staff Update</u></b></h3>
         <br>
         <form>
            <div class="container-fluid shadow">
               <div class="row">
                  <div class="col-md-10">
                        <div class="row">
                           <div class="col-md-3">
                           <div class="form-group brdbot">
                              <h3  style="margin-left:5%">Photo</h3>
                              <div class="controls col-sm-12">
                                 <img :src="image_url" alt="" @click="$refs.staff_image.click()"   style="cursor:pointer">
                              </div>
                                 <input type="file"   ref="staff_image" v-on:change="onImageChange" style="display:none">
                           </div>
                           <div class="controls col-sm-8">
                              <p id="field6" data-default-label="Header" data-default-is-header="true" data-control-type="header"></p>
                              <span id="errId1" class="error"></span>
                           </div>
                           </div>
                           <div class="col-md-9">
                              <div class="form-group">
                                 <label class="control-label control-label-left col-sm-3" for="Title">Title<span class="req"> *</span></label>
                                 <div class="controls col-sm-9">
                                   <select id="Title" name="Title" v-model="staff_object.Title" class="form-control" data-role="select" data-parsley-errors-container="#errId3">
                                       <option value="Mr.">Mr.</option>
                                       <option value="Mrs.">Mrs.</option>
                                       <option value="Sir">Sir</option>
                                       <option value="Madam">Madam</option>
                                       <option value="Option 3">Ms.</option>
                                       <option value="Option 4">Miss</option>
                                       <option value="Option 3">Dr.</option>
                                    </select>
                                    <span id="errId3" class="error"></span>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label class="control-label control-label-left col-sm-3" for="FirstName">First Name<span class="req"> *</span></label>
                                 <div class="controls col-sm-9">
                                    <input id="FirstName" name="FirstName" v-model="staff_object.FirstName"  type="text" class="form-control k-textbox" data-role="text" required="required" data-parsley-errors-container="#errId4"><span id="errId4" class="error"></span>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label class="control-label control-label-left col-sm-3" for="LastName">Last Name<span class="req"> *</span></label>
                                 <div class="controls col-sm-9">
                                    <input id="LastName" name="LastName" v-model="staff_object.LastName"  type="text" class="form-control k-textbox" data-role="text" required="required" data-parsley-errors-container="#errId5"><span id="errId5" class="error"></span>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label class="control-label control-label-left col-sm-3" for="BirthDate">Birth Date<span class="req"> *</span></label>
                                 <div class="controls col-sm-9">
                                    <input id="BirthDate" name="BirthDate" v-model="staff_object.BirthDate"  type="text" class="form-control k-textbox" data-role="text" required="required" data-parsley-errors-container="#errId7"><span id="errId7" class="error"></span>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label class="control-label control-label-left col-sm-3" for="BirthPlace">Birth Place<span class="req"> *</span></label>
                                 <div class="controls col-sm-9">
                                    <input id="BirthPlace" name="BirthPlace" v-model="staff_object.BirthPlace"  type="text" class="form-control k-textbox" data-role="text" required="required" data-parsley-errors-container="#errId8"><span id="errId8" class="error"></span>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label class="control-label control-label-left col-sm-3" for="BirthCountry">Birth Country<span class="req"> *</span></label>
                                 <div class="controls col-sm-9">
                                   <select class="form-control" name="BirthCountry" v-model="staff_object.BirthCountry" >
                                    <option v-for="(country , index) in allCountries" v-bind:key="index">{{country.printable_name}}</option>
                                    </select>
                                    <span id="errId9" class="error"></span>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="form-group">
                           <label class="control-label control-label-left col-sm-3" for="Department">Department<span class="req"> *</span></label>
                           <div class="controls col-sm-9">
                              <select id="Department"  name="Department" v-model="staff_object.Department" class="form-control" data-role="select" required="required" data-parsley-errors-container="#errId9">
                                 <option value=""></option>
                                 <option value="Option 1">Option 1</option>
                                 <option value="Option 2">Option 2</option>
                                 <option value="Option 3">Option 3</option>
                                 <option value="Option 4">Option 4</option>
                              </select>
                              <span id="errId9" class="error"></span>
                           </div>
                        </div>
                        <div class="form-group">
                           <label class="control-label control-label-left col-sm-3" for="Position">Position<span class="req"> *</span></label>
                           <div class="controls col-sm-9">
                              <select id="Position" name="Position" v-model="staff_object.Position" class="form-control" data-role="select" required="required" data-parsley-errors-container="#errId9">
                                 <option value=""></option>
                                 <option value="Option 1">Option 1</option>
                                 <option value="Option 2">Option 2</option>
                                 <option value="Option 3">Option 3</option>
                                 <option value="Option 4">Option 4</option>
                              </select>
                              <span id="errId9" class="error"></span>
                           </div>
                        </div>
                        <div class="form-group">
                           <label class="control-label control-label-left col-sm-3" for="StreetAddress">Street Address<span class="req"> *</span></label>
                           <div class="controls col-sm-9">
                              <input id="StreetAddress" type="text" name="StreetAddress" v-model="staff_object.StreetAddress" class="form-control k-textbox" data-role="text" required="required" data-parsley-errors-container="#errId10"><span id="errId10" class="error"></span>
                           </div>
                        </div>
                        <div class="form-group">
                           <label class="control-label control-label-left col-sm-3" for="City">City<span class="req"> *</span></label>
                           <div class="controls col-sm-9">
                              <input id="City" name="City" v-model="staff_object.City" type="text" class="form-control k-textbox" data-role="text" required="required" data-parsley-errors-container="#errId11"><span id="errId11" class="error"></span>
                           </div>
                        </div>
                        <div class="form-group">
                           <label class="control-label control-label-left col-sm-3" for="Zip">Zip<span class="req"> *</span></label>
                           <div class="controls col-sm-9">
                              <input id="Zip" name="Zip" v-model="staff_object.Zip" type="text" class="form-control k-textbox" data-role="text" required="required" data-parsley-errors-container="#errId12"><span id="errId12" class="error"></span>
                           </div>
                        </div>
                        <div class="form-group">
                           <label class="control-label control-label-left col-sm-3" for="Country">Country<span class="req"> *</span></label>
                           <div class="controls col-sm-9">
                               <select class="form-control" name="Country" v-model="staff_object.Country">
                                    <option v-for="(country , index) in allCountries" v-bind:key="index" selected>{{country.printable_name}}</option>
                              </select>
                              <span id="errId13" class="error"></span>
                           </div>
                        </div>
                        <div class="form-group">
                           <label class="control-label control-label-left col-sm-3" for="Phone">Phone<span class="req"> *</span></label>
                           <div class="controls col-sm-9">
                              <input id="Phone" name="Phone" v-model="staff_object.Phone" type="text" class="form-control k-textbox" data-role="text" required="required" data-parsley-errors-container="#errId14"><span id="errId14" class="error"></span>
                           </div>
                        </div>
                        <div class="form-group">
                           <label class="control-label control-label-left col-sm-3" for="Mobile">Mobile<span class="req"> *</span></label>
                           <div class="controls col-sm-9">
                              <input id="Mobile" name="Mobile" v-model="staff_object.Mobile" type="text" class="form-control k-textbox" data-role="text" required="required" data-parsley-errors-container="#errId15"><span id="errId15" class="error"></span>
                           </div>
                        </div>
                        <div class="form-group">
                           <label class="control-label control-label-left col-sm-3" for="Email">Email<span class="req"> *</span></label>
                           <div class="controls col-sm-9">
                              <input id="Email" name="Email" v-model="staff_object.Email" type="text" class="form-control k-textbox" data-role="text" required="required" data-parsley-errors-container="#errId16"><span id="errId16" class="error"></span>
                           </div>
                        </div>
                        <div class="form-group">
                           <label class="control-label control-label-left col-sm-3" for="Email2">Email2<span class="req"> *</span></label>
                           <div class="controls col-sm-9">
                              <input id="Email2" name="Email2" v-model="staff_object.Email2" type="text" class="form-control k-textbox" data-role="text" required="required" data-parsley-errors-container="#errId17"><span id="errId17" class="error"></span>
                           </div>
                        </div>
                        <div class="form-group">
                           <label class="control-label control-label-left col-sm-3" for="Email3">Email3<span class="req"> *</span></label>
                           <div class="controls col-sm-9">
                              <input id="Email3" name="Email3" v-model="staff_object.Email3" type="text" class="form-control k-textbox" data-role="text" required="required" data-parsley-errors-container="#errId18"><span id="errId18" class="error"></span>
                           </div>
                        </div>
                        <div class="form-group">
                           <label class="control-label control-label-left col-sm-3" for="Notes">Web Address<span class="req"> *</span></label>
                           <div class="controls col-sm-9">
                              <textarea id="Notes" name="Notes" v-model="staff_object.Notes" rows="3" class="form-control k-textbox" data-role="textarea" required="required" data-parsley-errors-container="#errId19"></textarea><span id="errId19" class="error"></span>
                           </div>
                        </div>
                     </div>
                        <div class="col-md-3 text-right" style="margin-left:40%;padding-bottom:5%;">
                           <button class="btn btn-primary btn-block" v-on:click="updateStaff()">save</button>
                        </div>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>
</template>
<script>
export default {
   data(){
      return{
          staff_object:{
                        FirstName:null,
                        LastName:null,
                        Title:null,
                        BirthDate:null,
                        BirthPlace:null,
                        BirthCountry:null,
                        StreetAddress:null,
                        City:null,
                        Zip:null,
                        Country:null,
                        Phone:null,
                        Mobile:null,
                        Fax:null,
                        Email:null,
                        Email2:null,
                        Emai:null,
                        WebAddress:null,
                        Photo:null,
                        Department:null,
                        Position:null,
                }, 
      
          allCountries: '',
          image_url:'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrp-DMAo3_QzhMp5cqgsYqW8nGs38dbbwSlqO1C64_-9F8GCfX',
          staff_image:'',
      
      
      }
   },
   created(){
   this.fetchcountries();
   this.fetchStaff();
   },
   methods:{
      fetchcountries(){
        axios.get('/api/getAllCountries')
                .then(response => {
                   this.allCountries = response.data;
                    console.log(this.allCountries)
                })
                .catch(error => {
                    console.log(error.response.data);
                });

   },
  fetchStaff(){
        axios.get('/api/getStaffByID/'+this.$route.params.id)
                .then(response => {
               this.staff_object = response.data;
               console.log(this.staff_object)
                })
                .catch(error => {
                    console.log(error.response.data);
                });

   },
   onImageChange(e) {
              this.staff_image = this.$refs.staff_image.files[0];
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                    this.file = files;
                this.createImage(files[0]);
            },
            createImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.image_url = e.target.result;
                };
                reader.readAsDataURL(file);
            },
                  updateStaff(){
		               axios.post('/api/updateStaff/'+this.$route.params.id, this.staff_object)
                    .then( response => {
                        alert('success');
                    }, error => {
                        console.log('erro');
                    });
		},
   }
}
</script>
