<template>
    <div> 
 <router-link class="btn btn-dark fa fa-caret-left" to="/professor/index"><span class="fa fa-caret-left"></span><span class="fa fa-caret-left"></span></router-link>
<hr>
   <div class="container-fluid shadow">
      <h2 style="display:inline"><b><u>Update Professor</u></b></h2>
      <button class="btn btn-primary pull-right" @click="saveProfessor()">Save</button>
      <hr>
      <form action="../submit" id="formentry" class="form-horizontal" role="form" data-parsley-validate novalidate>
         <div class="row" id="tab1" data-role="tab">
         <ul class="nav nav-tabs">
               <li class="nav-item"><a href="#tabContent2"  class="nav-link active show"  data-toggle="tab" id="profesor_info" style="margin-top:3%">Personal Info</a></li>
               <li class="nav-item"><a data-toggle="tab" class="nav-link" href="#tabContent3" id="tabLabel3">Business Info</a></li>
               <li class="nav-item"><a href="#tabContent4" class="nav-link" data-toggle="tab" id="tabLabel4">Remarks</a></li>
               <li class="nav-item"><a id="tabLabel5" class="nav-link" href="#tabContent5" data-toggle="tab">Courses</a></li>
            </ul>
         </div>
         <div class="tab-content">
            <div class="tab-pane fade in active show" id="tabContent2">
               <div class="">
                  <br />
                  <div class="row">
                     <div class="col-md-2">
                        <div class="form-group brdbot">
                           <div class="form-group brdbot">
                              <h3  style="margin-left:5%">Photo</h3>
                              <div class="controls col-sm-12">
                                 <img :src="image_url" alt="" @click="$refs.professor_image.click()"  style="cursor:pointer">
                              </div>
                                 <input type="file"   ref="professor_image" v-on:change="onImageChange" style="display:none">
                           </div>
                           <div class="controls col-sm-8">
                              <p id="field6" data-default-label="Header" data-default-is-header="true" data-control-type="header"></p>
                              <span id="errId1" class="error"></span>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-9">
                        <div class="row">
                           <div class="col-md-12">
                              <div class="form-group">
                                 <label class="control-label control-label-left col-sm-3" for="Title:">Title:</label>
                                 <div class="controls col-sm-9">
                                    <select id="Title:" class="form-control" data-role="select" data-parsley-errors-container="#errId2" name="Title" v-model="professor_object.Title"> 
                                       <option value="Mr.">Mr.</option>
                                       <option value="Mrs.">Mrs.</option>
                                       <option value="Sir">Sir</option>
                                       <option value="Madam">Madam</option>
                                       <option value="Option 3">Ms.</option>
                                       <option value="Option 4">Miss</option>
                                       <option value="Option 3">Dr.</option>
                                    </select>
                                    <span id="errId2" class="error"></span>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label class="control-label control-label-left col-sm-3" for="FirstName:">First Name:<span class="req" style="color:red"> *</span></label>
                                 <div class="controls col-sm-9">
                                    <input id="FirstName:" type="text" class="form-control k-textbox" data-role="text" required="required" data-parsley-errors-container="#errId3" name="FirstName" v-model="professor_object.FirstName"><span id="errId3" class="error"></span>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label class="control-label control-label-left col-sm-3" for="LastName">Last Name<span class="req" style="color:red"> *</span></label>
                                 <div class="controls col-sm-9">
                                    <input id="LastName" type="text" name="LastName" v-model="professor_object.LastName" class="form-control k-textbox" data-role="text" required="required" data-parsley-errors-container="#errId4"><span id="errId4" class="error"></span>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label class="control-label control-label-left col-sm-3" for="BirthDate:">Birth Date:<span class="req" style="color:red"> *</span></label>
                                 <div class="controls col-sm-9">
                                    <input id="BirthDate:" type="text" name="BirthDate" v-model="professor_object.BirthDate" class="form-control k-textbox" data-role="text" required="required" data-parsley-errors-container="#errId5"><span id="errId5" class="error"></span>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label class="control-label control-label-left col-sm-3" for="BirthPlace:">Birth Place:</label>
                                 <div class="controls col-sm-9">
                                    <input id="BirthPlace:" type="text" name="BirthPlace" v-model="professor_object.BirthPlace" class="form-control k-textbox" data-role="text" data-parsley-errors-container="#errId6"><span id="errId6" class="error"></span>
                                 </div>
                              </div>
                              <div class="form-group" style="display: block;">
                                 <label class="control-label control-label-left col-sm-3" for="BirthCountry">Birth Country</label>
                                 <div class="controls col-sm-9">
                                    
                                       <select class="form-control" name="Country" v-model="professor_object.Country">
                                       <option v-for="(country,index) in allCountries" v-bind:key="index">{{country.printable_name}}</option>
                                       </select>
                                    <span id="errId7" class="error"></span>
                                 </div>
                              </div>
                              <div class="form-group" style="display: block;">
                                 <label class="control-label control-label-left col-sm-3" for="Department">Department</label>
                                 <div class="controls col-sm-9">
                                    <select id="Department" name="Department" v-model="professor_object.Department" class="form-control" data-role="select" data-parsley-errors-container="#errId8">
                                       <option value=""></option>
                                       <option value="Option 1">Option 1</option>
                                       <option value="Option 2">Option 2</option>
                                       <option value="Option 3">Option 3</option>
                                       <option value="Option 4">Option 4</option>
                                    </select>
                                    <span id="errId8" class="error"></span>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label class="control-label control-label-left col-sm-3" for="Position">Position</label>
                                 <div class="controls col-sm-9">
                                    <select id="Position" name="Position" v-model="professor_object.Position" class="form-control" data-role="select" data-parsley-errors-container="#errId9">
                                       <option value=""></option>
                                       <option value="Option 1">Option 1</option>
                                       <option value="Option 2">Option 2</option>
                                       <option value="Option 3">Option 3</option>
                                       <option value="Option 4">Option 4</option>
                                    </select>
                                    <span id="errId9" class="error"></span>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label class="control-label control-label-left col-sm-3" for="StreetAddress">Street Address<span class="req" style="color:red"> *</span></label>
                                 <div class="controls col-sm-9">
                                    <input id="StreetAddress" name="StreetAddress" v-model="professor_object.StreetAddress" type="text" class="form-control k-textbox" data-role="text" required="required" data-parsley-errors-container="#errId10"><span id="errId10" class="error"></span>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label class="control-label control-label-left col-sm-3" for="City:">City:<span class="req" style="color:red"> *</span></label>
                                 <div class="controls col-sm-9">
                                    <input id="City:" name="City" v-model="professor_object.City" type="text" class="form-control k-textbox" data-role="text" required="required" data-parsley-errors-container="#errId11"><span id="errId11" class="error"></span>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label class="control-label control-label-left col-sm-3" for="Zip:">Zip:<span class="req" style="color:red"> *</span></label>
                                 <div class="controls col-sm-9">
                                    <input id="Zip:" name="Zip" v-model="professor_object.Zip" type="text" class="form-control k-textbox" data-role="text" required="required" data-parsley-errors-container="#errId12"><span id="errId12" class="error"></span>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label class="control-label control-label-left col-sm-3" for="Country">Country</label>
                                 <div class="controls col-sm-9">
                                  
                                       <select class="form-control"  name="Country" v-model="professor_object.Country">
                                       <option v-for="(country,index) in allCountries" v-bind:key="index">{{country.printable_name}}</option>
                                      </select>
                                    <span id="errId13" class="error"></span>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label class="control-label control-label-left col-sm-3" for="Phone:">Phone:</label>
                                 <div class="controls col-sm-9">
                                    <input id="Phone:" name="Phone" v-model="professor_object.Phone" type="text" class="form-control k-textbox" data-role="text" data-parsley-errors-container="#errId14"><span id="errId14" class="error"></span>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label class="control-label control-label-left col-sm-3" for="Mobile:">Mobile:</label>
                                 <div class="controls col-sm-9">
                                    <input id="Mobile:" name="Mobile" v-model="professor_object.Mobile" type="text" class="form-control k-textbox" data-role="text" data-parsley-errors-container="#errId15"><span id="errId15" class="error"></span>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label class="control-label control-label-left col-sm-3" for="Fax">Fax</label>
                                 <div class="controls col-sm-9">
                                    <input id="Fax" name="Fax" v-model="professor_object.Fax" type="text" class="form-control k-textbox" data-role="text" data-parsley-errors-container="#errId16"><span id="errId16" class="error"></span>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label class="control-label control-label-left col-sm-3" for="Email:">Email:</label>
                                 <div class="controls col-sm-9">
                                    <input id="Email:" name="Email" v-model="professor_object.Email" type="text" class="form-control k-textbox" data-role="text" data-parsley-errors-container="#errId17"><span id="errId17" class="error"></span>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label class="control-label control-label-left col-sm-3" for="Email2:">Email2:</label>
                                 <div class="controls col-sm-9">
                                    <input id="Email2:" name="Email2" v-model="professor_object.Email2" type="text" class="form-control k-textbox" data-role="text" data-parsley-errors-container="#errId18"><span id="errId18" class="error"></span>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label class="control-label control-label-left col-sm-3" for="Email3:">Email3:</label>
                                 <div class="controls col-sm-9">
                                    <input id="Email3:" name="Email3" v-model="professor_object.Email3" type="text" class="form-control k-textbox" data-role="text" data-parsley-errors-container="#errId19"><span id="errId19" class="error"></span>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label class="control-label control-label-left col-sm-3" for="WebAddress">Web Address</label>
                                 <div class="controls col-sm-9">
                                    <input id="WebAddress" name="WebAddress" v-model="professor_object.WebAddress" type="text" class="form-control k-textbox" data-role="text" data-parsley-errors-container="#errId20"><span id="errId20" class="error"></span>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <label class="control-label control-label-left col-sm-3" for="Notes:">Notes:</label>
                                 <div class="controls col-sm-9">
                                    <textarea id="Notes:" name="Notes" v-model="professor_object.Notes" rows="3" class="form-control k-textbox" data-role="textarea" style="margin-top: 0px; margin-bottom: 0px; height: 96px;" data-parsley-errors-container="#errId21"></textarea><span id="errId21" class="error"></span>
                                 </div>
                              </div>
                           </div>
                           <!-- <div class="col-md-4"></div> -->
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="tab-pane fade" id="tabContent3">
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-md-7">
                        <div class="form-group">
                           <br>
                           <label class="control-label control-label-left col-sm-3" for="CompanyName:">Company Name:<span class="req" style="color:red"> *</span></label>
                           <div class="controls col-12">
                              <input id="CompanyName:" name="CompanyName" v-model="bussinessObject.CompanyName" type="text" class="form-control k-textbox" data-role="text" required="required" data-parsley-errors-container="#errId22"><span id="errId22" class="error"></span>
                           </div>
                        </div>
                        <div class="form-group">
                           <label class="control-label control-label-left col-sm-3" for="Department">Department<span class="req" style="color:red"> *</span></label>
                           <div class="controls col-12">
                              <input id="Department" name="Department" v-model="bussinessObject.Department" type="text" class="form-control k-textbox" data-role="text" required="required" data-parsley-errors-container="#errId23"><span id="errId23" class="error"></span>
                           </div>
                        </div>
                        <div class="form-group">
                           <label class="control-label control-label-left col-sm-3" for="Position:">Position:<span class="req" style="color:red"> *</span></label>
                           <div class="controls col-12">
                              <input id="Position:" name="Position" v-model="bussinessObject.Position" type="text" class="form-control k-textbox" data-role="text" required="required" data-parsley-errors-container="#errId24"><span id="errId24" class="error"></span>
                           </div>
                        </div>
                        <div class="form-group">
                           <label class="control-label control-label-left col-sm-3" for="StreetAddress:">Street Address:<span class="req" style="color:red"> *</span></label>
                           <div class="controls col-12">
                              <input id="StreetAddress:" name="StreetAddress" v-model="bussinessObject.StreetAddress" type="text" class="form-control k-textbox" data-role="text" required="required" data-parsley-errors-container="#errId25"><span id="errId25" class="error"></span>
                           </div>
                        </div>
                        <div class="form-group">
                           <label class="control-label control-label-left col-sm-3" for="City:">City:<span class="req" style="color:red"> *</span></label>
                           <div class="controls col-12">
                              <input id="City:" name="City" v-model="bussinessObject.City" type="text" class="form-control k-textbox" data-role="text" required="required" data-parsley-errors-container="#errId26"><span id="errId26" class="error"></span>
                           </div>
                        </div>
                        <div class="form-group">
                           <label class="control-label control-label-left col-sm-3" for="Zip:">Zip:<span class="req" style="color:red"> *</span></label>
                           <div class="controls col-12">
                              <input id="Zip:" name="Zip" v-model="bussinessObject.Zip" type="text" class="form-control k-textbox" data-role="text" required="required" data-parsley-errors-container="#errId27"><span id="errId27" class="error"></span>
                           </div>
                        </div>
                        <div class="form-group">
                           <label class="control-label control-label-left col-sm-3" for="Country:">Country:</label>
                           <div class="controls col-12">
                               <select class="form-control" name="Country" v-model="bussinessObject.Country">
                                 <option v-for="(country,index) in allCountries" selected v-bind:key="index" >{{country.printable_name}}</option>             
                              </select>
                              <span id="errId28" class="error"></span>
                           </div>
                        </div>
                        <div class="form-group">
                           <label class="control-label control-label-left col-sm-3" for="Phone:">Phone:</label>
                           <div class="controls col-12">
                              <input id="Phone:" name="Phone" v-model="bussinessObject.Phone" type="text" class="form-control k-textbox" data-role="text" data-parsley-errors-container="#errId29"><span id="errId29" class="error"></span>
                           </div>
                        </div>
                        <div class="form-group">
                           <label class="control-label control-label-left col-sm-3" for="Mobile:">Mobile:</label>
                           <div class="controls col-12">
                              <input id="Mobile:" name="Mobile" v-model="bussinessObject.Mobile" type="text" class="form-control k-textbox" data-role="text" data-parsley-errors-container="#errId30"><span id="errId30" class="error"></span>
                           </div>
                        </div>
                        <div class="form-group">
                           <label class="control-label control-label-left col-sm-3" for="Fax:">Fax:</label>
                           <div class="controls col-12">
                              <input id="Fax:" name="Fax" v-model="bussinessObject.Fax" type="text" class="form-control k-textbox" data-role="text" data-parsley-errors-container="#errId31"><span id="errId31" class="error"></span>
                           </div>
                        </div>
                        <div class="form-group">
                           <label class="control-label control-label-left col-sm-3" for="Email:">Email:</label>
                           <div class="controls col-12">
                              <input id="Email:" name="Email" v-model="bussinessObject.Email" type="text" class="form-control k-textbox" data-role="text" data-parsley-errors-container="#errId32"><span id="errId32" class="error"></span>
                           </div>
                        </div>
                        <div class="form-group">
                           <label class="control-label control-label-left col-sm-3" for="WebAddress:">Web Address:</label>
                           <div class="controls col-12">
                              <input id="WebAddress:" name="WebAddress" v-model="bussinessObject.WebAddress" type="text" class="form-control k-textbox" data-role="text" data-parsley-errors-container="#errId33"><span id="errId33" class="error"></span>
                           </div>
                        </div>
                        <div class="form-group brdbot">
                           <div class="controls col-12">
                          <h5>&nbsp;<b><u>Contact Person:</u></b></h5>
                              <p id="field89" data-default-label="Header" data-default-is-header="true" data-control-type="header"></p>
                              <span id="errId34" class="error"></span>
                           </div>
                        </div>
                        <div class="form-group">
                           <label class="control-label control-label-left col-sm-3" for="Title:">Title:</label>
                           <div class="controls col-12">
                              <select id="Title:" name="FirstName"  class="form-control" data-role="select" data-parsley-errors-container="#errId35">
                                 <option value="Mr.">Mr.</option>
                                 <option value="Mrs.">Mrs.</option>
                                 <option value="Sir">Sir</option>
                                 <option value="Madam">Madam</option>
                                 <option value="Option 3">Ms.</option>
                                 <option value="Option 4">Miss</option>
                                 <option value="Option 3">Dr.</option>
                              </select>
                              <span id="errId35" class="error"></span>
                           </div>
                        </div>
                        <div class="form-group">
                           <label class="control-label control-label-left col-sm-3" for="FirstName:">First Name:<span class="req" style="color:red"> *</span></label>
                           <div class="controls col-12">
                              <input id="ContactPersonFirstName:" name="ContactPersonFirstName" v-model="bussinessObject.ContactPersonFirstName" type="text" class="form-control k-textbox" data-role="text" required="required" data-parsley-errors-container="#errId36"><span id="errId36" class="error"></span>
                           </div>
                        </div>
                        <div class="form-group">
                           <label class="control-label control-label-left col-sm-3" for="LastName:">Last Name:<span class="req" style="color:red"> *</span></label>
                           <div class="controls col-12">
                              <input id="ContactPersonLastName:" name="ContactPersonLastName" v-model="bussinessObject.ContactPersonLastName" type="text" class="form-control k-textbox" data-role="text" required="required" data-parsley-errors-container="#errId37"><span id="errId37" class="error"></span>
                           </div>
                        </div>
                        <div class="form-group">
                           <label class="control-label control-label-left col-sm-3" for="Department:">Department:<span class="req" style="color:red"> *</span></label>
                           <div class="controls col-12">
                              <input id="ContactPersonDepartment:" name="ContactPersonDepartment" v-model="bussinessObject.ContactPersonDepartment" type="text" class="form-control k-textbox" data-role="text" required="required" data-parsley-errors-container="#errId38"><span id="errId38" class="error"></span>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="form-group">
                           <label class="control-label" for="Notes:">Notes:</label>
                           <div class="controls">
                              <textarea id="Notes:" name="Notes" v-model="bussinessObject.Notes" rows="3" class="form-control k-textbox" data-role="textarea" style="margin-top: 0px; margin-bottom: 0px; height: 694px;" data-parsley-errors-container="#errId39"></textarea><span id="errId39" class="error"></span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="tab-pane fade" id="tabContent4">
               <div class="">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="form-group">
                           <label class="control-label" for="Remarks:">Remarks:</label>
                           <div class="controls">
                              <textarea id="Remarks:" name="Remarks" v-model="professor_object.Remarks" rows="3" class="form-control k-textbox" data-role="textarea" style="margin-top: 0px; margin-bottom: 0px; height: 442px;" data-parsley-errors-container="#errId40"></textarea><span id="errId40" class="error"></span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="tab-pane fade" id="tabContent5">
               <div class="">
                  <div class="row">
                     <div class="col-lg-11">
                        <!-- /// start -->
                        <div class="form-group">
                           <table class="table table-borderd">
                              <thead>
                                 <th style="width:25%">Course</th>
                                 <th style="width:25%">Program</th>
                                 <th style="width:25%">Academic Year </th>
                                 <th style="width:10%">Term</th>
                                 <th style="width:15%">
                                    <input type="button" class="btn btn-primary" @click="addLine()" value="Add Course">
                                 </th>
                              </thead>
                              <tbody>
                                 <tr v-for="(line, index) in lines" v-bind:key="index" style="width:100%" >
                                    <td style="width:25%">
                                      <input type="text" class="form-control" v-model="line.cTitle" @keyup="searchCourses(index)">
                                      <ul class="list-group">
                                      <li class="list-group-item searchBackground" v-if="line.cId==null" v-for="(result,ind) in courseList" v-bind:key="ind">
                                       <a style="cursor:pointer" role="button" @click="selectedCourse(result,index)">{{ result.CourseTitle}}</a>
                                          </li>
                                       </ul>
                                    </td>
                                       <td style="width:25%">
                                       <input type="text" class="form-control" v-model="line.pTitle" @keyup="searchPrograms(index)">
                                      <ul class="list-group">
                                      <li class="list-group-item searchBackground" v-if="line.pId==null" v-for="(result,ind) in programList" v-bind:key="ind">
                                       <a style="cursor:pointer" role="button" @click="SelectedProgram(result,index)">{{ result.ProgramTitle}}</a>
                                          </li>
                                       </ul>
                                     </td>
                                    <td style="width:25%">
                                       <input type="text" v-model="line.aTitle" class="form-control" @keyup="searchAcademic(index)">
                                       <ul class="list-group">
                                      <li class="list-group-item searchBackground"   v-if="line.aId==null" v-for="(result,ind) in academicList" v-bind:key="ind">
                                       <a style="cursor:pointer" role="button" @click="SelectedAcademicYear(result,index)">{{ result.AcademicYear}}</a>
                                          </li>
                                       </ul>
                                    </td>
                                    <td>
                                       <input type="number" class="form-control" v-model="line.term">
                                    </td>
                                    <td style="width:10%"><span style="color:red; cursor:pointer"  @click="removeLine(index)"><i class="fa fa-times" aria-hidden="true"></i></span></td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                        <!-- search -->
                     </div>
                     <!-- right part -->
                     <!-- <div class="col-md-1">
                     </div> -->
                  </div>
               </div>
            </div>
         </div>
   </form>
   </div>
    </div>
</template>
<script>
   export default{
      
       data(){
           return{
              academicList:[],
              courseList:[],
              programList:[],
              image_url:'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrp-DMAo3_QzhMp5cqgsYqW8nGs38dbbwSlqO1C64_-9F8GCfX',
              professor_image:'',
               allCountries: '',
               search_p_input_hidden: '',
               search_p_input:'', 
              professor_object:
              {
               ID:null,
               FirstName:null,
               LastName:null,
               Title:null,
               BirthDate:null,
               BirthPlace:null,
               BirthCountry:null,
               StreetAddress:null,
               City:null,
               Zip:null,
               Country:null,
               Phone:null,
               Mobile:null,
               Fax:null,
               Email:null,
               Email2:null,
               Email3:null,
               WebAddress:null,
               Photo:null,
               Remarks:null,
               Notes:null,
               Department:null,
               Position:null,
               MailAddress:null,
               SendEmail:null,
               Remarks:null,
              },
               //bussinessinformation
            bussinessObject:{
               ID:null,
               CompanyName:null,
               Department:null,
               Position:null,
               StreetAddress:null,
               Cit:null,
               Zip:null,
               Country:null,
               Phone:null,
               Mobile:null,
               Fax:null,
               Email:null,
               WebAddress:null,
               ContactPersonTitle:null,
               ContactPersonFirstName :null,
               ContactPersonLastName  :null,
               ContactPersonDepartment:null,
               Notes:null,
               StudentI:null,
               ProfessorID:null,
               },
               sem_term:[],
               p_year:[],
               p_year:[],
               course_id:[],
               show_select:false,
               result:null,
               data_results:[],
               search_data: '',
                lines: [],
               blockRemoval: true,
               }
           },
         watch: {
               lines () {
               this.blockRemoval = this.lines.length <= 1
               }
           },
           created(){
               this.getProfessor();
               this.fetchcountries();
               this.pInfo();
           },
       methods:{ 
          pInfo(){
             console.log(this.$emit('click'));
          },
          selectedCourse(course,index){
             this.lines[index].cTitle = course.CourseTitle;
             this.lines[index].cId = course.ID;
             this.courseList =[];
          }
          ,
        searchPrograms(index) {
              this.lines[index].pId = null;
               this.programList=[];
               axios.post('/api/searchProgram',{'search_data':this.lines[index].pTitle})
                  .then(response => {
                     this.programList = response.data;
                })
                .catch(error => {
                    console.log(error.response);
                });
        },
        
          SelectedProgram(program,index){
             this.lines[index].pTitle = program.ProgramTitle;
             this.lines[index].pId = program.ID;
               this.programList =[];
            },
            
          SelectedAcademicYear(program,index){
             this.lines[index].aTitle = program.AcademicYear;
             this.lines[index].aId = program.ID;
               this.academicList =[];
            },
      clear(){
            this.search_data= ''
            this.data_results=''
            },
           searchCourses(me){
              this.lines[me].cId = null;
               this.courseList = [];
               if(this.lines[me].cTitle.length > 1){
               axios.post('/api/searchCourse',{search_data: this.lines[me].cTitle}).then(response => {
                   // console.log(response.data);
               this.courseList = response.data;
               });
               }
           },
           searchAcademic(index){
              this.lines[index].aId = null;
               this.academicList=[];
               axios.post('/api/searchAcademic',{'search_data':this.lines[index].aTitle})
                  .then(response => {
                     this.academicList = response.data;
                })
                .catch(error => {
                    console.log(error.response);
                });
           },
       addLine() {

          this.lines.push({
             ID:-1,
             cId:null,
             cTitle:null,
             pId:null,
             pTitle:null,
             aTitle:null,
             aId:null,
             term:null,
          });
          
         //   let checkEmptyLines = this.lines.filter(line => line.number != null)
         //   if (checkEmptyLines.length >= 1 && this.lines.length > 0) return
         //   this.lines.push({
         //       ID: result.ID,
         //       CourseTitle: result.CourseTitle,
         //       CourseCode: result.CourseCode,
         //   });
         //   this.sem_term.push({value:''});
         //   this.sem_term.push({value:''});
         //   this.sem_term.push({value:''});

           },
       removeLine (lineId) {
            this.lines.splice(lineId, 1)
           }
           ,
           submitProgram()
           {
               console.log(this.sem_term, '')
               console.log(this.lines);
           },
              fetchcountries(){
                
        axios.get('/api/getAllCountries')
                .then(response => {
                   this.allCountries = response.data;
                })
                .catch(error => {
                    console.log(error.response.data);
                });
       }, 

        onImageChange(e) {
              this.professor_image = this.$refs.professor_image.files[0];
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                    this.file = files;
                this.createImage(files[0]);
            },
            createImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.image_url = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            saveProfessor(){
               let formData = new FormData();

               formData.append('image',this.professor_image)
               formData.append('professor',JSON.stringify(this.professor_object));
               formData.append('bussiness',JSON.stringify(this.bussinessObject));
               this.lines.map((lecture)=>{
                  formData.append('lectures[]',JSON.stringify(lecture));
               });
               axios.post('/api/updateProfessor',formData,{
                   headers: {
                    'Content-Type': 'multipart/form-data'
                },
                Accept: 'application/json, text/plain',
               }).then(response=>{
                  console.log(response);
                  alert("Updated Successfully!!");
               }).catch(error=>{
                  console.log(error);
               })
            },
            getProfessor(){
                  console.log(this.$route.params.id);
                  let id = this.$route.params.id;
                  axios.get('/api/editProfessor/'+id).then(res =>{
                     
                     if(res.data.bussiness != null)
                      this.bussinessObject = res.data.bussiness;
                     //  this.image_url = "professor_images/"+res.data.professor.Photo;
                      this.professor_object = res.data.professor;
                      res.data.lectures.forEach(lecture => {
                         this.lines.push(lecture);
                      });
                  }).catch(error=>{
                      console.log(error);
                  });
                  
            }
//   

   }
   } 

</script>
<style scoped>
.searchBackground:hover{
   background: #cececf;
}
</style>
