<template>
<div style="width:100%" >
<div class="vld-parent">
        <loading :active.sync="isLoading"
        :is-full-page="fullPage"></loading>
    </div>
<h3 style="display:inline"> Company List:</h3> <div class="pull-right" style="display:inline"><router-link to="/company/create" class="btn btn-primary">Create Company</router-link></div>
        <hr>
        <div class="form-group col-md-4 pull-right">
        <input type="text" class="search form-control" v-model="company_name" name="company_name"   placeholder="Search as Student Company Name">
        </div>
        <table class="table table-hover table-bordered results myTable"  >
        <thead>
        <tr class="header">
            <th>Company Name </th>
            <th>Department </th>
            <th>Country </th>
            <th>Action </th>
        </tr>
        </thead>
        <tbody > 
            <tr v-for="(company, index) in company_list"  v-bind:key="index">
            <td>
            {{company.CompanyName}}
            </td>
            <td>
            {{company.Department}}
            </td>
            <td>
            {{company.Country}}
            </td>
            <td><button class="btn btn-info btn btn-sm"  v-on:click="editCompany(company.ID)"><span class="fa fa-edit" ></span></button>
            <button class="btn btn-danger btn btn-sm" v-on:click="deleteCompany(company.ID, index)"><span class="fa fa-trash"></span></button></td>

            </tr>

        </tbody>
        </table>
        <pagination v-if="pagination.last_page > 1" :pagination="pagination" :offset="5"  @paginate="getProgram()"></pagination>
    </div>

</template>

<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
export default {
     components: {
            Loading
        },
 data() {
       return {
        company_list: [],
        pagination: {
            'current_page': 1
        },
         isLoading: false,
         fullPage: true,
         company_name:'',
        }
    },
    created() {
       this.getCompany();
    },
     watch:{
        company_name(after){
            this.searchData();

        }
    },
    methods: {
         searchData(){           
            if(this.company_name.length>0)
                this.searchByCompanyName();
            else
                this.getCompany();
        },
        paginateData(){
             this.pagination.current_page=1;
            if(this.company_name.length>0)
                this.searchByCompanyName();
            else
                this.getCompany();
        },

        getCompany() {
             this.isLoading = true;
            axios.get('/api/getcompany?page=' + this.pagination.current_page)
                .then(response => {
                    this.company_list = response.data.data.data;
                    this.pagination = response.data.pagination;
                     this.isLoading = false;
                })
                .catch(error => {

                    console.log(error.response);
                });
        },
        editCompany(id)
        {
             this.$router.push({path: '/company/edit/'+ id});
        },

        deleteCompany(id, index)
        {

             let conf = confirm("Do you ready want to delete this Company Data?");
            if (conf === true) {
                axios.get('/api/deletecompany/' + id)
                    .then(response => {
                         this.company_list.splice(index, 1);
                    })
                    .catch(error => {
                    });
            }
        },
        fetchCompany(){
            if(this.company_name.length>0)
                this.searchByCompanyName();
            else
                this.getCompany();
        },
      searchByCompanyName() {
                    axios.get('/api/searchByCompanyName?page=' + this.pagination.current_page,{ params: { company_name: this.company_name} })
                        .then(response => {
                            console.log(response)
                            this.company_list = response.data.data.data;
                            this.pagination = response.data.pagination;
                            console.log(response);
                        })
                        .catch(error => {
                            console.log(error.response.data);
                        });
                    },
    },
        mounted(){
        this.fetchCompany();
        }
}
</script>

<style scoped>

</style>
