<template>
<div> 
 <router-link class="btn btn-dark fa fa-caret-left" to="/company/index"><span class="fa fa-caret-left"></span><span class="fa fa-caret-left"></span></router-link>
<hr>
 <div  style="width:100%">
		 <h2>&nbsp;&nbsp;<b><u> Update Company:</u></b></h2>
	 <div class="shadow">
		<div class="container-fluid row" style="padding:2%">
		<div class="container-fluid" style="margin-left:2%">
			<div class="form-group row">
			<label class="control-label control-label-left col-sm-3" for="CompanyName">Company Name: </label>
			<div class="controls col-sm-9">
			<input id="CompanyName" type="text" v-model="Company_Object.CompanyName"  name="CompanyName" class="form-control k-textbox" data-role="text" data-parsley-errors-container="#errId1"><span id="errId1" class="error"></span>
			</div>
			</div>
			<div class="form-group row">
			<label class="control-label control-label-left col-sm-3" for="Department">Department: </label>
			<div class="controls col-sm-9">
			<input id="Department" v-model="Company_Object.Department"  name="Department"  type="text" class="form-control k-textbox" data-role="text" data-parsley-errors-container="#errId2"><span id="errId2" class="error"></span>
			</div>
			</div>
			<div class="form-group row brdbot">
			<h3><b><u>Contact Person:</u></b></h3>
			<div class="controls col-sm-9">
			<p id="field4" data-default-label="Header" data-default-is-header="true" data-control-type="header"></p>
			<span id="errId3" class="error"></span>
			</div>
			</div>
			<div class="form-group row">
			<label class="control-label control-label-left col-2 offset-1" for="Title">Title: </label>
			<div class="controls col-sm-9">
			<select id="Title" name="Title" v-model="Company_Object.ContactPersonTitle" class="form-control" data-role="select" data-parsley-errors-container="#errId3">
				<option value="Mr.">Mr.</option>
				<option value="Mrs.">Mrs.</option>
				<option value="Sir">Sir</option>
				<option value="Madam">Madam</option>
				<option value="Option 3">Ms.</option>
				<option value="Option 4">Miss</option>
				<option value="Option 3">Dr.</option>
            </select>
			<span id="errId4" class="error"></span>
			</div>
			</div>
			<div class="form-group row" >
			
			<label class="control-label control-label-left col-2 offset-1" for="FirstName">First Name:  </label>
			<div class="controls col-sm-9">
			<input id="FirstName" type="text" v-model="Company_Object.ContactPersonFirstName"  name="ContactPersonFirstName" class="form-control k-textbox" data-role="text" data-parsley-errors-container="#errId5"><span id="errId5" class="error"></span>
			</div>
			</div>
			<div class="form-group row">
			<label class="control-label control-label-left col-2 offset-1" for="LastName">Last Name:  </label>
			<div class="controls col-sm-9">
			<input id="LastName" type="text"  v-model="Company_Object.ContactPersonLastName"  name="ContactPersonLastName"  class="form-control k-textbox" data-role="text" data-parsley-errors-container="#errId6"><span id="errId6" class="error"></span>
			</div>
			</div>
			<div class="form-group row">
			<label class="control-label control-label-left col-sm-3" for="StreetAddress">Street Address: </label>
			<div class="controls col-sm-9">
			<input id="StreetAddress" type="text" v-model="Company_Object.StreetAddress"  name="StreetAddress"  class="form-control k-textbox" data-role="text" data-parsley-errors-container="#errId7"><span id="errId7" class="error"></span>
			</div>
			</div>
			<div class="form-group row">
			<label class="control-label control-label-left col-sm-3" for="City">City: </label>
			<div class="controls col-sm-9">
			<input id="City" type="text"  v-model="Company_Object.City"  name="City" class="form-control k-textbox" data-role="text" data-parsley-errors-container="#errId8"><span id="errId8" class="error"></span>
			</div>
			</div>
			<div class="form-group row">
			<label class="control-label control-label-left col-sm-3" for="Zip">Zip: </label>
			<div class="controls col-sm-9">
			<input id="Zip" type="text" class="form-control k-textbox" data-role="text" v-model="Company_Object.Zip"  name="Zip"  data-parsley-errors-container="#errId9"><span id="errId9" class="error"></span>
			</div>
			</div>
			<div class="form-group row">
			<label class="control-label control-label-left col-sm-3" for="Country">Country: </label>
			<div class="controls col-sm-9">	
			<select class="form-control"  name="Country" v-model="Company_Object.Country">
			<option v-for="(country,index) in allCountries"
			v-bind:value="country.printable_name" 
			v-bind:key="index">
			{{country.printable_name}}</option>
			</select>
			<span id="errId10" class="error"></span>
			</div>
			</div>
			<div class="form-group row">
			<label class="control-label control-label-left col-sm-3" for="Phone">Phone: </label>
			<div class="controls col-sm-9">
			<input id="Phone" type="text" v-model="Company_Object.Phone"  name="Phone"  class="form-control k-textbox" data-role="text" data-parsley-errors-container="#errId11"><span id="errId11" class="error"></span>
			</div>
			</div>
			<div class="form-group row">
			<label class="control-label control-label-left col-sm-3" for="Mobile">Mobile: </label>
			<div class="controls col-sm-9">
			<input id="Mobile" type="text" v-model="Company_Object.Mobile"  name="Mobile"  class="form-control k-textbox" data-role="text" data-parsley-errors-container="#errId12"><span id="errId12" class="error"></span>
			</div>
			</div>
			<div class="form-group row">
			<label class="control-label control-label-left col-sm-3" for="Fax">Fax: </label>
			<div class="controls col-sm-9">
			<input id="Fax" type="text" v-model="Company_Object.Fax"  name="Fax"  class="form-control k-textbox" data-role="text" data-parsley-errors-container="#errId13"><span id="errId13" class="error"></span>
			</div>
			</div>
			<div class="form-group row">
			<label class="control-label control-label-left col-sm-3" for="Email">Email: </label>
			<div class="controls col-sm-9">
			<input id="Email" type="text" v-model="Company_Object.Email"  name="Email"  class="form-control k-textbox" data-role="text" data-parsley-errors-container="#errId14"><span id="errId14" class="error"></span>
			</div>
			</div>
			<div class="form-group row">
			<label class="control-label control-label-left col-sm-3" for="Email2">Email2: </label>
			<div class="controls col-sm-9">
			<input id="Email2" type="text" v-model="Company_Object.Email2"  name="Email2"  class="form-control k-textbox" data-role="text" data-parsley-errors-container="#errId15"><span id="errId15" class="error"></span>
			</div>
			</div>
			<div class="form-group row">
			<label class="control-label control-label-left col-sm-3" for="Email3">Email3: </label>
			<div class="controls col-sm-9">
			<input id="Email3" type="text" v-model="Company_Object.Email3"  name="Email3"  class="form-control k-textbox" data-role="text" data-parsley-errors-container="#errId16"><span id="errId16" class="error"></span>
			</div>
			</div>
			<div class="form-group row">
			<label class="control-label control-label-left col-sm-3" for="WebAddress">Web address: </label>
			<div class="controls col-sm-9">
			<input id="WebAddress" v-model="Company_Object.WebAddress"  name="WebAddress"  type="text" class="form-control k-textbox" data-role="text" data-parsley-errors-container="#errId17"><span id="errId17" class="error"></span>
			</div>
			</div>
			<div class="form-group row">
			<label class="control-label control-label-left col-sm-3" for="Notes">Notes: </label>
			<div class="controls col-sm-9">
			<textarea id="Notes" rows="3" v-model="Company_Object.Notes"  name="Notes"  class="form-control k-textbox" data-role="textarea" style="margin-top: 0px; margin-bottom: 0px; height: 99px;" data-parsley-errors-container="#errId18"></textarea><span id="errId18" class="error"></span>
			</div>
			</div>
            <div class="form-group container-fluid">
                <button class=" offset-3 col-9 btn btn-primary form-control" @click="postCompany()">Save</button>
            </div>
		</div>
		</div>
	 </div>
 </div>
</div>
</template>
<script>
export default {
	data(){
	return{
		Company_Object:
		{
		CompanyName:null,
		Department:null,
		ContactPersonTitle:null,
		ContactPersonFirstName:null,
		ContactPersonLastName:null,
		StreetAddress:null,
		City:null,
		Zip:null,
		Country:null,
		Phone:null,
		Mobile:null,
		Fax:null,
		Email:null,
		Email2:null,
		Email3:null,
		WebAddress:null,
		Notes:null,
	},
	allCountries: '',
	}
	},
	created(){
		this.fetchcountries();
		this.fetchCompany();
	},
	methods:{

		postCompany(){
		axios.post('/api/updateCompany/'+this.$route.params.id, this.Company_Object)
                    .then( response => {
                        alert('success');
                    }, error => {
                        console.log('erro');
                    });
		},
		fetchcountries(){
        axios.get('/api/getAllCountries')
                .then(response => {
                   this.allCountries = response.data;

                })
                .catch(error => {
                    console.log(error.response.data);
                });

   },
   		fetchCompany(){
			   console.clear();

			   console.log(this.$route.params.id);

        axios.get('/api/getcompanybyID/'+this.$route.params.id)
                .then(response => {
				   this.Company_Object = response.data;
				   console.log(this.Company_Object)

                })
                .catch(error => {
                    console.log(error.response.data);
                });

   },
	}
}
</script>
