<template>
<div class="container-fluid" >
   <router-link class="btn btn-dark fa fa-caret-left" to="/"><span class="fa fa-caret-left"></span><span class="fa fa-caret-left"></span></router-link>
   <hr>
   <button class="btn btn-primary pull-right" style="display:block" @click="updateStudent()"> update </button>
   <h2><b><u>Update Student</u></b></h2>
   <hr>
   <ul class="nav nav-tabs">
     <li class="nav-item" style="margin-top: 4px;"><a data-toggle="tab" class="nav-link active show" href="#home" id="personal_info" >Personal Information</a></li>

      <li  class="nav-item"><a data-toggle="tab" class="nav-link" href="#menu1">Business Information</a></li>
      <li  class="nav-item"><a data-toggle="tab" class="nav-link"  href="#menu2">Remarks</a></li>
      <li  class="nav-item"><a data-toggle="tab" class="nav-link" href="#menu6">Admission</a></li>
      <li  class="nav-item"><a data-toggle="tab" class="nav-link" href="#menu7">Program</a></li>
      <li  class="nav-item"><a data-toggle="tab" class="nav-link" href="#menu8">Grades</a></li>
      <li  class="nav-item"><a data-toggle="tab" class="nav-link" href="#menu5">Graduation Requirement</a></li>
    
      <li  class="nav-item"><a data-toggle="tab" class="nav-link" href="#menu9">Attachment</a></li>
   </ul>
    <div class="tab-content">
      <div id="home" class="tab-pane fade in active show" >
              <div id="home" class="tab-pane fade in active show" >
            <div class="container-fluid shadow">
               <div class="container-fluid">
                 
                  <div class="row">
                     <div class="col-4">
                        <div class="row">
                           <label for="" class="col-2"></label>
                            
                              <img :src="image" class="img-responsive"  @click="$refs.student_image.click()" style="cursor:pointer;margin-left:18%;"  name="image" width="175px">
                              <input type="file"  ref="student_image" style="display:none" accept="image/*"  v-on:change="onImageChange">
                        </div>
                        <hr>
                        <div class="row">
                             <div class="form-group col-12">
                                    <label class="control-label" for="StatusID:">Status:</label>
                                    <select class="form-control" v-model="std_status_id_title">
                                      <option name="StudentStatusID" v-for="(status,index) in status_list_from_db" v-bind:key='index' v-bind:value="status" selected>{{status.StatusName}}</option>
                                    </select>
                                 </div>
                                 <div class="form-group col-12">
                                    <label class="control-label" for="StudentStatusComment:">Student Status Comment</label>
                                    <input type="text" name="StudentStatusComment" v-model="std_status.std_status_comment" class="form-control">
                                 </div>
                                 <div class="form-group col-12">
                                    <label class="control-label" for="StudentStatusDate:">Student Status Date</label>
                                    <input type="date" name="StudentStatusDate" v-model="std_status.std_status_date" class="form-control">
                                 </div>
                                 <div class="form-group col-12">
                                    <div class="box-footer">
                                    <input type="button" value="Add Status" v-on:click="appendStatus()" class="btn btn-primary form-control"/>
                                    </div>
                                 </div>
                                 
                        </div>
                        <hr>
                        <div class="row">
                           <table class="table table-borderd">
                                 <tr>
                                    <th>Status</th>
                                    <th>Date</th>
                                    <th>Note</th>
                                 </tr>
                                 <tbody>
                                    <tr v-for="(status , index) in status_list" v-bind:key="index">
                                          <td>{{status.title}}</td>
                                          <td>{{status.date}}</td>
                                          <td>{{status.note}}</td>
                                          <td>
                                             <span style='cursor:pointer; color:red' @click="RemoveStatusLine(index)" ><i  class="fa fa-times"></i></span>
                                          </td>
                                    </tr>
                                 </tbody>
                              </table>
                        </div>
                        
                     </div>
                  <div class="col-5">
                     <!-- // image partner -->
                     <div class="form-group">
                        <label class="control-label control-label-left col-12 " for="StudentNumber">Student Number<span class="req" style="color:red"> *</span></label>
                        <div class="controls col-12">
                           <input id="StudentNumber" disabled name="StudentNumber" v-model="studentObject.StudentNumber" type="text" class="form-control k-textbox" data-role="text" required="required" data-parsley-errors-container="#errId2"><span id="errId2" class="error"></span>
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="control-label control-label-left col-12 " for="Title">Title</label>
                        <div class="controls col-12">
                           <select id="Title" name="Title" v-model="studentObject.Title" class="form-control" data-role="select" data-parsley-errors-container="#errId3">
                              <option value="Mr.">Mr.</option>
                              <option value="Mrs.">Mrs.</option>
                              <option value="Sir">Sir</option>
                              <option value="Madam">Madam</option>
                              <option value="Option 3">Ms.</option>
                              <option value="Option 4">Miss</option>
                              <option value="Option 3">Dr.</option>
                           </select>
                           <span id="errId3" class="error"></span>
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="control-label control-label-left col-12 " for="FirstName:">First Name:<span class="req" style="color:red"> *</span></label>
                        <div class="controls col-12">
                           <input id="FirstName:"   name="FirstName" v-model="studentObject.FirstName" type="text" class="form-control k-textbox" data-role="text" required="required" data-parsley-errors-container="#errId4"><span id="errId4" class="error"></span>
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="control-label control-label-left col-12 " for="LastName:">Last Name:<span class="req" style="color:red"> *</span></label>
                        <div class="controls col-12">
                           <input id="LastName:"  name="LastName" v-model="studentObject.LastName" type="text" class="form-control k-textbox" data-role="text" required="required" data-parsley-errors-container="#errId5"><span id="errId5" class="error"></span>
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="control-label control-label-left col-12 " for="TranscriptName:">Transcript Name:<span class="req" style="color:red"> *</span></label>
                        <div class="controls col-12">
                           <input id="TranscriptName:" name="TranscriptName"  v-model="studentObject.TranscriptName"  type="text" class="form-control k-textbox" data-role="text" required="required" data-parsley-errors-container="#errId6"><span id="errId6" class="error"></span>
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="birthdate" class="control-label control-label-left col-12 ">Birth Date</label>
                        <div class="controls col-12">
                           <input type="date" class="form-control" v-model="studentObject.BirthDate"><span id="errId7" class="error"></span>
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="control-label control-label-left col-12 " for="BirthPlace:">Birth Place:<span class="req" style="color:red"> *</span></label>
                        <div class="controls col-12">
                           <input id="BirthPlace:" name="BirthPlace"  v-model="studentObject.BirthPlace"  type="text" class="form-control k-textbox" data-role="text" required="required" data-parsley-errors-container="#errId8"><span id="errId8" class="error"></span>
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="control-label control-label-left col-12 " for="BirthCountry">Birth Country</label>
                        <div class="controls col-12">
                            <select class="form-control" v-model="studentObject.BirthCountry">
                            <option v-for="(country , index) in allCountries" v-bind:key="index" selected>{{country.printable_name}}</option>
                            </select>
                           <span id="errId9" class="error"></span>
                        </div>
                     </div>
                     <div class="row" style="display: block;">
                        <div class="col-md-12">
                           <div class="form-group">
                              <label class="control-label control-label-left col-12 " for="StreetAddress:">Street Address:<span class="req" style="color:red"> *</span></label>
                              <div class="controls col-12">
                                 <input id="StreetAddress:" name="StreetAddress"  v-model="studentObject.StreetAddress"  type="text" class="form-control k-textbox" data-role="text" required="required" data-parsley-errors-container="#errId10"><span id="errId10" class="error"></span>
                              </div>
                           </div>
                           <div class="form-group">
                              <label class="control-label control-label-left col-12 " for="City:">City:<span class="req" style="color:red"> *</span></label>
                              <div class="controls col-12">
                                 <input id="City:" name="City"   v-model="studentObject.City"  type="text" class="form-control k-textbox" data-role="text" required="required" data-parsley-errors-container="#errId11"><span id="errId11" class="error"></span>
                              </div>
                           </div>
                           <div class="form-group">
                              <label class="control-label control-label-left col-12 " for="Zip:">Zip:<span class="req" style="color:red"> *</span></label>
                              <div class="controls col-12">
                                 <input id="Zip:" name="Zip"  v-model="studentObject.Zip"  type="text" class="form-control k-textbox" data-role="text" required="required" data-parsley-errors-container="#errId12"><span id="errId12" class="error"></span>
                              </div>
                           </div>
                           <div class="form-group">
                              <label class="control-label control-label-left col-12 " for="Country:">Country:</label>
                              <div class="controls col-12">
                                <select class="form-control" v-model="studentObject.Country">
                                <option v-for="(country,index) in allCountries" v-bind:key="index">{{country.printable_name}}</option>
                                </select>
                                 <span id="errId13" class="error"></span>
                              </div>
                           </div>
                           <div class="form-group">
                              <label class="control-label control-label-left col-12 " for="Phone:">Phone:<span class="req" style="color:red"> *</span></label>
                              <div class="controls col-12">
                                 <input id="Phone:" name="Phone"  v-model="studentObject.Phone"  type="text" class="form-control k-textbox" data-role="text" required="required" data-parsley-errors-container="#errId14"><span id="errId14" class="error"></span>
                              </div>
                           </div>
                           <div class="form-group">
                              <label class="control-label control-label-left col-12 " for="Mobile:">Mobile:<span class="req" style="color:red"> *</span></label>
                              <div class="controls col-12">
                                 <input id="Mobile:" name="Mobile"  v-model="studentObject.Mobile" type="text"   class="form-control k-textbox" data-role="text" required="required" data-parsley-errors-container="#errId15"><span id="errId15" class="error"></span>
                              </div>
                           </div>
                           <div class="form-group">
                              <label class="control-label control-label-left col-12 " for="Email:">Email:<span class="req" style="color:red"> *</span></label>
                              <div class="controls col-12">
                                 <input id="Email:"  name="Email"  v-model="studentObject.Email"    type="text" class="form-control k-textbox" data-role="text" required="required" data-parsley-errors-container="#errId16"><span id="errId16" class="error"></span>
                              </div>
                           </div>
                           <div class="form-group">
                              <label class="control-label control-label-left col-12 " for="Email2:">Email2:</label>
                              <div class="controls col-12">
                                 <input id="Email2:" name="Email2:"  v-model="studentObject.Email2" type="text" class="form-control k-textbox" data-role="text" data-parsley-errors-container="#errId17"><span id="errId17" class="error"></span>
                              </div>
                           </div>
                           <div class="form-group">
                              <label class="control-label control-label-left col-12 " for="Email3:">Email3:</label>
                              <div class="controls col-12">
                                 <input id="Email3:" name="Email3"  v-model="studentObject.Email3"  type="text" class="form-control k-textbox" data-role="text" data-parsley-errors-container="#errId18"><span id="errId18" class="error"></span>
                              </div>
                           </div>
                           <div class="form-group">
                              <label class="control-label control-label-left col-12 " for="Notes:">Notes:</label>
                              <div class="controls col-12">
                                 <textarea id="Note:" name="Note"  v-model="studentObject.Notes"  rows="3" class="form-control k-textbox" data-role="textarea" style="margin-top: 0px; margin-bottom: 0px; height: 93px;" data-parsley-errors-container="#errId19"></textarea><span id="errId19" class="error"></span>
                              </div>
                           </div>
                           <div class="form-group">
                              <label class="control-label control-label-left col-12 " for="Code">Partner Code:</label>
                              <div class="controls col-12">

                                 <select class="form-control" id="Code" v-model="studentObject.PartnerID"   name="PartnerID" @change.prevent="fetchPartnerCampus"  >
                                  <option value="0"></option>
                                    <option   v-for="(partner,index) in partners" :value="partner.PartnerID" v-bind:key="index"  >  {{ partner.PartnerCode}}</option>
                                 </select>
                              </div>
                           </div>
                           <div class="form-group" style="padding-bottom:10%" >
                              <label  class="control-label control-label-left col-12 " for="pCode">Partner Campus:</label>
                              <div class="col-12">
                                 <select  class="form-control" id="pCode" name="PartnerCampusID"  v-model="studentObject.PartnerCampusID" >
                                  <option value="0"></option>
                                    <option  v-for="(partnercampus,index) in partnercampus" v-bind:key='index' :value="partnercampus.PartnerCampusID" >{{partnercampus.PartnerCampusLocation}}</option>
                                 </select>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                     <div class="col-3">
                        <div class="shadow" style="padding:3%">
                              <h6><u><b>Mail Address</b></u></h6>
                              <div class="form-group">
                              <input type="radio" v-model="studentObject.MailAddress" value="1"> <label >Personal Address </label>
                              </div>
                              <div class="form-group">
                              <input type="radio" v-model="studentObject.MailAddress" value="2"> <label >Bussiness Address </label>
                              </div>
                        </div>
                        <br>
                        <br>
                        <br>
                     <div class="shadow" style="padding:3%">
                              <u><b>SIS Access / Grade Notifications</b></u>
                              <div class="form-group">
                                <label for="access"><input type="checkbox" v-model="studentObject.SISEnabled"    @change="changeCheck($event)" value="0"> Enable SIS Access</label><br>
                              </div>
                              <div class="form-group">
                                  <label for="access"><input type="checkbox" v-model="studentObject.GradeNotification"  @change="changeCheck($event)" value="0"> Enable Grade Notifications</label>
                              </div>
                           </div>
                        </div>
                  </div>
               </div>
            </div>
      </div>
      </div>
      <div id="menu1" class="tab-pane fade">
            <div class="container-fluid shadow">
                  <div class="row">
                     <div class="col-md-7">
                        <div class="form-group">
                           <br>
                           <label class="control-label control-label-left col-12" for="CompanyName:">Company Name:<span class="req" style="color:red"> *</span></label>
                           <div class="controls col-12">
                              <input id="CompanyName:" name="CompanyName" v-model="stdBussiness.CompanyName" type="text" class="form-control k-textbox" data-role="text" required="required" data-parsley-errors-container="#errId22"><span id="errId22" class="error"></span>
                           </div>
                        </div>
                        <div class="form-group">
                           <label class="control-label control-label-left col-12" for="Department">Department<span class="req" style="color:red"> *</span></label>
                           <div class="controls col-12">
                              <input id="Department" name="Department" v-model="stdBussiness.Department" type="text" class="form-control k-textbox" data-role="text" required="required" data-parsley-errors-container="#errId23"><span id="errId23" class="error"></span>
                           </div>
                        </div>
                        <div class="form-group">
                           <label class="control-label control-label-left col-12" for="Position:">Position:<span class="req" style="color:red"> *</span></label>
                           <div class="controls col-12">
                              <input id="Position:" name="Position" v-model="stdBussiness.Position" type="text" class="form-control k-textbox" data-role="text" required="required" data-parsley-errors-container="#errId24"><span id="errId24" class="error"></span>
                           </div>
                        </div>
                        <div class="form-group">
                           <label class="control-label control-label-left col-12" for="StreetAddress:">Street Address:<span class="req" style="color:red"> *</span></label>
                           <div class="controls col-12">
                              <input id="StreetAddress:" name="StreetAddress" v-model="stdBussiness.StreetAddress" type="text" class="form-control k-textbox" data-role="text" required="required" data-parsley-errors-container="#errId25"><span id="errId25" class="error"></span>
                           </div>
                        </div>
                        <div class="form-group">
                           <label class="control-label control-label-left col-12" for="City:">City:<span class="req" style="color:red"> *</span></label>
                           <div class="controls col-12">
                              <input id="City:" name="City" v-model="stdBussiness.City" type="text" class="form-control k-textbox" data-role="text" required="required" data-parsley-errors-container="#errId26"><span id="errId26" class="error"></span>
                           </div>
                        </div>
                        <div class="form-group">
                           <label class="control-label control-label-left col-12" for="Zip:">Zip:<span class="req" style="color:red"> *</span></label>
                           <div class="controls col-12">
                              <input id="Zip:" name="Zip" v-model="stdBussiness.Zip" type="text" class="form-control k-textbox" data-role="text" required="required" data-parsley-errors-container="#errId27"><span id="errId27" class="error"></span>
                           </div>
                        </div>
                        <div class="form-group">
                           <label class="control-label control-label-left col-12" for="Country:">Country:</label>
                           <div class="controls col-12">
                               <select class="form-control" name="Country" v-model="stdBussiness.Country">
                                 <option v-for="(country,index) in allCountries" v-bind:key="index">{{country.printable_name}}</option>
                              </select>
                              <span id="errId28" class="error"></span>
                           </div>
                        </div>
                        <div class="form-group">
                           <label class="control-label control-label-left col-12" for="Phone:">Phone:</label>
                           <div class="controls col-12">
                              <input id="Phone:" name="Phone" v-model="stdBussiness.Phone" type="text" class="form-control k-textbox" data-role="text" data-parsley-errors-container="#errId29"><span id="errId29" class="error"></span>
                           </div>
                        </div>
                        <div class="form-group">
                           <label class="control-label control-label-left col-12" for="Mobile:">Mobile:</label>
                           <div class="controls col-12">
                              <input id="Mobile:" name="Mobile" v-model="stdBussiness.Mobile" type="text" class="form-control k-textbox" data-role="text" data-parsley-errors-container="#errId30"><span id="errId30" class="error"></span>
                           </div>
                        </div>
                        <div class="form-group">
                           <label class="control-label control-label-left col-12" for="Fax:">Fax:</label>
                           <div class="controls col-12">
                              <input id="Fax:" name="Fax" v-model="stdBussiness.Fax" type="text" class="form-control k-textbox" data-role="text" data-parsley-errors-container="#errId31"><span id="errId31" class="error"></span>
                           </div>
                        </div>
                        <div class="form-group">
                           <label class="control-label control-label-left col-12" for="Email:">Email:</label>
                           <div class="controls col-12">
                              <input id="Email:" name="Email" v-model="stdBussiness.Email" type="text" class="form-control k-textbox" data-role="text" data-parsley-errors-container="#errId32"><span id="errId32" class="error"></span>
                           </div>
                        </div>
                        <div class="form-group">
                           <label class="control-label control-label-left col-12" for="WebAddress:">Web Address:</label>
                           <div class="controls col-12">
                              <input id="WebAddress:" name="WebAddress" v-model="stdBussiness.WebAddress" type="text" class="form-control k-textbox" data-role="text" data-parsley-errors-container="#errId33"><span id="errId33" class="error"></span>
                           </div>
                        </div>

                        <div class="form-group brdbot">
                           <h5><b><u>Contact Person:</u></b></h5>
                        </div>
                        <div class="form-group">
                           <label class="control-label control-label-left col-12" for="Title:">Title:</label>
                           <div class="controls col-12">
                              <select id="Title:" name="ContactPersonTitle" v-model="stdBussiness.ContactPersonTitle" class="form-control">
                              <option value="Mr.">Mr.</option>
                              <option value="Mrs.">Mrs.</option>
                              <option value="Sir">Sir</option>
                              <option value="Madam">Madam</option>
                              <option value="Option 3">Ms.</option>
                              <option value="Option 4">Miss</option>
                              <option value="Option 3">Dr.</option>
                              </select>
                              <span id="errId35" class="error"></span>
                           </div>
                        </div>
                        <div class="form-group">
                           <label class="control-label control-label-left col-12" for="FirstName:">First Name:<span class="req" style="color:red"> *</span></label>
                           <div class="controls col-12">
                              <input id="ContactPersonFirstName:" name="ContactPersonFirstName" v-model="stdBussiness.ContactPersonFirstName" type="text" class="form-control k-textbox" data-role="text" required="required" data-parsley-errors-container="#errId36"><span id="errId36" class="error"></span>
                           </div>
                        </div>
                        <div class="form-group">
                           <label class="control-label control-label-left col-12" for="LastName:">Last Name:<span class="req" style="color:red"> *</span></label>
                           <div class="controls col-12">
                              <input id="ContactPersonLastName:" name="ContactPersonLastName" v-model="stdBussiness.ContactPersonLastName" type="text" class="form-control k-textbox" data-role="text" required="required" data-parsley-errors-container="#errId37"><span id="errId37" class="error"></span>
                           </div>
                        </div>
                        <div class="form-group">
                           <label class="control-label control-label-left col-12" for="Department:">Department:<span class="req" style="color:red"> *</span></label>
                           <div class="controls col-12">
                              <input id="ContactPersonDepartment:" name="ContactPersonDepartment" v-model="stdBussiness.ContactPersonDepartment" type="text" class="form-control k-textbox" data-role="text" required="required" data-parsley-errors-container="#errId38"><span id="errId38" class="error"></span>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="form-group">
                           <label class="control-label" for="Notes:">Notes:</label>
                           <div class="controls">
                              <textarea id="Notes:" name="Notes" v-model="stdBussiness.Notes" rows="3" class="form-control k-textbox" data-role="textarea" style="margin-top: 0px; margin-bottom: 0px; height: 694px;" data-parsley-errors-container="#errId39"></textarea><span id="errId39" class="error"></span>
                           </div>
                        </div>
                     </div>
                  </div>
           </div>
      </div>
      <div id="menu2" class="tab-pane fade">
            <div class="tab-pane" id="tabContent4">
               <div class="container-fluid shadow">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="form-group">
                           <label class="control-label" for="Remarks:">Remarks:</label>
                           <div class="controls">
                              <textarea id="Remarks:" name="Remarks" v-model="studentObject.Remarks" rows="3" class="form-control k-textbox" data-role="textarea" style="margin-top: 0px; margin-bottom: 0px; height: 574px;" data-parsley-errors-container="#errId39"></textarea><span id="errId39" class="error"></span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
      </div>
      <div id="menu5" class="tab-pane fade">
            <div class="box">
               <div class="box-body">
                     <h5 style="margin-left:20px;"><u><b>Bachelor Programs:</b></u></h5>
                     <br>
               <div style="margin-left:4%;">
                  <div class="form-group" style="margin-bottom:0px;">
                     <div>
                        <label>
                        <input
                           type="checkbox"
                           name="BBAExitSurvey"
                           v-model="stdGraduateReq.BBAExitSurvey"
                           value="0"  @change="changeCheck($event)"
                           >
                           Bachelor Exit Survey
                        </label>
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="checkbox">
                        <label>
                        <input
                           value="0"  @change="changeCheck($event)"
                           type="checkbox"
                           name="BBAExitSurveyCBE"
                           v-model="stdGraduateReq.BBAExitSurveyCBE"
                           >
                           Bachelor Exit Exam (CBE) Taken
                        </label>
                     </div>
                  </div>
               </div>
                  <div class="form-group">
                     <h5 style="margin-left:20px;"> <u><b>Master Programs:</b></u> </h5><br>
                    <div style="margin-left:4%">
                     <div class="checkbox">
                        <label>
                        <input
                           value="0"  @change="changeCheck($event)"
                           type="checkbox"
                           name="MASExitSurvey"
                           v-model="stdGraduateReq.MASExitSurvey"
                           >
                        Sent Exit Survey
                        </label>
                     </div>
                  <div class="form-group" style="margin-bottom:0px;">
                     <div class="checkbox">
                        <label>
                        <input
                           value="0"  @change="changeCheck($event)"
                           type="checkbox"
                           name="MASExitExamSBS"
                           v-model="stdGraduateReq.MASExitExamSBS"
                           >
                        Master Exit Exam (SBS) Taken
                        </label>
                     </div>
                  </div>
                  <div class="form-group" style="margin-bottom:0px;">
                     <div class="checkbox">
                        <label>
                        <input
                           value="0"  @change="changeCheck($event)"
                           type="checkbox"
                           name="MASExitExamExternal"
                           v-model="stdGraduateReq.MASExitExamExternal"
                           >
                        Master Exit Exam (Pregrine) Taken
                        </label>
                     </div>
                  </div>
                  <div class="form-group" style="margin-bottom:0px;">
                     <div class="checkbox">
                        <label>
                        <input
                           value="0"  @change="changeCheck($event)"
                           type="checkbox"
                           name="MSCInternReportMSCInternReport"
                           >
                        Internship Report Submitted And Passed
                        </label>
                     </div>
                  </div>
                    </div>
                  </div>
                  <div class="form-group">
                     <h5 style="margin-left:20px;"> <u><b>Doctorate Programs:</b></u> </h5><br>
                     <div style="margin-left:4%">
                     <div class="checkbox">
                        <label>
                        <input
                           value="0"  @change="changeCheck($event)"
                           type="checkbox"
                           name="DBAExitSurvey"
                           v-model="stdGraduateReq.DBAExitSurvey"
                           >
                        Sent Exit Survey
                        </label>
                     </div>

                  <div class="form-group"  style="margin-bottom:0px;">
                     <div class="checkbox">
                        <label>
                        <input
                           value="0"  @change="changeCheck($event)"
                           type="checkbox"
                           name="DBAExitExamSBS"
                           v-model="stdGraduateReq.DBAExitExamSBS"
                           >
                        Exit Exam(SBS) Taken
                        </label>
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="checkbox">
                        <label>
                        <input
                           value="0"  @change="changeCheck($event)"
                           type="checkbox"
                           name="DBAExitExamExternal"
                           v-model="stdGraduateReq.DBAExitExamExternal"
                           >
                        Exit Exam(pregrine)Taken
                        </label>
                     </div>
                  </div>
                     </div>
                  <div class="form-group">
                     <h5 style="margin-left:20px;"> <u><b>All Programs:</b></u></h5><br>

                     <div style="margin-left:4%" ><div class="checkbox">
                        <label>
                        <input
                           value="0"  @change="changeCheck($event)"
                           type="checkbox"
                           name="PassingGPA"
                           v-model="stdGraduateReq.PassingGPA"
                           >
                        Passing GPA
                        </label>
                     </div>

                  <div class="form-group">
                     <div class="checkbox">
                        <label>
                        <input
                           value="0"  @change="changeCheck($event)"
                           type="checkbox"
                           name="FinancialObligations"
                           v-model="stdGraduateReq.FinancialObligations"
                           >
                        No Financial Obligations To SBS
                        </label>
                     </div>
                  </div>
                  </div>
             </div>
             </div>
             </div>
             </div>

      </div>
        <div id="menu6" class="tab-pane fade">
                <div class="row container-fluid shadow" style="margin-left:0%">
                    <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="EducationalBackground:">Educational Background:</label>
                        <div class="controls">
                            <textarea id="educationalbackground:" name="educationalbackground" v-model="stdAdmission.EducationalBackground" rows="3" class="form-control k-textbox" data-role="textarea" style="margin-top: 0px; margin-bottom: 0px; height: 426px;" data-parsley-errors-container="#errId40"></textarea><span id="errId40" class="error"></span>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-6">
                       <label class="control-label"><h5 style="font-weight:bold;margin-left: -2.5px;">
                         <u> Bachelor Admission:</u>

                          </h5></label>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group " style="display: block;">
                                <div class="controls">
                                <label class="checkbox" for="checkbox141" style="margin-top: 5.5%;"><input type="checkbox" name="ExamAdmBBA"
                                v-model="stdAdmission.ExamAdmBBA" id="ExamAdmBBA"
                                data-parsley-errors-container="#errId41"    @change="changeCheck($event)" value="0"> Admissions Exam Taken</label>
                                <label class="checkbox" for="checkbox142" style="margin-top: 8%"><input type="checkbox"
                                id="ExamEntBBA"  v-model="stdAdmission.ExamEntBBA" name="ExamEntBBA"
                                data-parsley-errors-container="#errId41"   @change="changeCheck($event)" value="0"> Entrance Exam Taken</label>
                                 <br>
                                <label class="checkbox" for="checkbox143" style="margin-top: 8%"><input type="checkbox"
                                  id="ExamOthBBA" name="ExamOthBBA" v-model="stdAdmission.ExamOthBBA" data-parsley-errors-container="#errId41"   @change="changeCheck($event)" value="0"> Other</label>
                                  <span id="errId41" class="error"></span>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6" style="margin-top:2%">
                            <div class="form-group row">
                                <label class="control-label control-label-left col-4" for="Result">Result</label>
                                <div class="controls col-8">
                                <input id="ExamAdmResultBBA" type="text" class="form-control-sm k-textbox" data-role="text" data-parsley-errors-container="#errId42" name="ExamAdmResultBBA" v-model="stdAdmission.ExamAdmResultBBA"><span id="errId42" class="error"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label control-label-left col-4" for="Result">Result</label>
                                <div class="controls col-8">
                                <input id="result_entrance_b" type="text" class="form-control-sm k-textbox" data-role="text" data-parsley-errors-container="#errId43" name="ExamEntResultBBA" v-model="stdAdmission.ExamEntResultBBA"><span id="errId43" class="error"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label control-label-left col-4" for="Result">Result</label>
                                <div class="controls col-8">
                                <input id="result_other_b" type="text" name="ExamOthResultBBA" v-model="stdAdmission.ExamOthResultBBA" class="form-control-sm  k-textbox" data-role="text" data-parsley-errors-container="#errId44"><span id="errId44" class="error"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label"><h5 style="font-weight:bold"><u>Master Admission:</u></h5></label>
                                <div class="controls" style="margin-top:5%">
                                <label class="checkbox" for="checkbox149"><input    @change="changeCheck($event)" value="0" type="checkbox" name="ExamAdmMAS" id="ExamAdmMAS" v-model="stdAdmission.ExamAdmMAS" data-parsley-errors-container="#errId45"> Admissions Exam Taken</label>
                                <label class="checkbox" for="checkbox150" style="margin-top:8%"><input type="checkbox"   @change="changeCheck($event)" value="0" name="ExamEntMAS" id="ExamEntMAS" v-model="stdAdmission.ExamEntMAS" data-parsley-errors-container="#errId45" > Entrance Exam Taken</label>
                                <br>
                                <label class="checkbox" for="checkbox151" style="margin-top:8%"><input   @change="changeCheck($event)" value="0" type="checkbox"  id="ExamOthMAS" name="ExamOthMAS" v-model="stdAdmission.ExamOthMAS" data-parsley-errors-container="#errId45"> Other</label><span id="errId45" class="error"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" style="margin-top:8%">
                            <div class="form-group row">
                                <label class="control-label control-label-left col-4" for="Result">Result</label>
                                <div class="controls col-8">
                                <input id="result_entrance_m" type="text"  class="form-control-sm  k-textbox" data-role="text" data-parsley-errors-container="#errId46" name="ExamAdmResultMAS" v-model="stdAdmission.ExamAdmResultMAS" ><span id="errId46" class="error"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label control-label-left col-4" for="Result">Result</label>
                                <div class="controls col-8">
                                <input id="result_admission_m" name="ExamEntResultMAS" v-model="stdAdmission.ExamEntResultMAS" type="text" class="form-control-sm  k-textbox" data-role="text" data-parsley-errors-container="#errId47"><span id="errId47" class="error"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label control-label-left col-4" for="Result">Result</label>
                                <div class="controls col-8">
                                <input id="ExamOthResultMAS" type="text" name="ExamOthResultMAS" v-model="stdAdmission.ExamOthResultMAS" class="form-control-sm  k-textbox" data-role="text" data-parsley-errors-container="#errId48"><span id="errId48" class="error"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" style="display: block;">
                                <label class="control-label"><h5 style="font-weight:bold"><u>Doctorate Admission:</u></h5></label>
                                <div class="controls" style="margin-top: 4.5%;">
                                <label class="checkbox" for="checkbox154"><input type="checkbox"
                                  @change="changeCheck($event)" value="0" v-model="stdAdmission.ExamEntDBA"
                                id="ExamEntDBA" name="ExamEntDBA"
                                data-parsley-errors-container="#errId49"> Entrance Exam Taken</label>
                                <br>
                                <label class="checkbox" for="checkbox155"  style="margin-top:5%"><input type="checkbox"   @change="changeCheck($event)" value="0" v-model="stdAdmission.ExamOthDBA"
                                 id="ExamOthDBA" name="ExamOthDBA" data-parsley-errors-container="#errId49"> Other</label><span id="errId49" class="error"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" style="margin-top:8%">
                            <div class="form-group row">
                                <label class="control-label control-label-left col-4" for="Result">Result</label>
                                <div class="controls col-8">
                                <input id="ExamEntResultDBA" name="ExamEntResultDBA" v-model="stdAdmission.ExamEntResultDBA" type="text" class="form-control-sm  k-textbox" data-role="text" data-parsley-errors-container="#errId50"><span id="errId50" class="error"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label control-label-left col-4" for="Result">Result</label>
                                <div class="controls col-8">
                                <input id="ExamOthResultDBA" name="ExamOthResultDBA" v-model="stdAdmission.ExamOthResultDBA" type="text" class="form-control-sm  k-textbox" data-role="text" data-parsley-errors-container="#errId51"><span id="errId51" class="error"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
        </div>

       <!-- program -->
       <div class="tab-pane fade" id="menu7">
        <div class="container-fluid shadow" style="margin-left:0%">
          <div class="row" style="margin-left:0%">
           <div class="col-md-12">
            <div class="form-group">
               <label class="control-label control-label-left col-sm-3" for="Program">Program</label>
               <div class="controls col-md-9">
                  <input type="text" class="form-control" v-model="search_p_input" @keyup="getProgram()">
                    <ul style="margin-left: 0%;margin-top: 0%;"  class="list-group">
                     <li class="list-group-item searchCourseBackground" v-for="(result,index) in programList" v-bind:key="index">
                        <a style="cursor:pointer" @click="SelectedProgram(result)">{{ result.ProgramTitle}}</a>
                        <!-- <span v-if="show_select"> yes</span> -->
                     </li>
                   </ul>
               </div>
            </div>
            <div class="form-group" >
               <label  class="control-label control-label-left col-sm-3" for="SecondrayMajor">Secondray Major</label>
               <div class="controls col-md-9">
                  <select id="SecondrayMajor" readonly v-model="stdProgram.Program2ID"  name="Program2ID" class="form-control" data-role="select" data-parsley-errors-container="#errId53">
                  <option></option>
                  </select>
                  <span id="errId53" class="error"></span>
               </div>
            </div>
            <div class="form-group" style="margin-left:2%">
               <label class="sr-only control-label"></label>
               <div class="controls">
                  <label class="checkbox" for="checkbox188">
                      <input type="checkbox" id="checkbox188"    @change="changeCheck($event)"  value="0" v-model="stdProgram.BooksIncluded"  name="BooksIncluded" data-parsley-errors-container="#errId54"> Books Included</label>
                      <br>
                      <label class="checkbox" for="checkbox189"><input type="checkbox"    @change="changeCheck($event)"  value="0"  id="checkbox189" v-model="stdProgram.Graduate"  name="Graduate" data-parsley-errors-container="#errId54"> Graduated</label>
                      <br>
                      <label class="checkbox" for="checkbox190"><input type="checkbox"   @change="changeCheck($event)" value="0"  id="checkbox190" v-model="stdProgram.Withdraw"  name="Withdraw" data-parsley-errors-container="#errId54"> Withdrawn</label><span id="errId54" class="error"></span>
               </div>
            </div>
            <div class="form-group">
               <label class="control-label control-label-left col-sm-3" for="ThesisSubject">Thesis Subject</label>
               <div class="controls col-md-9">
                  <textarea id="ThesisSubject" v-model="stdProgram.ThesisSubject"  name="ThesisSubject" rows="3" class="form-control k-textbox" data-role="textarea" data-parsley-errors-container="#errId55"></textarea><span id="errId55" class="error"></span>
               </div>
            </div>

         </div>
          </div>
         <div class="row" style="margin-left: 1%;">
               <div class="col-md-6">
                  <div class="form-group">
                     <h5><b><u>Defence Examiner</u></b></h5>
                     <div class="controls col-md-9">
                        <p id="field192" data-default-label="Header" data-default-is-header="true" data-control-type="header"></p>
                        <span id="errId56" class="error"></span>
                     </div>
                  </div>
                  <br>
                  <div class="form-group">
                     <label class="control-label control-label-left col-sm-3 sr-only" for="field201"></label>
                     <div class="controls col-md-9">
                              <select class="form-control" v-model="stdProgram.Examiner1" style=" margin-top:-5%">
                              <option v-for="(professor , index) in professor" v-bind:key="index" :value="professor.ID">{{professor.FirstName}}{{professor.LastName}}</option>
                              </select>
                        <span id="errId57" class="error"></span>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label control-label-left col-sm-3 sr-only" for="field200"></label>
                     <div class="controls col-md-9">
                        <select id="field200" style=" margin-top:11%" v-model="stdProgram.Examiner2"  name="Examiner2" class="form-control" data-role="select" data-parsley-errors-container="#errId58">
                          <option v-for="(professor , index) in professor" v-bind:key="index" :value="professor.ID">{{professor.FirstName}}{{professor.LastName}}</option>
                        </select>
                        <span id="errId58" class="error"></span>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label control-label-left col-sm-3 sr-only" for="field193"></label>
                     <div class="controls col-md-9">
                        <select id="field193" style="margin-top:12%" v-model="stdProgram.Examiner3"  name="Examiner3" class="form-control" data-role="select" data-parsley-errors-container="#errId59">
                       <option v-for="(professor , index) in professor" v-bind:key="index" :value="professor.ID">{{professor.FirstName}}{{professor.LastName}}</option>
                        </select>
                        <span id="errId59" class="error"></span>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <br>
                  <div class="form-group row">
                     <label class="control-label control-label-left col-4" for="GraduationDate">Graduation Date</label>
                     <div class="controls col-9">
                        <input id="GraduationDate" v-model="stdProgram.GraduationDate"  name="GraduationDate" type="date" class="form-control k-textbox" data-role="text" data-parsley-errors-container="#errId60"><span id="errId60" class="error"></span>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="control-label control-label-left col-10" for="ThesisPercentage">Thesis Percentage</label>
                     <!-- <div class="controls col-9">
                        <input id="ThesisPercentage" style="diplay:none"  v-model="stdProgram.ThesisPercentage"  name="ThesisPercentage" type="text" class="form-control k-textbox" data-role="text" data-parsley-errors-container="#errId61"><span id="errId61" class="error"></span>
                     </div> -->
                  </div>
                  <div class="form-group">
                     <label class="control-label control-label-left col-11" for="ThesisGrade">Thesis Grade</label>
                     <!-- <div class="controls col-9">
                        <input id="ThesisGrade" style="diplay:none" v-model="stdProgram.ThesisGrade"  name="ThesisGrade" type="text" class="form-control k-textbox" data-role="text" data-parsley-errors-container="#errId62"><span id="errId62" class="error"></span>
                     </div> -->
                  </div>
                  <div class="form-group">
                     <label class="control-label control-label-left col-11" for="ThesisMentor">Thesis Mentor</label>
                     <div class="controls col-9">
                        <select id="ThesisMentor" v-model="stdProgram.ThesisMentor"  name="ThesisMentor" class="form-control" data-role="select" data-parsley-errors-container="#errId63">
                          <option v-for="(professor , index) in professor" v-bind:key="index" :value="professor.ID" >{{professor.FirstName}}{{professor.LastName}}</option>
                        </select>
                     </div>
                  </div>
               </div>
         </div>
        </div>
       </div>

        <!-- /// grade tab -->

        <div id="menu8" class="tab-pane fade">
            <div class="row shadow">
                     <div class="col-md-9">
                        <!-- /// start -->
                        <div class="form-group">
                           <table class="table table-borderd">
                              <thead>
                                 <th>Course</th>
                                 <th>Percentage</th>
                                 <th>Grade</th>
                                 <th>Desc Grade</th>
                                 <th>ECTS Grade</th>
                                 <th>Final Exame</th>
                                 <th>Enrolled</th>
                                 <th></th>
                              </thead>
                              <tbody>
                                 <tr v-for="(line, index) in lines" v-bind:key="index" style="width:100%">
                                    <td>
                                       {{line.CourseTitle}}
                                    </td>
                                    <td>
                                       <input type="text" style="width:80px" v-model="line.Percentage" >
                                    </td>
                                    <td>
                                       <input style="width:80px" type="text" v-model="line.Grade">
                                    </td>
                                     <td>
                                        <select style="width:80px" type="text" v-model="line.DescGrade">
                                          <option value="A">A</option>
                                          <option value="A+">A+</option>
                                          <option value="A-">A-</option>

                                          <option value="B">B</option>
                                          <option value="B+">B+</option>
                                          <option value="B-">B-</option>

                                          <option value="C">C</option>
                                          <option value="C+">C+</option>
                                          <option value="C-">C-</option>

                                          <option value="D">D</option>
                                          <option value="D+">D+</option>
                                          <option value="D-">D-</option>

                                          <option value="E">E</option>
                                          <option value="F">F</option>
                                          <option value="I">I</option>
                                          <option value="P">P</option>
                                          <option value="TC">TC</option>
                                       </select>
                                    </td>
                                     <td>
                                       <input type="text" style="width:80px" v-model="line.ECTSGrade">

                                    </td>
                           
                                    <td>
                                       <input type="date" style="  height: 22px;font-size: 12px;">
                                       <!-- <datepicker  style="width:140px" :bootstrap-styling="true" format="dd.MM.yyyy"      class="col-md-12 date_picker_sm"></datepicker> -->
                                    </td>
                                    <td>
                                       <input type="checkbox" v-model="line.Enrolled"   @change="changeCheck($event)" value="0">
                                    </td>
                                    <td><a role="button" style="color:red; cursor:pointer;"  @click="removeLine(index)"><i class="fa fa-times"></i></a></td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                        <!-- search -->
                     </div>
                     <!-- right part -->
                     <div class="col-md-3">
                        <div class="form-group ">
                           <label for="" style="margin-left: 20%;margin-top: 4%;">Search Courses</label>
                           <ul class="list-group">
                              <div class="input-group">
                              <input type="text" class="form-control" name="search" placeholder="Search course to add.." v-model="search_data" v-on:keyup="autoComplete" aria-label="Amount (to the nearest dollar)">
                                <div class="input-group-append">
                                 <span class="input-group-text" v-on:click="clear()" style="color:red;cursor:pointer;"> <i class="fa fa-times"></i></span>
                                </div>
                              </div>
                              <li class="list-group-item searchCourseBackground" v-for="(result,index) in data_results" v-bind:key="index">
                                 <a style="cursor:pointer" role="button" @click="addLine(result)">{{ result.CourseTitle}}</a>
                                 <span v-if="show_select"> yes</span>
                              </li>
                           </ul>
                        </div>
                     </div>
            </div>
         </div>
        <!-- attachemnt file  -->
        <div id="menu9" class="tab-pane fade">
            <div class="tab-pane" id="tabContent4">
               <div class="container-fluid shadow">
                  <div class="row">
                     <div class="col-md-8">
                        <br>
                        <table class="table table-borderd">
                            <tr>
                                <th>File Icon</th>
                                <th>Name</th>
                                <th>Description</th>
                            </tr>
                            <tbody>
                                <tr v-for="(file , index) in files_list_for_show" v-bind:key="index">
                                    <td><i class="fa fa-file" aria-hidden="true"></i></td>
                                    <td>{{file.name}}</td>
                                    <td>
                                       <input type="text" class="form-control" v-model="file_detail.des">
                                    </td>
                                    <td><span style="color:red;cursor:pointer" @click="removeAttach(index,file)"><i class="fa fa-times"></i></span></td>
                                </tr>
                            </tbody>
                        </table>
                     </div>
                     <div class="col-md-4">
                        <div class="form-group">
                           <label class="control-label" for="StatusID:">Attach File:</label>
                           <div class="row" style="display:none">
                            <input type="file"   name="attach_std_file" ref="attach_std_file" v-on:change="handleFileUpload()" class="form-control-sm col-md-7">
                            <input type="button" v-on:click="submitFile()" v-model="upload_btn" class="form-control btn btn-primary col-md-5">
                           </div>
                               <vue-dropzone ref="myVueDropzone" id="dropzone" :options="dropzoneOptions" 
                            @vdropzone-success="fileSubmitted"
                             ></vue-dropzone>
                        </div>
                    </div>
                  </div>
                  </div>
               </div>
      </div>
   </div>
</div>
</template>
<script>
import vue2Dropzone from 'vue2-dropzone';
import 'vue2-dropzone/dist/vue2Dropzone.min.css';
import Datepicker from 'vuejs-datepicker';
export default {

     components: {
    Datepicker
  },
    components: {
        vueDropzone: vue2Dropzone
      },
    data() {
        return {
                dropzoneOptions: {
              url: '/api/attachStudentFile',
              headers: {
                "X-CSRF-TOKEN": document.head.querySelector("[name=csrf-token]").content
               },
               thumbnailWidth: 100, // px
                thumbnailHeight: 100,
          },
           account_id:null,
            file_detail:{'des':null,'icon':null,'name':null,},
            search_data:'',
            allCountries: '',
            search_p_input_hidden:'',
            search_p_input:'',
            programList:[],
            student_image:'',
            professor:'',
            //personal information
            studentObject:{
            Photo:null,
            StudentNumber:null,
            FirstName:null,
            LastName:null,
            TranscriptName:null,
            Title:null,
            BirthDate:null,
            BirthPlace:null,
            BirthCountry:null,
            StreetAddress:null,
            City:null,
            Zip:null,
            Country:null,
            Phone:null,
            Mobile:null,
            Fax:null,
            Email:null,
            Email2:null,
            Email3:null,
            WebAddress:null,
            Photo:null,
            Remarks:null,
            Notes:null,
            MailAddress:0,
            Student:1,
            Professor:1,
            Staff:1,
            SISEnabled:0,
            GradeNotification:0,
            PartnerID:0,
            PartnerCampusID:0,
            ImportFlag:1,
            ImportUser:1,
            TS:1,
            },
            // student program fields
            stdProgram:{
            ProgramID:null,
            Program2ID:null,
            BooksIncluded:null,
            Graduate:null,
            Withdraw:null,
            GraduationDate:null,
            ThesisPercentage:null,
            ThesisDescriptiveGrade:null,
            ThesisGrade:null,
            ThesisECTSGrade:null,
            ThesisSubject:null,
            ThesisMentor:null,
            Examiner1:null,
            Examiner2:null,
            Examiner3:null,
            },
            //graduation requirement
            stdGraduateReq:{
               DBAExitSurvey:null,
               DBAExitExamSBS:null,
               DBAExitExamExternal:null,
               MASExitExamSBS:null,
               MASExitExamExternal:null,
               BBAExitSurveyCBE:null,
               MASExitSurvey:null,
               MSCInternReport:null,
               BBAExitSurvey:null,
               BBAExitSurveyCBE:null,
               FinancialObligations:null,
               PassingGPA:null,
            },
               //bussinessinformation
            stdBussiness:{
            CompanyName	:null,
            Department	:null,
            Position	:null,
            StreetAddress	:null,
            City	:null,
            Zip	:null,
            Country	:null,
            Phone	:null,
            Mobile	:null,
            Fax	:null,
            Email	:null,
            WebAddress	:null,
            ContactPersonTitle	:null,
            ContactPersonFirstName	:null,
            ContactPersonLastName	:null,
            ContactPersonDepartment	:null,
            Notes	:null,
            StudentID	:null,
            ProfessorID	:null,
            },
            //admission
            stdAdmission:{
            EducationalBackground:null,
            SBSTest:null,
            GMATTest:null,
            GMATResult:null,
            SATTest:null,
            SATResult:null,
            TOEFLTest:null,
            TOEFLResult:null,
            IELTSTest:null,
            IELTSResult:null,
            ExamAdmBBA:null,
            ExamAdmResultBBA:null,
            ExamEntBBA:null,
            ExamEntResultBBA:null,
            ExamOthBBA:null,
            ExamOthResultBBA:null,
            ExamAdmMAS:null,
            ExamAdmResultMAS:null,
            ExamEntMAS:null,
            ExamEntResultMAS:null,
            ExamOthMAS:null,
            ExamOthResultMAS:null,
            ExamEntDBA:null,
            ExamEntResultDBA:null,
            ExamOthDBA:null,
            ExamOthResultDBA:null,
            },
            //Grades
            stdGrades:{
            CourseID:null,
            CourseTitle:null,
            FinalExameDate:null,
            Enrolled:null,
            Percentage:null,
            DescriptiveGrade:null,
            Grade:null,
            ECTSGrade:null,
            ImportFlag:null,
            ImportUser:null,
                     },

            files_list_for_show:[],
            upload_btn:'Upload',
            attach_std_file:'',
            std_status_id_title:null,
            std_status:{
                std_status_date:null,
                std_status_comment:null,
            },

            status_list:[],
            partners: [],
            partnercampus: [],
            status_list_from_db: [],
            image:'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrp-DMAo3_QzhMp5cqgsYqW8nGs38dbbwSlqO1C64_-9F8GCfX',
            
            //file:null,
            sem_term:[],
                    p_year:[],
                    p_year:[],
                    course_id:[],
                    show_select:false,
                    result:null,
                    data_results:[],
                    search_data: '',
                        lines: [],
                    blockRemoval: true,
                }
           },
         watch: {
               lines () {
               this.blockRemoval = this.lines.length <= 1
               }
           },
    created() {
        this.fetchPartner();
        this.fetchStatus();
        this.fetchcountries();
        this.fetchProfessor();
        this.editStudent();
        this.fetchPartnerCampus();

    },

computed: {
  	selectedAccount () {
      return this.partners.find(partner => partner.ID === this.account_id)
    }
  },
    methods: 
    {
         fileSubmitted(file,response){
                   this.files_list_for_show.push({id:response.id,'name':response.filename,'ext':response.extention,'des':null});
       },
    removeAttach(index,attach){
               console.log(attach);
               let vm = this;
               if(confirm("Are you sure ?"))
               {
                  axios.post("/api/deleteAttachFile",attach).then(resp=>{
                     alert("Deleted SuccessFully");
                   vm.files_list_for_show.splice(index,1);
                  }).catch(error=>{
                     console.log(error);
                  });
               }
            },
                  /// final selected prgram search value
            SelectedProgram(val){
               this.programList =[];
               this.search_p_input_hidden = val.ID;
               this.stdProgram.ProgramID = val.ID;
               this.search_p_input = val.ProgramTitle;
            },
       // program list
               getProgram() {
               this.programList=[];

               axios.post('/api/searchProgram',{'search_data':this.search_p_input})
                  .then(response => {
                     this.programList = response.data;
                     // shani2
                })
                .catch(error => {
                    console.log(error.response);
                });
        },
         handleFileUpload(){
            this.attach_std_file = this.$refs.attach_std_file.files[0];

        },
         submitFile(){

        /*
                Initialize the form data
            */

            let formData = new FormData();

            /*
                Add the form data we need to submit
            */
            formData.append('file', this.attach_std_file);
        /*
          Make the request to the POST /single-file URL
        */
       this.upload_btn='Uploading ...';
            axios.post( '/api/attachStudentFile',
                formData,
                {
                headers: {
                    'Content-Type': 'multipart/form-data'

                },

              }
            ).then(response => {
                this.upload_btn ="Upload";
                this.attach_std_file= '';
                let file_icon ='';
                if(response.data.ext == 'jpg')
                {
                    file_icon ='fa fa-file-word-o';
                }
                else if(response.data.ext == 'jpg')
                {
                    file_icon ='fa fa-file-word-o';
                }
                else{
                    file_icon ='fa fa-file-word-o';
                }
                this.files_list_for_show.push({fId:null,id:response.data.id,'name':response.data.filename,'ext':response.data.extention,'des':null});
          alert("File is attached successfully!!");

        })
        .catch(error =>{
          alert("File is not  attached successfully Trt again ");
        });
      },
        // search course

        autoComplete(){
               this.data_results = [];
               if(this.search_data.length > 2){
               axios.post('/api/searchCourse',{search_data: this.search_data}).then(response => {
                   // console.log(response.data);
               this.data_results = response.data;
               });
               }
           },
       addLine(result) {
           let checkEmptyLines = this.lines.filter(line => line.number != null)
           if (checkEmptyLines.length >= 1 && this.lines.length > 0) return
           this.lines.push({
               CourseID: result.ID,
               CourseTitle: result.CourseTitle,
               CourseCode: result.CourseCode,
               Percentage:null,
               Grade:null,
               DescGrade:null,
               ECTSGrade:null,
               FinalExameDate:null,
               Enrolled:null,
               Enrolled:null,

           });
           this.sem_term.push({value:''});
           this.sem_term.push({value:''});
           this.sem_term.push({value:''});

           },
       removeLine (lineId) {
            this.lines.splice(lineId, 1)
           }
           ,
           submitProgram()
           {
               console.log(this.sem_term, '')
               console.log(this.lines);
           },
        //    upload attach file of student
        uploadAttachFile(){
            console.log();
        },
        // end search

        onImageChange(e) {
              this.student_image = this.$refs.student_image.files[0];
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                    this.file = files;
                this.createImage(files[0]);
            },
            createImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.image = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            appendStatus(){
                this.status_list.push(
                    {
                        id:this.std_status_id_title.StatusID,
                        title:this.std_status_id_title.StatusName,
                        note:this.std_status.std_status_comment,
                        date:this.std_status.std_status_date,
                    }
                );
                console.log();
            },
            RemoveStatusLine(index)
            {
                this.status_list.splice(index, 1);
            }
            ,
    onFileChange(e) {
     const file = e.target.files[0];
     this.url = URL.createObjectURL(file);
   },
    updateStudent ()
         {

             let formdata = new FormData();
             formdata.append('image',this.student_image);

             this.status_list.map((status) => {
                 formdata.append('status[]',JSON.stringify(status));
                    });
            this.lines.map((course) => {
               
               
                 formdata.append('course[]',JSON.stringify(course));
                    });

            this.files_list_for_show.map((attach) => {
                formdata.append('std_attached_files[]',JSON.stringify(attach));
                    });
             /// student record
             formdata.append('student_image',this.student_image);
            formdata.append('student',JSON.stringify(this.studentObject));
            formdata.append('stdBussiness',JSON.stringify(this.stdBussiness));
            formdata.append('stdGraduateReq',JSON.stringify(this.stdGraduateReq));
            formdata.append('stdProgram',JSON.stringify(this.stdProgram));
            formdata.append('stdAdmission',JSON.stringify(this.stdAdmission));
           axios.post('/api/updateStudent/'+this.$route.params.Sid,
                formdata,{
                headers: {
                    'Content-Type': 'multipart/form-data'
                },
                Accept: 'application/json, text/plain',
           }).then(response => {
            console.log(response);
            // this.$router.push({path:'/'})
            //this.student.push(response.data.studentcreate);

           })
   },

   fetchPartner(){

    axios.get('/api/getAllPartner')
                .then(response => {
                    this.partners = response.data;
                })
                .catch(error => {
                    console.log(error.response.data);
                });
   },
   fetchPartnerCampus(){
      //  console.log(this.$emit('input', this.selectedAccount));
        axios.post('/api/getAllPartnerCampus',{partnerCampId:this.studentObject.PartnerID})
                .then(response => {
                   console.log(response);
                   this.partnercampus = response.data;
                })
                .catch(error => {
                    console.log(error.response.data);
                });
   },
   changeCheck($event)
   {
       if(event.target.value == "0")
       event.target.value ="1";
       else
            event.target.value ="0";
   },

     fetchStatus(){
        axios.get('/api/getAllStatus')
                .then(response => {
                   this.status_list_from_db = response.data;
                })
                .catch(error => {
                    console.log(error.response.data);
                });

   },

     fetchcountries(){
        this.getStudentNumber();

        axios.get('/api/getAllCountries')
                .then(response => {
                   this.allCountries = response.data;
                })
                .catch(error => {
                    console.log(error.response.data);
                });

   },
   getStudentNumber(){
      axios.get("/api/getStudentNumber").then(res=>{
         this.studentObject.StudentNumber = res.data
         this.image = this.studentObject.Photo;
      }).catch(error=>{
      console.log(error);
      });
   },

   clear(){
            this.search_data= ''
            this.data_results=''
            },
  fetchProfessor() {
            axios.get('/api/getpro')
                .then(response => {
                    this.professor = response.data;
                    console.log(this.professor)
                })
                .catch(error => {

                    console.log(error.response.data);
                });
        },
        editStudent(){
           axios.get('/api/editStudent/'+this.$route.params.Sid).then(response=>{

              this.studentObject=response.data.student;
              if(response.data.student.Photo != null)
              {
              this.image='/student_images/'+ response.data.student.Photo;
              }
              else{
                 this.image='';
                 this.image= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrp-DMAo3_QzhMp5cqgsYqW8nGs38dbbwSlqO1C64_-9F8GCfX";
              }
              console.log(response.data.student.Photo);
              this.fetchPartnerCampus();
              if(response.data.stdBussiness !=null)
              this.stdBussiness=response.data.stdBussiness;

              if(response.data.stdAddmission !=null)
              {
                 console.clear();
                 console.log(response.data.stdGradutionReq);
              this.stdAdmission=response.data.stdAddmission;
              }

              if(response.data.stdProgram !=null)
              {
              this.stdProgram=response.data.stdProgram;
               axios.get("/api/getProgramName/"+this.stdProgram.ProgramID).then(resp=>{
                  console.log(resp);
                  this.search_p_input = resp.data.ProgramTitle;
               });
              }



              if(response.data.stdGradutionReq !=null)
              this.stdGraduateReq=response.data.stdGradutionReq;

              if(response.data.stdStatus.length !=0)
              {
                 response.data.stdStatus.map((status)=>{
                    let t = '';
                    this.status_list_from_db.map((s_id)=>{
                       console.log(s_id);
                       if(s_id.StatusID == status.StudentStatusID)
                       t= s_id.StatusName;
                    });
                    this.status_list.push(
                       {
                          id:status.StudentStatusID,
                          title:t,
                          date:status.StudentStatusDate,
                          note:status.StudentStatusComment
                       }
                    );
                 });
              }
            //   this.status_list=response.data.stdStatus;

            //             id:this.std_status_id_title.StatusID,
            //             title:this.std_status_id_title.StatusName,
            //             note:this.std_status.std_status_comment,
            //             date:this.std_status.std_status_date,
                     // edit grade
              if(response.data.stdGrade.length !=0)
              {
               response.data.stdGrade.map((course)=>{
                  
                  if(response.data.all_courses.length !=0)
                  {
                     
                      response.data.all_courses.map((c)=>{
                         if(course.CourseID == c.ID)
                         {
                            this.lines.push(
                               { 
                                 CourseTitle:c.CourseTitle,
                                 FinalExameDate:course.FinalExameDate,
                                 Enrolled:course.Enrolled,
                                 Percentage:course.Percentage,
                                 DescriptiveGrade:course.DescriptiveGrade,
                                 Grade:course.Grade,
                                 ECTSGrade:course.ECTSGrade,
                                 ImportFlag:course.ImportFlag}
                            );
                             
                                 
                         }
                         
                      });

                  }
                  // console.log(course);
               });
              }
            //   this.lines=;

              if(response.data.stdAttachment.length !=0)
              {
                 response.data.stdAttachment.map((attach)=>{

                  //   console.log();
               //  this.files_list_for_show.push({id:attach.File.split('/')[0],'name':response.data.filename,'ext':response.data.extention,'des':null});

             this.files_list_for_show.push({fId:attach.ID,id:attach.File.split('/')[0],'name':attach.File.split('/')[1],'ext':null,'des':attach.Description});
                });

              }
           }).then(error=>{

           });
        },
    }
}
</script>


<style scoped>
body {
  background-color: #e2e2e2;
}

#app {
  padding: 20px;
}

#preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

#preview img {
  max-width: 100%;
  max-height: 500px;
}

.searchCourseBackground:hover
{
background: #cececf;
}
input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;

}

</style>

