<template>
<div class="container-fluid shadow" style="padding-bottom:5%;">
<div style="width:100%;" >
    <div class="vld-parent">
        <loading :active.sync="isLoading"
        :is-full-page="fullPage"></loading>
    </div>
        <h2>Student List</h2>
        <div class="row">
            <div class="col-5 row">
                    <div class="form-group col-6">
                        <input type="text" class="search form-control" v-model="search" name="search"   placeholder="Search as Student Name">
                        </div>
                        <div class="form-group col-6">
                        <input type="text" class="search form-control" v-model="search_number" name="search_number"  placeholder="Search as Student Number">
                        </div>
            </div>
            <div class="col-7 row">
                <div class="form-group col-3">
                    <select class="form-control" v-model="std_status" @change="searchByFilterList">
                        <option value="0" selected>--Select Status--</option>
                        <option style="width:25%"  v-for="(s_status,s_s_i) in std_status_list" v-bind:key="s_s_i" :value="s_status.StatusID">{{s_status.StatusName}}</option>
                    </select>
                </div>
                <div class="form-group col-3">
                    <select  v-model="std_program"  @change="searchByFilterList" class="form-control">
                        <option value="0" selected>--Select Program--</option>

                        <option  style="width:25%"   v-for="(s_p,i) in std_program_list" v-bind:key="i"  :value="s_p.ID">{{s_p.ProgramTitle}}</option>
                    </select>
                </div>
                <div class="form-group col-3">
                    <select class="form-control" v-model="std_country"  @change="searchByFilterList">
                        <option value="0" selected>--Select Country--</option>
                        <option  v-for="(s_country,i) in std_country_list" v-bind:key="i" :value="s_country.name">{{s_country.name}}</option>
                    </select>
                </div>
                <div class="form-group col-3">
                    <select class="form-control"  v-model="std_partner_code" @change="searchByFilterList"  >
                        <option value="0" selected>--Select Status--</option>
                        <option  v-for="(s_partner,i) in std_partner_code_list" v-bind:key="i" :value="s_partner.PartnerID">{{s_partner.PartnerCode}}</option>
                    </select>
                </div>
            </div>
        </div>
        <table class="table table-hover table-bordered results myTable"  >
        <thead>
        <tr class="header">
            <th>Name</th>
            <th>StudentNumber</th>
            <th>Status</th>
            <th>Program</th>
            <th>Country</th>
            <th>Partner Code</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody v-for="(student, index) in students" v-bind:key="index">
            <tr>
            <td>{{student.FirstName }}
            {{student.LastName}}</td>
             <td>
                 {{student.StudentNumber}}
             </td>
            <td >
                <span v-if="student.current_status.length > 0">
                  <span> {{student.current_status[0].status}}</span>       
                </span>          
            </td>
            <td> <span  v-for="(sp,i) in student.program" v-bind:key="i">
                 {{sp.ProgramTitle}}
            </span>
            </td>
            <td>
                {{student.Country}}
            </td>
            <td>
                <span v-if="student.partner">{{student.partner.PartnerCode}}</span>
               
            </td>
            <td><button class="btn btn-info btn btn-sm personal_btn_info" v-on:click="editStudent(index)"><span class="fa fa-edit" ></span></button><button class="btn btn-danger btn btn-sm" v-on:click="deletestudent(index)"><span class="fa fa-trash"></span></button></td>
            </tr>
        </tbody>
        </table>
        <pagination v-if="pagination.last_page > 1" :pagination="pagination" @paginate="paginateData()" :offset="5"></pagination>
    </div>
</div>
</template>

<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
export default {
     components: {
            Loading
        },
 data() {
       return {
        std_status:0,   
        std_status_list:[],
        std_program:0, 
        std_program_list:[],
        std_country:0,   
        std_country_list:[],
        std_partner_code:0, 
        std_partner_code_list:[],
        search: '',
        search_number:'',
        students: [],
        dumy: [],
        pagination: {
            'current_page': 1
        },
         isLoading: false,
         fullPage: true
        }
    },
    created() {
       this.fetchStudents();
       this.getFillterList();
   
    },
    watch: {
        search(after) {
           this.searchData();
           this.search_number='';
        },
        search_number(after) {
           this.searchData();
           this.search='';
        },
    },
    methods: {

        searchByFilterList(){
            axios.post('/api/searchByFilterList',{'statsu_id':this.std_status,'program_id':this.std_program,'country_name':this.std_country,'partner_id':this.std_partner_code}).then(response=>{
        
                console.clear();
                console.log(response);
              //  this.students=[];
                // response.data.map((res)=>{
                    
                //      console.log(res);
                //     // this.students.push(res.student);
                // })
                // this.students = response.data.data.data;
                //     this.pagination = response.data.pagination;
            }).catch(error=>{
                console.log(error);
            });
        },
        getFillterList(){

            axios.get('/api/getFillterList').then(resp=>{
             
                this.std_status_list = resp.data.statusList;
                this.std_partner_code_list = resp.data.partnerCodeList;
                this.std_country_list = resp.data.countryList;
                 this.std_program_list = resp.data.programList;
                 console.log(this.std_status_list)            
            }).catch(error=>{
                
                console.log(error);
            });

        },
        searchData(){
            this.pagination.current_page=1;
            if(this.search.length>0)
                this.fetch();
            else if(this.search_number.length>0)
            this.fetch_number();
            else
                this.fetchStudents();
        },
        paginateData(){
            if(this.search.length>0)
                this.fetch();
            else if(this.search_number.length>0)
            this.fetch_number();
            else
                this.fetchStudents();
        },
        editStudent(index)
        {
           var id = this.students[index].ID;
           console.log(id);
           this.$router.push({name: 'student.edit' ,params:{Sid:id}});
        },
        deletestudent(index)
        {
          let conf = confirm("Do you ready want to delete this student?");
            if (conf === true) {
                axios.delete('/api/deletestudent/' + this.students[index].ID)
                    .then(response => {
                        this.fetchStudents();
                        this.students.splice(index, 1);
                    })
                    .catch(error => {
                    });
            }
        },
        fetchStudent(){
            if(this.search.length>0)
                this.fetch();
            else if(this.search_number.length>0)
                this.fetch_number();
            else
                this.fetchStudents();
        },
          fetch() {

            axios.get('/api/search?page=' + this.pagination.current_page,{ params: { search: this.search} })
                .then(response => {
                    console.log(response)
                    this.students = response.data.data.data;
                    this.pagination = response.data.pagination;
                })
                .catch(error => {
                    console.log(error.response.data);
                });

            },
                fetch_number() {
                    axios.get('/api/searchnumber?page=' + this.pagination.current_page,{ params: { search_number: this.search_number} })
                        .then(response => {
                            console.log(response)
                            this.students = response.data.data.data;
                            this.pagination = response.data.pagination;
                            console.log(response);
                        })
                        .catch(error => {
                            console.log(error.response.data);
                        });
                    },
        fetchStudents() {
            this.isLoading = true;
            axios.get('/api/getstudent?page=' + this.pagination.current_page)
                .then(response => {
                    this.students = response.data.data.data;
                    this.pagination = response.data.pagination;
                    console.log(this.students)
                    
                    this.isLoading = false;
                })
                .catch(error => {

                    console.log(error.response);
                });
        }
    },

    mounted() {
        this.fetchStudent();
    },
}
</script>
<style scoped>

</style>
