<template>
<div>
   <div class="wrapper" v-if="show_dashboard">
      <!-- Navbar -->
          <nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu"><i class="fa fa-bars"></i></a>
              </li>
              <!-- <li class="nav-item d-none d-sm-inline-block">
                <a href="index3.html" class="nav-link">Home</a>
              </li>
              <li class="nav-item d-none d-sm-inline-block">
                <a href="#" class="nav-link">Contact</a>
              </li> -->
            </ul>

            <!-- SEARCH FORM -->
            <!-- <form class="form-inline ml-3">
              <div class="input-group input-group-sm">
                <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                  <button class="btn btn-navbar" type="submit"></button>
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </form> -->

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
              <!-- Messages Dropdown Menu -->
              <!-- shani -->
              <li class="nav-item" style="margin-right:3%;">
                <a class="nav-link"  @click="logout"><i
                    class="fa fa-sign-out">Logout </i></a>
              </li>
                <li class="nav-item" style="display:none">
                <a class="nav-link" data-widget="control-sidebar" data-slide="true"><i
                    class="fa fa-th-large"></i></a>
              </li>
            </ul>
          </nav>
          <!-- /.navbar -->

          <!-- Main Sidebar Container -->
          <aside class="main-sidebar sidebar-dark-primary elevation-4" style="background-color:#0a4fa2;color:white">
            <!-- Brand Logo -->
            <a class="brand-link" style="    border-bottom: unset;">
              <span class="brand-text font-weight-light"> <img src='../../../../public/logo/sbswhite_transp.png' > </span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
              <!-- Sidebar user panel (optional) -->
              <div class="user-panel mt-3 pb-3 mb-3 d-flex" style="border-bottom:unset">
                <div class="image" style="display:none">
                  <img src="" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info"  style="display:none">
                  <a class="d-block">Current User</a>
                </div>
              </div>

              <!-- Sidebar Menu -->
              <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                  <!-- Add icons to the links using the .nav-icon class
                      with font-awesome or any other icon font library -->

                      <li class="nav-item has-treeview ">
                    <a  class="nav-link">
                      <i class="nav-icon fa fa-dashboard"></i>
                      <p>
                        User Management
                        <i class="right fa fa-angle-left"></i>
                      </p>
                    </a>
                    <ul class="nav nav-treeview" style="display:none">

                      <li class="nav-item">
                        <a  class="nav-link" id="personal_info_btn">
                          <i class="fa fa-circle-o nav-icon"></i>
                          <p><router-link to="/role/list">Roles</router-link></p>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a  class="nav-link">
                          <i class="fa fa-circle-o nav-icon"></i>
                          <p><router-link to="/user/list">Users</router-link></p>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item has-treeview ">
                    <a  class="nav-link">
                      <i class="nav-icon fa fa-dashboard"></i>
                      <p>
                        Student
                        <i class="right fa fa-angle-left"></i>
                      </p>
                    </a>
                    <ul class="nav nav-treeview" style="display:none">

                      <li class="nav-item">
                        <a  class="nav-link" id="personal_info_btn">
                          <i class="fa fa-circle-o nav-icon"></i>
                          <p><router-link to="/student/create">Create</router-link></p>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link">
                          <i class="fa fa-circle-o nav-icon"></i>
                          <p><router-link to="/student-list">Student List</router-link></p>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a  class="nav-link">
                          <i class="fa fa-circle-o nav-icon"></i>
                          <p><router-link to="/student/contact/contactList">Contact's List</router-link></p>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a  class="nav-link">
                          <i class="fa fa-circle-o nav-icon"></i>
                          <p><router-link to="/transcript/index">Transcripts</router-link></p>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item has-treeview">
                    <a class="nav-link">
                      <i class="nav-icon fa fa-edit"></i>
                      <p>
                      Employee
                        <i class="fa fa-angle-left right"></i>
                      </p>
                    </a>
                    <ul class="nav nav-treeview">
                      <li class="nav-item">
                        <a  class="nav-link" id="profesor_info_btn">
                          <i class="fa fa-circle-o nav-icon"></i>
                          <p><router-link to="/professor/create">Professor Create</router-link></p>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a  class="nav-link">
                          <i class="fa fa-circle-o nav-icon"></i>
                          <p><router-link to="/professor/index">Professor List</router-link></p>
                        </a>
                      </li>
                            <li class="nav-item">
                        <a  class="nav-link" id="profesor_info_btn">
                          <i class="fa fa-circle-o nav-icon"></i>
                          <p><router-link to="/staff/index">Staff List</router-link></p>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a  class="nav-link">
                          <i class="fa fa-circle-o nav-icon"></i>
                          <p><router-link to="/staff/create">Staff Create</router-link></p>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item has-treeview">
                    <a class="nav-link">
                      <i class="nav-icon fa fa-table"></i>
                      <p>
                        Program
                        <i class="fa fa-angle-left right"></i>
                      </p>
                    </a>
                    <ul class="nav nav-treeview">
                      <li class="nav-item">
                        <a  class="nav-link">
                          <i class="fa fa-circle-o nav-icon"></i>
                          <p> <router-link to="/program/create">Create </router-link></p>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a  class="nav-link">
                          <i class="fa fa-circle-o nav-icon"></i>
                          <p> <router-link to="/program/list">List </router-link></p>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item has-treeview">
                    <a class="nav-link">
                      <i class="nav-icon fa fa-table"></i>
                      <p>
                        Company
                        <i class="fa fa-angle-left right"></i>
                      </p>
                    </a>
                    <ul class="nav nav-treeview">
                      <li class="nav-item">
                        <a  class="nav-link">
                          <i class="fa fa-circle-o nav-icon"></i>
                          <p> <router-link to="/company/create">Create </router-link></p>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a  class="nav-link">
                          <i class="fa fa-circle-o nav-icon"></i>
                          <p> <router-link to="/company/index">List </router-link></p>
                        </a>
                      </li>
                    </ul>
                  </li>

                  <li class="nav-item has-treeview">
                    <a class="nav-link">
                      <i class="nav-icon fa fa-plus-square-o"></i>
                      <p>
                        Course
                        <i class="fa fa-angle-left right"></i>
                      </p>
                    </a>
                    <ul class="nav nav-treeview">
                      <li class="nav-item">
                        <a  class="nav-link">
                          <i class="fa fa-circle-o nav-icon"></i>
                          <p><router-link to="/course/create">Create</router-link></p>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link">
                          <i class="fa fa-circle-o nav-icon"></i>
                          <p><router-link to="/courses/list">List</router-link></p>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item has-treeview">
                    <a class="nav-link">
                      <i class="nav-icon fa fa-book"></i>
                      <p>
                        Book
                        <i class="fa fa-angle-left right"></i>
                      </p>
                    </a>
                    <ul class="nav nav-treeview">
                      <li class="nav-item">
                        <a  class="nav-link" id="createbook">
                          <i class="fa fa-circle-o nav-icon"></i>
                          <p><router-link to="/book/create">  Create</router-link></p>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link">
                          <i class="fa fa-circle-o nav-icon"></i>
                          <p><router-link to="/book/list">List</router-link></p>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a  class="nav-link">
                          <i class="fa fa-circle-o nav-icon"></i>
                          <p> <router-link to="/book/submission">Submission</router-link></p>
                        </a>
                      </li>
                    </ul>
                  </li>

                  <li class="nav-item has-treeview">
                    <a class="nav-link">
                      <i class="nav-icon fa fa-book"></i>
                      <p>
                        Book Bundle
                        <i class="fa fa-angle-left right"></i>
                      </p>
                    </a>
                    <ul class="nav nav-treeview">
                      <li class="nav-item">
                        <a  class="nav-link">
                          <i class="fa fa-circle-o nav-icon"></i>
                          <p><router-link to="/book/bundle/create">Create</router-link></p>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link">
                          <i class="fa fa-circle-o nav-icon"></i>
                          <p><router-link to="/book/bundle/list">List</router-link></p>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-header"><h3>Invoices</h3></li>
                  <li class="nav-item">
                    <a  class="nav-link">
                      <i class="nav-icon fa fa-calendar"></i>
                      <p>
                        <router-link to="/all/invoice">All Invoices</router-link>
                        <span class="badge badge-info right"></span>
                      </p>
                    </a>
                  </li>

                  <li class="nav-item has-treeview">
                    <a                                                                                                                     class="nav-link">
                      <i class="nav-icon fa fa-pie-chart"></i>
                      <p>
                        Student Invoice
                        <i class="right fa fa-angle-left"></i>
                      </p>
                    </a>
                    <ul class="nav nav-treeview">
                      <li class="nav-item">
                        <a  class="nav-link">
                          <i class="fa fa-circle-o nav-icon"></i>
                          <p><router-link to="/student/invoice/create">Create</router-link></p>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a  class="nav-link">
                          <i class="fa fa-circle-o nav-icon"></i>
                          <p><router-link to="/student/invoice/list">List</router-link></p>
                        </a>
                      </li>

                      <li class="nav-item">
                        <a  class="nav-link">
                          <i class="fa fa-circle-o nav-icon"></i>
                          <p><router-link to="/student/paid/invoice/list">Paid List</router-link></p>
                        </a>
                      </li>

                      <li class="nav-item">
                        <a  class="nav-link">
                          <i class="fa fa-circle-o nav-icon"></i>
                          <p><router-link to="/student/unpaid/invoice/list">Unpaid List</router-link></p>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item has-treeview" >
                    <a  class="nav-link">
                      <i class="nav-icon fa fa-tree"></i>
                      <p>
                        Company Invoices
                        <i class="fa fa-angle-left right"></i>
                      </p>
                    </a>
                    <ul class="nav nav-treeview">
                      <li class="nav-item">
                        <a class="nav-link">
                          <i class="fa fa-circle-o nav-icon"></i>
                          <p><router-link to ="/company/invoice"> List </router-link></p>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link">
                          <i class="fa fa-circle-o nav-icon"></i>
                          <p><router-link to ="/company/invoice/create"> create </router-link></p>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link">
                          <i class="fa fa-circle-o nav-icon"></i>
                          <p><router-link to ="/company/paid/invoice/list"> Paid List </router-link></p>
                        </a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link">
                          <i class="fa fa-circle-o nav-icon"></i>
                          <p><router-link to ="/company/unpaid/invoice/list"> Unpaid List </router-link></p>
                        </a>
                      </li>
                    </ul>
                    
                  </li>
                    <li class="nav-item" >
                    <a  class="nav-link">
                      <i class="nav-icon fa fa-calendar"></i>
                      <p style="margin-bottom:35px;">
                        <router-link to="/register">Register New User</router-link>
                        <span class="badge badge-user right"></span>
                      </p>
                    </a>
                  </li>
                </ul>
              </nav>
              <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
          </aside>

          <!-- Content Wrapper. Contains page content -->
          <div class="content-wrapper" >
            <!-- Content Header (Page header) -->
            <div class="content-header">
              <div class="container-fluid">
              <!-- header content part -->

              </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <section class="content">
              <div class="container-fluid" style="padding-bottom:5%" >
                <!-- main contnet part -->
                <router-view></router-view>
              </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
          </div>
          <!-- /.content-wrapper -->
          <footer class="main-footer">
            <strong>Copyright &copy; 2000-2018 <a>SMS</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
              <b>Version</b>: WebSMS
            </div>
          </footer>
          <!-- Control Sidebar -->
          <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
          </aside>
   </div>
  <!-- /.control-sidebar -->

     <!-- login part -->
   
    <div class="login-box" v-if="show_login ">
        <div class="login-logo">
            <a href="/">
            <img src="/logo/sbs_transp.png" alt="">
            </a>
        </div>
             <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
            <p class="login-box-msg">Sign in to start your session</p>

                 <span  style="color:red">
                   {{show_error}}
                 </span>

                <div class="form-group has-feedback">
                    <input type="email" class="form-control" v-model="user.email" name="email" placeholder="Email">
                    <span class="fa fa-envelope form-control-feedback" style="display:none"></span>
                </div>
            

                <div class="form-group has-feedback">
                    <input type="password" name="password" v-model="user.password" class="form-control" placeholder="Password">
                    <span class="fa fa-lock form-control-feedback" style="display:none"></span>
                </div>
                
                <div class="row">
                    <div class="col-8">
                        <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" name="remember"> Remember Me
                        </label>
                        </div>
                    </div>
                
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="button" class="btn btn-primary btn-block btn-flat" @click="loginUser()">Sign In</button>
                    </div>
                    <!-- /.col -->
                </div>

            <div class="social-auth-links text-center mb-3" style="display:none">
                <p>- OR -</p>
                <a href="#" class="btn btn-block btn-primary">
                <i class="fa fa-facebook mr-2"></i> Sign in using Facebook
                </a>
                <a href="#" class="btn btn-block btn-danger">
                <i class="fa fa-google-plus mr-2"></i> Sign in using Google+
                </a>
            </div>
            <!-- /.social-auth-links -->

                <p class="mb-1" style="display:none">
                    <a href="">I forgot my password</a>
                </p>
                <p class="mb-0" style="display:none">
                    <a href="" class="text-center">Register a new membership</a>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
      <!-- end logi part -->

      <!-- register part -->

      <!-- end register part -->

</div>



</template>
<script>

import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
export default {
     components: {
            Loading
        },
  data(){
    return{
      user:{
                email:'',
                password:'',
            },
      show_error:null,
       show_login:false,
       show_register:false,
       show_dashboard:false,
       isLoading: false,
    }
  },
    created() {
     
      this.checkLoggedIn();

      // this.show_login = window.show_login_v ;
  },
    methods:{
        loginUser(){
            let vm = this;
           
            axios.post('/api/login',{email:this.user.email,password:this.user.password}).then(response=>{

                this.show_login = false;
                this.show_register = false;

                this.show_dashboard = true;
                this.$router.push("/");
                
                
            }).catch(error=>{
              this.show_error = 'email or password are invalid please login again with correct !!';
            })
        },
      checkLoggedIn(){
           this.isLoading = true;
        axios.get('/api/checkLoggedIn').then(resp=>{
          if(resp.data)
          {
          this.show_dashboard = true;
          this.show_login = false;
          this.show_register = false;

          }
          else{
          this.show_login = true;
          this.show_dashboard = false;
          this.show_register = false;
          }
        
        }).catch(error=>{
          console.log(error);
        });
           this.isLoading =false;

      },

      logoutUser(){
        let f = new FormData();
        axios.post('/api/logout',f).then(resp=>{
          // this.router.push("login");
          // window.show_login_v = false;

        }).catch(error=>{
          console.log('error');
        })
      },
          logout:function(){
               axios.post('/api/logout', {
                 headers:{
                  'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
              }
               }
               ).then(response => {
              this.show_login = true;
              this.show_dashboard = false;
              this.show_register = false;
               this.show_error=null;
            this.$router.push('/login');
            // this.props.history.push("/login");
                  
                }).catch(error => {

              });
            },
    }  

    

}
</script>
