<template>
    <div class="container-fluid">
        <div class="form-group">
            <label for="">Name </label>
            <input type="text" v-model="role.name" class="form-control">
        </div>
     <div class="form-group">
            <multiselect   v-model="value"
        tag-placeholder="Add this as new permission"
        placeholder="Search or add a permission"
        label="name"
        track-by="id"
        :options="options"
        :multiple="true"
        :taggable="true"
    @tag="addTag"></multiselect>
    </div>
    </div>
   
</template>
<script>
import Multiselect from 'vue-multiselect'
export default {
  components: {
    Multiselect
  },
  data () {
    return {
      role:{
        id:null,
        name:null,
      },
      value: [
       
      ],
      options: [
        
      ]
    }
  },
  created(){
    this.getRole();
  },
  methods: {   
    getRole(){
          axios.get('/api/getRole/'+this.$route.params.id).then(resp=>{
              console.log(resp);
              // this.options = resp.data.permissions;
              resp.data.permissions.map((p)=>{
                this.options.push({id:p.id,name:p.name});
              });
              this.role= resp.data.role;
          }).catch(error=>{
              console.log(error)
          });
      },
    addTag (newTag) {

      // this.options.push(tag)
      // this.value.push(tag)

    }
  }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

