<template>
    <div class="container-fluid">
        <h3>Role's List</h3>
        <div class="table-responsive">
            <table class="table"> 
                <thead>
                    <th>Name</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    <tr v-for="(user,index) in user_list" v-bind:key="index">
                        <td>{{user.name}}</td>
                        <td>

                            <button type="button" class="btn btn-primary" @click=editRole(user.id)>
                                Edit
                            </button>
                           
                            <button type="button" class="btn btn-danger"> Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</template>

<script>
export default {
    data(){
        return {
            user:{
                name:null,
                email:null,
                pssword:null,
                id:null,
            },
            roles:[],
            user_list:null,
        }
      
    },
    created(){
        this.getRoleList();
    },
    methods:{
        getRoleList(){
            axios.get('/api/getRoleList').then(resp=>{
                this.user_list = resp.data;

            }).catch(error=>{
                console.log(error);
            });
        },
        editRole(id){
            this.$router.push("/edit/role/"+id);
        }
    }
}
</script>

