<template>
<div> 
 <router-link class="btn btn-dark fa fa-caret-left" to="/program/list"><span class="fa fa-caret-left"></span><span class="fa fa-caret-left"></span></router-link>
<hr>
<div  style="width: 100%;">
<h3 style="display:inline"><b><u>Create Program:</u></b></h3>
<button class="btn btn-primary pull-right" @click="submitProgram()">Save</button>
<hr>
         <div class="container-fluid shadow row">
            <div class="col-md-5">
                <div class="form-group">
                    <label class="control-label control-label-left col-12" for="ProgramCode:">Program Code :</label>
                    <div class="controls col-12">
                        <select id="ProgramCode:" class="form-control" v-model="programObject.ProgramCode" data-role="select" data-parsley-errors-container="#errId1">
                            <option value="MBA">MBA</option>
                            <option value="BBA">BBA</option>
                            <option value="DBA">DBA</option>
                            <option value="AAE">AAE</option>
                            <option value="MSc">MSc</option>
                            <option value="EMBA">EMBA</option>
                            <option value="DBA">DBA</option>
                        </select>
                     <span id="errId1" class="error"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label control-label-left col-12" for="ProgramType:">Program Type :</label>
                        <select id="ProgramType:" class="form-control" v-model="programObject.ProgramType" data-role="select" data-parsley-errors-container="#errId2">
                            <option value="BBA German">BBA German</option>
                            <option value="AAE">AAE</option>
                            <option value="MSc">MSc</option>
                            <option value="DBA">DBA</option>
                            <option value="Distance MBA">Distance MBA</option>
                            <option value="Executive MBA">Executive MBA</option>
                            <option value="Flex MBA">Flex MBA</option>
                            <option value="Full Time MBA">Full Time MBA</option>

                        </select>
                    </div>
                                    <div class="form-group">
                    <label class="control-label control-label-left col-12" for="ProgramTitle:">Program Title :</label>
                    <div class="controls col-12">
                        <input type='text' id="ProgramTitle:" v-model="programObject.ProgramTitle" class="form-control" data-role="select" data-parsley-errors-container="#errId3">
                     
                    </div>
                </div>
                <div class="form-group" style="display: block;">
                    <label class="control-label control-label-left col-12" for="AcademicYear:">Academic Year :</label>
                    <div class="controls col-12">
                        <input id="AcademicYear:" type="date"  v-model="programObject.AcademicYear"  class="form-control k-textbox" data-role="text" data-parsley-errors-container="#errId4"><span id="errId4" class="error"></span>
                    </div>
                </div>
                <div class="form-group" style="display: block;">
                    <label class="control-label control-label-left col-12" for="Notes:">Notes:</label>
                    <div class="controls col-12">
                        <textarea id="Notes:" rows="2" class="form-control k-textbox" v-model="programObject.Notes"   data-role="textarea" style="margin-top: 0px; margin-bottom: 0px; height: 164px;" data-parsley-errors-container="#errId5"></textarea><span id="errId5" class="error"></span>
                    </div>
                </div>
                </div>

         

            <div class="col-md-7">
                <div class="form-group">
                    <label for="">Courses</label>
                    
                    <div class="input-group">
                    <input type="text" class="form-control" name="search" placeholder="search course" v-model="search_data" v-on:keyup="autoComplete" aria-label="Amount (to the nearest dollar)">
                    <div class="input-group-append">
                        <span class="input-group-text" v-on:click="clear()" style="color:red;cursor:pointer;"> <i class="fa fa-times"></i></span>                                 
                    </div>
                    </div>
                        <ul class="list-group" style="margin-left:0px; margin-top:0px">
                        <li style="margin-top:0px" class="list-group-item searchCourseBackground" v-for="(result,index) in data_results" v-bind:key="index">
                            <a style="cursor:pointer"  @click="addLine(result)">{{ result.CourseTitle}}</a>
                            
                          </li>
                        </ul>
                </div>
                <div class="form-group">
                    <table class="table table-borderd">
                        <thead style="width:100%">
                            <th style="width:60%">Course</th>
                            <th style="width:15%">Sem/ Term</th>
                            <th style="width:15%">Program Year</th>
                            <th style="width:10%"></th>
                        </thead>
                        <tbody>
                            <tr  v-for="(line, index) in lines" v-bind:key="index" style="width:100%" >
                                <td style="width:60%">
                                    {{line.CourseTitle}}</td>
                                <td style="width:15%">
                                    <input type="number" v-model="line.Term">
                                </td>
                                <td style="width:15%">
                                    <input type="number" v-model="line.ProgramYear">
                                </td>
                                <td style="width:10%"><span style="color:red; cursor:pointer"  @click="removeLine(index)"><i class="fa fa-times" aria-hidden="true"></i></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group col-6">
                <button type="button" @click="submitProgram()" class="btn btn-primary form-control">Save</button>
            </div>
         </div>
            </div>
</div>
</template>
<script>
    export default{
        data(){
            return{
                sem_term:[],
                p_year:[],
                p_year:[],
                course_id:[],
                show_select:false,
                result:null,
                data_results:[],
                search_data: '',
                 lines: [],
                blockRemoval: true,
                programObject:{
                    ProgramTitle:null,
                    ProgramCode:null,
                    ProgramType:null,
                    AcademicYear:null,
                    Notes:null,
                    TS:null,
                }
                }
            },
          watch: {
                // lines () {
                // this.blockRemoval = this.lines.length <= 1
                // }
            },
        methods:{
            autoComplete(){
                console.log('search', '');
                this.data_results = [];
                if(this.search_data.length > 0){
                axios.post('/api/searchCourse',{search_data: this.search_data}).then(response => {
                    // console.log(response.data);
                this.data_results = response.data;
                });
                }
            },
        addLine(result) {
            
            let checkEmptyLines = this.lines.filter(line => line.number != null)
            if (checkEmptyLines.length >= 1 && this.lines.length > 0) return
            this.lines.push({
                ID: result.ID,
                CourseTitle: result.CourseTitle,
                CourseCode: result.CourseCode,
                Term: null,
                ProgramYear: null,
            });

            },
        removeLine (lineId) {
             this.lines.splice(lineId, 1)
            }
            ,
            submitProgram()
            {
                let formData = new FormData();
                formData.append('program',JSON.stringify(this.programObject));
                this.lines.map((course) => {
                    formData.append('courses[]',JSON.stringify(course))
                    console.log(JSON.stringify(course));
                });

            axios.post('/api/saveProgram',
            formData,{
            headers: {
                'Content-Type': 'multipart/form-data'
            },
                Accept: 'application/json, text/plain',
           }).then(response => {
            console.log(response);
           }).catch(error=>{
               console.log(error);
           })

            },
            clear(){
               this.data_results =[];
               this.search_data='';

            }
        }
        ,

}
</script>
<style scoped>
.searchCourseBackground:hover
{
background: #cececf;
}
</style>

