<template>
<div class="container-fluid shadow">  
<div style="width:100%" >
     <div class="vld-parent">
        <loading :active.sync="isLoading"
        :is-full-page="fullPage"></loading>
    </div>
<h3 style="display:inline"> Program List</h3>
            <div class="pull-right" style="display:inline">
            <router-link to="/program/create" class="btn btn-info">New program </router-link>
            </div>
        <hr>
         <div class="form-group col-md-4 pull-right">
        <input type="text" class="search form-control" v-model="program_title" name="program_title"   placeholder="Search as program Title">
        </div>
        <table class="table table-hover table-bordered results myTable" >
        <thead>
        <tr class="header">
            <th>Academic Year </th>
            <th>Program Type</th>
            <th>Program Title</th>
            <th>Program Code</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody v-for="(program, index) in program_list" v-bind:key="index">
            <tr>
                <td>{{program.AcademicYear}}</td>
                <td>{{program.ProgramType }}</td>
                <td>{{program.ProgramTitle}}</td>
                <td>{{program.ProgramCode}}</td>
                <td>
                    <button class="btn btn-block btn primary" @click="EditProgram(program.ID)">
                        <i class="fa fa-pencil"></i>
                       
                        </button>
                </td>
            </tr>
        </tbody>
        </table>
        <pagination v-if="pagination.last_page > 1" :pagination="pagination" :offset="5"  @paginate="getProgram()"></pagination>
    </div>
</div>
</template>

<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
export default {
     components: {
            Loading
        },
 data() {
       return {
        program_list: {},
        pagination: {
            'current_page': 1
        },
         isLoading: false,
         fullPage: true,
         program_title: '',
        }
    },
    created() {
       this.getProgram();
    },
     watch:{
        program_title(after){
            this.searchData();

        }
    },
    methods: {
         searchData(){  
             this.pagination.current_page=1;         
            if(this.program_title.length>0)
                this.searchProgramTitle();
            else
                this.getProgram();
        },
        paginateData(){
             this.pagination.current_page=1;
            if(this.program_title.length>0)
                this.searchProgramTitle();
            else
                this.getProgram();
        },
        getProgram() {
            this.isLoading = true;
            axios.get('/api/getProgram?page=' + this.pagination.current_page)
                .then(response => {
                    this.program_list = response.data.data.data;
                    this.pagination = response.data.pagination;
                    this.isLoading = false;
                })
                .catch(error => {

                    console.log(error.response);
                });
        },
         fetchPrograms(){
            if(this.program_title.length>0)
                this.searchProgramTitle();
            else
                this.getProgram();
        },
        searchProgramTitle() {
                    axios.get('/api/searchProgramByTitle?page=' + this.pagination.current_page,{ params: { program_title: this.program_title} })
                        .then(response => {
                            this.program_list = response.data.data.data;
                            this.pagination = response.data.pagination;
                        })
                        .catch(error => {
                            console.log(error.response.data);
                        });
                    },
                    EditProgram(id)
                    {
                        this.$router.push({path: '/program/edit/'+id })
                    },
    },
        mounted(){
        this.fetchPrograms();
        }
    }

</script>

<style scoped>

</style>
