<template>
<div class="conatiner-fluid shadow">
<div style="width:100%" >
     <div class="vld-parent">
        <loading :active.sync="isLoading"
        :is-full-page="fullPage"></loading>
    </div>
<h3> Student's Contact List</h3>
        <div class="form-group col-md-4 pull-right">
        <input type="text" class="search form-control" v-model="program_title" name="program_title"   placeholder="Search as program Title">
        </div>
        <table class="table table-hover table-bordered results myTable"  >
        <thead>
        <tr class="header">
            <th>Academic Year </th>
            <th>Program Type</th>
            <th>Program Title</th>
            <th>Program Code</th>
              <th>Show Contacts</th>
        </tr>

        </thead>
        <tbody v-for="(student, index) in contact_list" v-bind:key="index">
            <tr>

            <td>{{student.AcademicYear}}</td>
            <td>{{student.ProgramType }}</td>
            <td>{{student.ProgramTitle}}</td>
            <td>{{student.ProgramCode}}</td>
            <td class="text-center" style="cursor:pointer">  
            <button @click="programsContacts(student.ID)" class="btn btn-info"><span class="fa fa-user" style="color:skyblue;font-size:20px;"></span><span class="fa fa-user" style="color:skyblue;font-size:30px"></span><span class="fa fa-user" style="color:skyblue;font-size:20px"></span></button>
                </td>
            </tr>

        </tbody>
        </table>
        <pagination v-if="pagination.last_page > 1" :pagination="pagination" :offset="5"  @paginate="getProgram()"></pagination>
    </div>
</div>
</template>

<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
export default {
     components: {
            Loading
        },
 data() {
       return {
        contact_list: {},
        pagination: {
            'current_page': 1
        },
         isLoading: false,
         fullPage: true,
          program_title: '',
        }
    },
    created() {
       this.getProgram();
    },
    watch:{
        program_title(after){
            this.searchData();

        }
    },
    methods: {
        programsContacts(id){
this.$router.push({path:'/students/contacts/program/'+id})
        },
         searchData(){           
            if(this.program_title.length>0)
                this.searchProgramTitle();
            else
                this.getProgram();
        },
        paginateData(){
             this.pagination.current_page=1;
            if(this.program_title.length>0)
                this.searchProgramTitle();
            else
                this.getProgram();
        },
        getProgram() {
            this.isLoading = true;
            axios.get('/api/getProgram?page=' + this.pagination.current_page)
                .then(response => {
                    this.contact_list = response.data.data.data;
                    this.pagination = response.data.pagination;
                    console.log(this.contact_list)
                    this.isLoading = false;
                })
                .catch(error => {

                    console.log(error.response);
                });
        },
     fetchPrograms(){
            if(this.program_title.length>0)
                this.searchProgramTitle();
            else
                this.getProgram();
        },
        searchProgramTitle() {
                    axios.get('/api/searchProgramByTitle?page=' + this.pagination.current_page,{ params: { program_title: this.program_title} })
                        .then(response => {
                            console.log(response)
                            this.contact_list = response.data.data.data;
                            this.pagination = response.data.pagination;
                            console.log(response);
                        })
                        .catch(error => {
                            console.log(error.response.data);
                        });
                    },
    },
        mounted(){
        this.fetchPrograms();
        }

}
</script>

<style scoped>

</style>
