<template>
<div>
        <router-link class="btn btn-dark fa fa-caret-left" to="/student/contact/contactList"><span class="fa fa-caret-left"></span><span class="fa fa-caret-left"></span></router-link>
        <hr>
        <button class="btn btn-info pull-right" @click="print()">print</button>
        <div class="box">
            <p style="color:black solid;font-size:smaller;font-family:calibri">SBS Swiss Business School</p>
            <div class=" row pull-right"><img src='../../../../../public/logo/sbs_transp.png' alt="no img" style="height: 112px;width: 178px;"></div>
           <br>
           <br>
            <div class="row container-fluid pull-left">
                <h3>Contact List</h3>
                <table style="border:none">
                   <tr>
                      <td> <h4 style="float:left">{{Program.ProgramTitle}} Program,{{Program.AcademicYear}}</h4>
                      </td>
                   </tr>
                    <tr v-for="(studentcontact,index) in studentContacts" v-bind:key="index">
                        <td class="offset-1">{{studentcontact.FirstName}}{{studentcontact.LastName}}</td>
                        <td><a href="">{{studentcontact.Email}}</a></td>
                    </tr>
                </table>
            </div>
                  <pagination v-if="pagination.last_page > 1" :pagination="pagination" @paginate="getProgramStudentContacts()" :offset="5"></pagination>
            </div>
     </div>
</template>

<script>
import { Printd } from 'printd'
export default {
 data() {

       return {
    studentContacts:'',
            Program:'',
            cssText: `
      .box {
        font-family: sans-serif;
        width: 700px;
        text-align: center;
        padding: 1em;
        margin: 2em auto;
        height: auto !important;
        overflow:auto;
        overflow:hidden;
        min-height: 700px;
        padding-top:2%;
      }`,
        pagination: {
            'current_page': 1
        },
        }
    },
   created(){
        this.getProgramStudentContacts();
    },

     mounted () {
    this.d = new Printd()

    // Print dialog events (v0.0.9+)
    const { contentWindow } = this.d.getIFrame()

    contentWindow.addEventListener(
      'beforeprint', () => console.log('before print event!')
    )
    contentWindow.addEventListener(
      'afterprint', () => console.log('after print event!')
    );

  },

  methods: {
        getProgramStudentContacts() {

            // axios.get('/api/getstudent?page=' + this.pagination.current_page)
              axios.get('/api/getProgramStudentContacts/'
              +this.$route.params.id+'?page='
              +this.pagination.current_page)
                .then(response => {
                    console.log(response.data[0].data)
                    this.studentContacts = response.data[0].data.data[0].student;
                    this.Program=response.data[0].data.data[0];
                   this.pagination = response.data[0].pagination;
                })
                .catch(error => {
                    console.log(error.response);
                });
        },
          print () {
            this.d.print( this.$el, this.cssText)
                }
    },
}
</script>

<style scoped>
    .box {
        font-family: sans-serif;
        width: 700px;
        border: solid 1px #ccc;
        text-align: center;
        padding: 1em;
        margin: 2em auto;
        height: auto !important;
        overflow:auto;
        overflow:hidden;
        min-height: 700px;
      }
</style>
