<template>
   
</template>

<script>
export default {
    data(){
        return {
            user:{
                email:'',
                password:'',
            }
        }
    },
    methods:{

        loginUser(){
            let vm = this;
            axios.post('/api/login',{email:this.user.email,password:this.user.password}).then(response=>{
                console.log(response);
                vm.show_login = true;
                 this.$router.push("/");
            }).catch(error=>{
                console.log(error);
            })
        }
    }
    
}
</script>

