<template>
  <div class="register-box">
    <div class="register-logo">
      <a href="">
      <img src="/logo/sbs_transp.png" alt="">
      </a>
    </div>

    <div class="card">
      <div class="card-body register-card-body">
        <p class="login-box-msg">Register a new membership</p>
        <span v-for="(error,i) in show_error" v-bind:key="i" style="color:red ">{{error}}</span>

        <form method="post">

          <div class="form-group has-feedback">
            <input type="text" class="form-control"  placeholder="Enter name" v-model="user.name"   name="name">
            <span class="fa fa-user form-control-feedback" style="display:none"></span>
    
          </div>
          <div class="form-group has-feedback">
            <input type="email" class="form-control" v-model="user.email"  required placeholder="Email" name="email">
            <span class="fa fa-envelope form-control-feedback"   style="display:none"></span>
      
          </div>
          <div class="form-group has-feedback">
            <input type="password" class="form-control" v-model="user.password"   required placeholder="Password" name="password">
            <span class="fa fa-lock form-control-feedback"  style="display:none"></span>
    
          </div>
          <div class="form-group has-feedback">
            <input type="password" class="form-control" v-model="user.password_confirmation" name="password_confirmation" placeholder="Retype password" >
            <span class="fa fa-lock form-control-feedback"  style="display:none"></span>
          </div>
          <div class="row">
            <div class="col-8">
              <div class="checkbox icheck" style="display:none">
                <label style="display:none">
                  <input type="checkbox" > I agree to the <a href="#">terms</a>
                </label>
              </div>
            </div>
            <!-- /.col -->
            <div class="col-4">
              <button type="button" class="btn btn-primary btn-block btn-flat" @click="registerUser">Register</button>
            </div>
            <!-- /.col -->
          </div>
        </form>

        <div class="social-auth-links text-center" style="display:none">
          <p>- OR -</p>
          <a href="#" class="btn btn-block btn-primary">
            <i class="fa fa-facebook mr-2"></i>
            Sign up using Facebook
          </a>
          <a href="#" class="btn btn-block btn-danger">
            <i class="fa fa-google-plus mr-2"></i>
            Sign up using Google+
          </a>
        </div>

        <a href="/login" class="text-center" style="display:none">I already have a membership</a>
      </div>
      <!-- /.form-box -->
    </div><!-- /.card -->
</div>
</template>
<script>
export default {
    data(){
        return {
            user:{
                name:null,
                email:null,
                password:null,
                password_confirmation:null
            },
            show_error:[],
        }
    },

    methods:{

        registerUser(){
            if(this.user.name == '' || this.user.email== '' || this.user.password ==''|| this.user.password_confirmation == '')
            {
                alert("please fill  All form fields !!!");
            }
            else 
            {
                axios.post('/api/register',{name:this.user.name,email:this.user.email,password:this.user.password,password_confirmation:this.user.password_confirmation,
                   headers:{
                  'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
              }
              }).then(response=>{
                  if(! response.data.success){
                    this.show_error = response.data.errors;
                    console.log(this.show_error);
                  }
                  else{
                    alert(" User Registration Successfull");
                    this.$router.push("/");
                  }
                  

                    }).catch(error=>{
                        console.log(error);
                    })

            }
        }
    }
    
}
</script>
