.sp_H05tjvrLcDy{background-image:url(/rsrc.php/v3/yN/r/MPa2yWFcugw.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_H05tjvrLcDy.sx_3f1779{background-position:0 0}.sp_H05tjvrLcDy.sx_fcf2f3{background-position:0 -17px}.sp_H05tjvrLcDy.sx_bf0846{background-position:0 -34px}.sp_H05tjvrLcDy.sx_2eff2e{background-position:0 -51px}.sp_H05tjvrLcDy.sx_d77046{background-position:0 -68px}.sp_H05tjvrLcDy.sx_ba61af{background-position:0 -85px}
.sp_z--wybI7Fuz{background-image:url(/rsrc.php/v3/yM/r/_TJgEojsioy.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_z--wybI7Fuz.sx_a41edf{background-position:0 0}.sp_z--wybI7Fuz.sx_7d4338{background-position:0 -17px}.sp_z--wybI7Fuz.sx_c2706e{background-position:0 -34px}

#bootloader_oUsWS{height:42px;}.bootloader_oUsWS{display:block!important;}