._4-do{text-align:center}._4-dp{font-size:24px;line-height:28px;margin:40px 0 20px}._4-dq{font-size:16px;line-height:28px;margin:20px 0}._4-dr{font-size:12px;line-height:20px}
._2e42{box-sizing:border-box}
.text_exposed_root{display:inline}.text_exposed .text_exposed_show{display:inline}.text_exposed .text_exposed_show .text_exposed_link{display:inline !important}.text_exposed_show,.text_exposed .text_exposed_hide{display:none}.text_exposed_link{white-space:nowrap}.text_exposed_link_icon{margin:0 0 -1px 4px}.text_exposed .text_exposed_link{display:none !important}
._1yt{margin-top:8px}._442n ._1yt{margin-top:0}._5und{margin-top:8px}._1yt ._5und:first-child{margin-top:0}._1yt ._4_yl ._5und:first-child{margin-top:8px}._1yt ._4_yl:first-child ._5und:first-child{margin-top:0}
._6k_ .img{margin:0;position:absolute}
._51mq{margin-right:3px;vertical-align:-2.9px}
.fbx #pageFooter{margin:auto;width:auto}.hasLeftCol #pageFooter{background-color:#fff;clear:both;margin-left:180px}#pagefooter{border-top:0}#pageFooter{color:#737373;margin:0 auto;width:980px}#pageFooter a{text-decoration:none;white-space:nowrap}#pageFooter a:last-child{margin-right:0}#pageFooter a:hover{text-decoration:underline}#pageFooter .copyright{font-size:11px}#pageFooter .pageFooterLinkList{line-height:1.6;margin-left:-20px}#contentCurve{border-bottom:1px solid #dddfe2;font-size:1px;height:8px;margin-bottom:8px}.hasLeftCol #contentCurve{border:1px solid #ccc;border-top:none;position:relative}
.noFooter #pageFooter{display:none}
._1pmx{background-color:#3b5998;border-bottom:1px solid #29487d;box-sizing:border-box;height:88px;width:100%}.tinyViewport ._1pmx{min-width:-webkit-max-content;min-width:max-content}._1pmy{height:88px;line-height:88px;margin:0 auto;width:980px}._3jd5{overflow:visible}._1pmz{color:#fff;display:inline-block;font-size:16px;line-height:20px;vertical-align:middle}._1pm-{line-height:24px}._1pm_{color:#9cb4d8;display:inline-block;font-size:12px;line-height:16px;vertical-align:middle}._1pn0{display:inline-block;line-height:normal;vertical-align:middle}._1pmx ._3jd8:not(:active){background-clip:padding-box;background-color:#5a73ad;border-color:rgba(0, 0, 0, .15)}._1pmx ._3jd8:hover:not(:active){background-color:#5069a3}
._sv8{line-height:24px}
._43f6{border-left:2px solid #dcdee3;margin:12px 0 0 0;padding-left:15px}._5yn2{border-left:2px solid #dcdee3;color:#7f7f7f;margin:10px 0 0 0;padding-left:10px}._uhq{color:#90949c}._5wpt{border-left:2px solid #dcdee3;padding-left:12px}._5pio{color:#90949c;font-size:12px}._49k0{margin-top:4px;text-align:left}._2xzj,._2xzi{margin:5px 0;text-align:left}._2xzi.ltgtranslatedcontent-enter{background-color:#fff9d7}._2xzi.ltgtranslatedcontent-enter.ltgtranslatedcontent-enter-active{background-color:#fff;transition:background-color 2s ease-in}body[dir="rtl"] ._43f9,body[dir="rtl"] ._49k0{direction:rtl}body[dir="ltr"] ._43f9,body[dir="ltr"] ._49k0{direction:ltr}
._30ny{padding:80px 0}
.menu_login_container table tr{vertical-align:top}.menu_login_container table tr td{padding:0 0 0 14px}.menu_login_container .html7magic{padding-bottom:4px}.menu_login_container .inputtext,.menu_login_container .inputpassword{border-color:#1d2a5b;margin:0;width:142px}.menu_login_container .login_form_label_field label,.menu_login_container .login_form_label_field a{color:#9cb4d8;font-weight:normal}.menu_login_container .login_form_label_field{padding-top:4px}.menu_login_container .html7magic label{color:#fff;font-weight:normal;padding-left:1px}.menu_login_container #email{direction:ltr}.login_form_standalone_labels .inputtext,.login_form_standalone_labels .inputpassword{border-color:#96a6c5;font-size:16px;padding:6px;width:250px}.login_form_standalone_labels label{color:#1d2a5b;font-size:13px;font-weight:normal}.login_form_standalone_labels .login_form_label_field a{color:#365899;font-size:13px}.login_form_standalone_labels td.html7magic{text-align:right}.login_form_standalone_labels .uiButton input{font-size:13px;padding:3px 25px 5px}table.login_form_standalone_labels tr td{height:30px;padding:0;vertical-align:middle}
.loggedout_menubar_container{height:82px;min-width:980px}.loggedout_menubar{margin:0 auto;padding-top:13px;width:980px}.loggedout_menubar .fb_logo{margin-top:17px}@media (-webkit-min-device-pixel-ratio: 2),(min-resolution: 2dppx){.loggedout_menubar i.fb_logo{background-image:url(/rsrc.php/v3/ys/r/y7nRb1Fhh8Z.png);background-position:0 0;background-size:100% 100%}}.loggedout_menubar label.menu_login_show_link{color:#9cb4d8;position:relative;top:19px}
.fan_status_inactive{background-color:#fffccc;color:#666;margin:0;padding:0 0 0 3px;line-height:18px}
._52d9{background-color:rgba(0, 0, 0, .4);bottom:0;color:#fff;font-size:35px;font-weight:normal;left:0;position:absolute;right:0;top:0}._52da{display:table;height:100%;width:100%}.fbPhotoSnowlift * ._52da{font-size:65%}._52db{display:table-cell;text-align:center;vertical-align:middle}
._64nf{background-image:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);background-repeat:no-repeat;background-size:auto;background-position:0 -628px;height:16px;margin-left:2px;width:16px}._64nf._5dzz{width:16px}.profileLink ._64nf,._2u0z ._64nf,._5vra ._64nf,._64-f ._64nf,._52eh ._64nf{position:relative;top:3px}._5_jv .profileLink ._64nf,._64-f ._64nf{background-image:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);background-repeat:no-repeat;background-size:auto;background-position:0 -82px;height:24px;margin-left:4px;position:relative;top:5px;width:24px}
.highContrast ._59c6._5dzz:before{content:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);margin:-780px 0 0 1px;position:absolute}.highContrast ._59c6._5dzz{overflow:hidden;position:relative}._59c6._5dzz{background-image:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);background-repeat:no-repeat;background-size:auto;background-position:1px -780px}.highContrast ._59c6._5d-3._5dzz:before{content:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);margin:-780px 0 0 1px;position:absolute}.highContrast ._59c6._5d-3._5dzz{overflow:hidden;position:relative}._59c6._5d-3._5dzz{background-image:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);background-repeat:no-repeat;background-size:auto;background-position:1px -780px}.highContrast ._59c6._5dz-:before{content:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);margin:-780px 0 0 1px;position:absolute}.highContrast ._59c6._5dz-{overflow:hidden;position:relative}._59c6._5dz-{background-image:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);background-repeat:no-repeat;background-size:auto;background-position:1px -780px}.highContrast ._59c6._5dz_:before{content:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);margin:-780px 0 0 1px;position:absolute}.highContrast ._59c6._5dz_{overflow:hidden;position:relative}._59c6._5dz_{background-image:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);background-repeat:no-repeat;background-size:auto;background-position:1px -780px}
._3qcr._5dzy{background-image:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);background-repeat:no-repeat;background-size:auto;background-position:0 -611px}
.highContrast ._4fvy._5dzz:before{content:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);margin:-527px 0 0 1px;position:absolute}.highContrast ._4fvy._5dzz{overflow:hidden;position:relative}._4fvy._5dzz{background-image:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);background-repeat:no-repeat;background-size:auto;background-position:1px -527px}.highContrast ._4fvy._5d-3._5dzz:before{content:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);margin:-527px 0 0 1px;position:absolute}.highContrast ._4fvy._5d-3._5dzz{overflow:hidden;position:relative}._4fvy._5d-3._5dzz{background-image:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);background-repeat:no-repeat;background-size:auto;background-position:1px -527px}.highContrast ._4fvy._5dz-:before{content:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);margin:-527px 0 0 1px;position:absolute}.highContrast ._4fvy._5dz-{overflow:hidden;position:relative}._4fvy._5dz-{background-image:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);background-repeat:no-repeat;background-size:auto;background-position:1px -527px}.highContrast ._4fvy._5dz_:before{content:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);margin:-527px 0 0 1px;position:absolute}.highContrast ._4fvy._5dz_{overflow:hidden;position:relative}._4fvy._5dz_{background-image:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);background-repeat:no-repeat;background-size:auto;background-position:1px -527px}
._59t2._5dzz{background-image:url(/rsrc.php/v3/yX/r/XTBCJQ4brFv.png)}._59t2._5dz-{background-image:url(/rsrc.php/v3/yt/r/9P4tFVoazCQ.png)}._59t2._5dz_{background-image:url(/rsrc.php/v3/yl/r/seydRWcRiTg.png)}._59t2._5d-0{background-image:url(/rsrc.php/v3/ye/r/ui6i-KsMj_C.png)}._59t2._5d-1{background-image:url(/rsrc.php/v3/y_/r/pAT_aWF8wR_.png)}
.highContrast ._1gop._5dzz:before{content:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);margin:-848px 0 0 0;position:absolute}.highContrast ._1gop._5dzz{overflow:hidden;position:relative}._1gop._5dzz{background-image:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);background-repeat:no-repeat;background-size:auto;background-position:0 -848px;height:16px;width:16px}.highContrast .uiTypeaheadView .selected ._1gop._5dzz:before{content:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);margin:-831px 0 0 0;position:absolute}.highContrast .uiTypeaheadView .selected ._1gop._5dzz{overflow:hidden;position:relative}.uiTypeaheadView .selected ._1gop._5dzz{background-image:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);background-repeat:no-repeat;background-size:auto;background-position:0 -831px;-webkit-filter:brightness(200%);height:16px;width:16px}
.highContrast ._pt7._5dzz:before{content:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);margin:-867px 0 0 0;position:absolute}.highContrast ._pt7._5dzz{overflow:hidden;position:relative}._pt7._5dzz{background-image:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);background-repeat:no-repeat;background-size:auto;background-position:0 -867px}.highContrast ._pt7._5d-3._5dzz:before{content:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);margin:-865px 0 0 1px;position:absolute}.highContrast ._pt7._5d-3._5dzz{overflow:hidden;position:relative}._pt7._5d-3._5dzz{background-image:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);background-repeat:no-repeat;background-size:auto;background-position:1px -865px}.highContrast ._pt7._5dz-:before{content:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);margin:-1042px 0 0 -13px;position:absolute}.highContrast ._pt7._5dz-{overflow:hidden;position:relative}._pt7._5dz-{background-image:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);background-repeat:no-repeat;background-size:auto;background-position:-13px -1042px}.highContrast ._pt7._5dz_:before{content:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);margin:-998px 0 0 1px;position:absolute}.highContrast ._pt7._5dz_{overflow:hidden;position:relative}._pt7._5dz_{background-image:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);background-repeat:no-repeat;background-size:auto;background-position:1px -998px}.highContrast ._pt7._5d-0:before{content:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);margin:-257px 0 0 1px;position:absolute}.highContrast ._pt7._5d-0{overflow:hidden;position:relative}._pt7._5d-0{background-image:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);background-repeat:no-repeat;background-size:auto;background-position:1px -257px}.highContrast ._pt7._5d-1:before{content:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);margin:-592px 0 0 1px;position:absolute}.highContrast ._pt7._5d-1{overflow:hidden;position:relative}._pt7._5d-1{background-image:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);background-repeat:no-repeat;background-size:auto;background-position:1px -592px}.highContrast ._pt7._6g4u:before{content:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);margin:-257px 0 0 1px;position:absolute}.highContrast ._pt7._6g4u{overflow:hidden;position:relative}._pt7._6g4u{background-image:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);background-repeat:no-repeat;background-size:auto;background-position:1px -257px}.tooltipContent ._tl2{overflow:hidden;white-space:normal;width:164px}
.highContrast ._5n3t._5dzz:before{content:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);margin:-1028px 0 0 -13px;position:absolute}.highContrast ._5n3t._5dzz{overflow:hidden;position:relative}._5n3t._5dzz{background-image:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);background-repeat:no-repeat;background-size:auto;background-position:-13px -1028px}.highContrast ._5n3t._5d-3._5dzz:before{content:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);margin:-712px 0 0 1px;position:absolute}.highContrast ._5n3t._5d-3._5dzz{overflow:hidden;position:relative}._5n3t._5d-3._5dzz{background-image:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);background-repeat:no-repeat;background-size:auto;background-position:1px -712px}.highContrast ._5n3t._5dz-:before{content:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);margin:-1042px 0 0 1px;position:absolute}.highContrast ._5n3t._5dz-{overflow:hidden;position:relative}._5n3t._5dz-{background-image:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);background-repeat:no-repeat;background-size:auto;background-position:1px -1042px}.highContrast ._5n3t._5dz_:before{content:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);margin:-747px 0 0 0;position:absolute}.highContrast ._5n3t._5dz_{overflow:hidden;position:relative}._5n3t._5dz_{background-image:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);background-repeat:no-repeat;background-size:auto;background-position:0 -747px}.highContrast ._5n3t._5d-0:before{content:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);margin:-236px 0 0 1px;position:absolute}.highContrast ._5n3t._5d-0{overflow:hidden;position:relative}._5n3t._5d-0{background-image:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);background-repeat:no-repeat;background-size:auto;background-position:1px -236px}.highContrast ._5n3t._5d-1:before{content:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);margin:-574px 0 0 1px;position:absolute}.highContrast ._5n3t._5d-1{overflow:hidden;position:relative}._5n3t._5d-1{background-image:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);background-repeat:no-repeat;background-size:auto;background-position:1px -574px}.highContrast ._5n3t._5d-3._5d-1:before{content:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);margin:-55px 0 0 1px;position:absolute}.highContrast ._5n3t._5d-3._5d-1{overflow:hidden;position:relative}._5n3t._5d-3._5d-1{background-image:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);background-repeat:no-repeat;background-size:auto;background-position:1px -55px}.highContrast .uiTypeaheadView .selected ._5n3t._5dzz:before{content:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);margin:-1028px 0 0 1px;position:absolute}.highContrast .uiTypeaheadView .selected ._5n3t._5dzz{overflow:hidden;position:relative}.uiTypeaheadView .selected ._5n3t._5dzz{background-image:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);background-repeat:no-repeat;background-size:auto;background-position:1px -1028px}.highContrast .selected ._5n3t._5dz_:before{content:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);margin:-730px 0 0 0;position:absolute}.highContrast .selected ._5n3t._5dz_{overflow:hidden;position:relative}.selected ._5n3t._5dz_{background-image:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);background-repeat:no-repeat;background-size:auto;background-position:0 -730px}.UFICommentContent ._5n3t{margin-left:1px}
.highContrast ._6w81._5dzz:before{content:url(/rsrc.php/v3/yR/r/5kxgs2R7Qa_.png);margin:-237px 0 0 -33px;position:absolute}.highContrast ._6w81._5dzz{overflow:hidden;position:relative}._6w81._5dzz{background-image:url(/rsrc.php/v3/yR/r/5kxgs2R7Qa_.png);background-repeat:no-repeat;background-size:auto;background-position:-33px -237px}.highContrast ._6w81._5d-3._5dzz:before{content:url(/rsrc.php/v3/yR/r/5kxgs2R7Qa_.png);margin:-237px 0 0 -33px;position:absolute}.highContrast ._6w81._5d-3._5dzz{overflow:hidden;position:relative}._6w81._5d-3._5dzz{background-image:url(/rsrc.php/v3/yR/r/5kxgs2R7Qa_.png);background-repeat:no-repeat;background-size:auto;background-position:-33px -237px}.highContrast ._6w81._5dz-:before{content:url(/rsrc.php/v3/yR/r/5kxgs2R7Qa_.png);margin:-237px 0 0 -33px;position:absolute}.highContrast ._6w81._5dz-{overflow:hidden;position:relative}._6w81._5dz-{background-image:url(/rsrc.php/v3/yR/r/5kxgs2R7Qa_.png);background-repeat:no-repeat;background-size:auto;background-position:-33px -237px;vertical-align:-3px}.highContrast ._6w81._5dz_:before{content:url(/rsrc.php/v3/yR/r/5kxgs2R7Qa_.png);margin:-236px 0 0 -16px;position:absolute}.highContrast ._6w81._5dz_{overflow:hidden;position:relative}._6w81._5dz_{background-image:url(/rsrc.php/v3/yR/r/5kxgs2R7Qa_.png);background-repeat:no-repeat;background-size:auto;background-position:-16px -236px}.highContrast ._6w81._5d-0:before{content:url(/rsrc.php/v3/yF/r/ePXd2hANYJI.png);margin:-371px 0 0 -20px;position:absolute}.highContrast ._6w81._5d-0{overflow:hidden;position:relative}._6w81._5d-0{background-image:url(/rsrc.php/v3/yF/r/ePXd2hANYJI.png);background-repeat:no-repeat;background-size:auto;background-position:-20px -371px}.highContrast ._6w81._5d-1:before{content:url(/rsrc.php/v3/yF/r/ePXd2hANYJI.png);margin:-371px 0 0 -20px;position:absolute}.highContrast ._6w81._5d-1{overflow:hidden;position:relative}._6w81._5d-1{background-image:url(/rsrc.php/v3/yF/r/ePXd2hANYJI.png);background-repeat:no-repeat;background-size:auto;background-position:-20px -371px}.highContrast ._6w81._5d-3._5d-1:before{content:url(/rsrc.php/v3/yR/r/5kxgs2R7Qa_.png);margin:-110px 0 0 1px;position:absolute}.highContrast ._6w81._5d-3._5d-1{overflow:hidden;position:relative}._6w81._5d-3._5d-1{background-image:url(/rsrc.php/v3/yR/r/5kxgs2R7Qa_.png);background-repeat:no-repeat;background-size:auto;background-position:1px -110px}.highContrast .uiTypeaheadView .selected ._6w81._5dzz:before{content:url(/rsrc.php/v3/yR/r/5kxgs2R7Qa_.png);margin:-237px 0 0 -33px;position:absolute}.highContrast .uiTypeaheadView .selected ._6w81._5dzz{overflow:hidden;position:relative}.uiTypeaheadView .selected ._6w81._5dzz{background-image:url(/rsrc.php/v3/yR/r/5kxgs2R7Qa_.png);background-repeat:no-repeat;background-size:auto;background-position:-33px -237px}.highContrast .selected ._6w81._5dz_:before{content:url(/rsrc.php/v3/yR/r/5kxgs2R7Qa_.png);margin:-237px 0 0 -33px;position:absolute}.highContrast .selected ._6w81._5dz_{overflow:hidden;position:relative}.selected ._6w81._5dz_{background-image:url(/rsrc.php/v3/yR/r/5kxgs2R7Qa_.png);background-repeat:no-repeat;background-size:auto;background-position:-33px -237px}.UFICommentContent ._6w81{margin-left:1px}.tooltipContent ._6w82{overflow:hidden;white-space:normal;width:164px}
._5d62._5dzz{background-image:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);background-repeat:no-repeat;background-size:auto;background-position:0 -919px}._5d62._5d-3._5dzz{background-image:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);background-repeat:no-repeat;background-size:auto;background-position:0 -509px}._5d62._5dz-{background-image:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);background-repeat:no-repeat;background-size:auto;background-position:0 -935px}._5d62._5dz_{background-image:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);background-repeat:no-repeat;background-size:auto;background-position:0 -763px}._5d62._5d-0{background-image:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);background-repeat:no-repeat;background-size:auto;background-position:0 -107px}._5d62._5d-1{background-image:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);background-repeat:no-repeat;background-size:auto;background-position:0 -279px}._5d62._5d-3._5d-1{background-image:url(/rsrc.php/v3/yP/r/wwvdRyzDKSE.png);background-repeat:no-repeat;background-size:auto;background-position:0 0}
._18fj{margin-left:-3px;margin-right:-2px}._6r1o{margin-left:1px;margin-right:2px}
._39_n{color:#1d2129}
._5cl-{overflow:hidden}
._3t53{white-space:nowrap}._3emk._3emk{color:#777d88;display:inline-block;font-size:11px;line-height:16px;outline:none;padding:0 8px 0 0;position:relative;vertical-align:bottom}a._3emk._3emk:hover{text-decoration:none}._4-op{vertical-align:top}._3chu{margin-left:3px}._4ar- ._3t54{float:left;margin-right:2px;white-space:nowrap}._4ar- ._3emk{background:#fff;border-radius:10px;line-height:16px;margin:0 0 0 -4px;padding:2px;position:relative}._4ar- ._3emk._26lk{line-height:13px}._4ar- ._3emk:nth-child(1){margin-left:-2px;z-index:3}._4ar- ._3emk:nth-child(2){z-index:2}._4ar- ._3emk:nth-child(3){z-index:1}._4ar- ._3chu{display:none}.UFILikeSentence ._4ar- ._3emk{background:#f5f6f7}.UFICommentReactionsBling ._3t54{float:none}.UFICommentReactionsBling ._3emk{background:#f5f6f7;border-right:2px solid #fff;padding:0;vertical-align:baseline}._3-a6 .UFILikeSentence ._4ar- ._3emk,._3-a6 .UFICommentReactionsBling ._3emk,._3-a6._65_9._65_9 .UFILikeSentence ._4ar- ._3emk,._3-a6._65_9._65_9 .UFICommentReactionsBling ._3emk{background:#fff}._3-a6._1blz .UFILikeSentence ._4ar- ._3emk,._3-a6._1blz .UFICommentReactionsBling ._3emk{background:#f2f3f5}._6q1a ._3-a6._1blz .UFILikeSentence ._4ar- ._3emk,._6q1a ._3-a6._1blz .UFICommentReactionsBling ._3emk{background:#f7f6f5}.UFICommentReactionsBling._4ar- ._3emk:first-child{margin-left:0}._64do ._3emk{background-color:transparent;padding-top:6px;transform:translateY(-6px)}
._2z9t{background-image:url(/rsrc.php/v3/y9/r/C73Q-9GuUHR.png);background-repeat:no-repeat;background-size:auto;background-position:0 -24px;display:block;height:32px;outline:none;overflow:hidden;text-indent:-999px;white-space:nowrap;width:32px}._2z9u{border-radius:50%;display:inline-block;outline:none;padding:3px;position:relative}._2z9u:hover,._2z9u:focus,._2z9u:active{background-color:#f7f6f5}._2z9v{margin:2px 8px 2px 0}._51l0 ._2z9u{margin-right:3px;padding:0}._51l0 ._2z9u:hover,._51l0 ._2z9u:focus,._51l0 ._2z9u:active{background-color:#ebe9e7}
._53jh{background-color:#3b5998;background-image:linear-gradient(#4e69a2, #3b5998 50%);border-bottom:1px solid #133783;min-height:42px;position:relative;z-index:1}.tinyViewport ._53jh{min-width:-webkit-max-content;min-width:max-content}#facebook:not(.tinyViewport) ._4foe{position:fixed;top:0;width:100%;z-index:301}
._2lhm{background-color:transparent;margin:6px 0}
._5qla{margin-top:3px;vertical-align:top}
._495i{padding:11px 10px 10px}
._605a ._4oep .UFIActorImage{border-radius:50%;overflow:hidden}
._2ah8{color:#8d949e;display:block}

.uiInterstitial{border-radius:4px;margin-left:auto;margin-right:auto}.uiInterstitialSmall{width:445px}.uiInterstitialLarge{width:555px}.uiInterstitial .interstitialHeader{border-color:#ccc;padding-bottom:.5em}.fullBleed .interstitialHeader{margin:0;padding:4px 12px 10px}.uiInterstitialContent{margin-bottom:15px}.fullBleed .uiInterstitialContent{margin:0;padding:0}.uiInterstitialBar{border-bottom-right-radius:3px;border-bottom-left-radius:3px;-webkit-border-bottom-left-radius:3px;-webkit-border-bottom-right-radius:3px;line-height:16px;padding:8px 10px}div.uiInterstitialWithStripes{background:transparent url(/rsrc.php/v3/y9/r/y7MG8IZpiC8.gif) repeat-x;padding-top:15px}
._k{-webkit-transform:translate3d(0,0,0);z-index:100}
._554d{margin-left:2px;vertical-align:middle}._554b{font-size:10px}
._4mnv{border-width:2px;display:flex;flex-direction:column;justify-content:center;position:relative}._4mns{display:inline-block}._4mnw{display:flex}._ric,._4mnq{background-color:#ebedf0;border:2px solid #fff;border-radius:50%;overflow:hidden}._4wh8 ._4mnq{position:relative;z-index:1}._34n6{align-items:center;background-color:#ebedf0;color:#8d949e;display:flex;justify-content:center}._40vg{padding:0 5px;position:relative;z-index:2}._ric{position:relative}._ric ._4mnq{background:transparent;border:none;position:absolute;top:0}._ric ._4mnq._34n6{position:relative}._ric ._34n6 ._40vg{color:#fff}._ric ._34n6::after{background-color:#000;bottom:0;content:'';display:block;left:0;opacity:.4;position:absolute;right:0;top:0}
._5vx1.fixed_elem{border-top:0;border-top-left-radius:0;border-top-right-radius:0}._5vx2{background-clip:padding-box;box-sizing:border-box}._5vx2.fixed_elem{z-index:300}._5vx2._51j8{border-color:rgba(0, 0, 0, .16) #dddfe2;box-shadow:0 1px 4px rgba(0, 0, 0, .06)}._5vx7{vertical-align:middle}._zz9 ._5vx7{margin-left:-8px}._5vx7 ._1b0::after{content:' \25be'}._5vx7 ._45hd a,._5vwz a{color:#4b4f56;display:inline-block;vertical-align:baseline}._5vwz ._13xf{background-color:#edf2fa;display:none;height:0;padding-top:3px}._5vx7 ._45hd:hover a,._5vwz:hover a{color:#1d2129;text-decoration:none}._5vwy a{color:#1d2129;font-weight:600}._5vwy>span{display:block;position:relative}._13xf{display:none}._5vwy ._13xf,._5vwz:hover ._13xf{display:block}._5vx7 ._45hd{cursor:pointer;text-decoration:none}._5vw-._54nq{left:3px;position:relative}._5vw- ._5vwz{display:block}._4jq5,._5vx2 ._45hd ._45hc{border:0;font-size:14px;line-height:18px;margin:8px 0;padding:5px 16px 4px;position:relative}._zz9 ._4jq5,._zz9 ._5vx2 ._45hd ._45hc{padding-left:20px;padding-right:20px}._zz9 ._45hd:last-of-type ._45hc{padding-right:12px}._4xjz{left:0;position:absolute;right:0;text-align:center}._4xj-{font-weight:normal;visibility:hidden}._5vwy ._13xf{background-color:#4267b2}._r8e ._5vwy ._13xf{background-color:#1479fb}._5vwz ._13xf{bottom:0;left:8px;position:absolute;right:8px}
._585n{background-color:#3578e5;border:1px solid #3578e5;border-radius:3px;overflow:hidden;padding:0 0 0 40px}._585o{background-color:#fa3e3e;border-color:#fa3e3e}._3qh4{background-color:#42b72a;border-color:#42b72a}._1wpa{background-color:#f79c2d;border-color:#f79c2d}._5d83{background-color:#ccd0d5;border-color:#ccd0d5}._585p{float:left;margin:8px 0 0 -30px}._585r{background:#fff;margin:0;padding:9px 10px}._2i-a{padding-right:30px}._585q{float:right;margin:12px 12px 0 0}._585n a{font-weight:bold}
._5xew{position:absolute;z-index:202}._5xex{position:fixed}
._5ss7{position:relative}._5ss8{margin-bottom:40px;max-width:100%;position:absolute}
.UFICommentLink,.UFIPagerLink{display:block}.UFICommentLink:focus,.UFIPagerLink:focus,.UFIShareLink:focus{outline:none;text-decoration:underline}.UFICollapseIcon,.UFIPagerIcon,.UFIShareIcon{bottom:2px;display:block;height:16px;position:relative;width:16px}.UFIOPIconContainer{background-color:#365899;border-radius:7px;display:inline-block;height:14px;margin-bottom:-2px;margin-left:3px;text-align:center;width:14px}.UFIOriginalPosterIcon{background-image:url(/rsrc.php/v3/y9/r/C73Q-9GuUHR.png);background-repeat:no-repeat;background-size:auto;background-position:-51px -273px;display:inline-block;height:8px;padding-top:1px;width:8px}.UFIWeakReferenceIcon{background-image:url(/rsrc.php/v3/y9/r/C73Q-9GuUHR.png);background-repeat:no-repeat;background-size:auto;background-position:-32px -178px;display:inline-block;height:9px;margin-right:3px;width:9px}.UFICommentLink:hover .UFICollapseIcon{background-image:url(/rsrc.php/v3/y9/r/C73Q-9GuUHR.png);background-repeat:no-repeat;background-size:auto;background-position:-34px -358px}.UFICollapseIcon{background-image:url(/rsrc.php/v3/y9/r/C73Q-9GuUHR.png);background-repeat:no-repeat;background-size:auto;background-position:0 -376px}.UFIPagerIcon{background-image:url(/rsrc.php/v3/y9/r/C73Q-9GuUHR.png);background-repeat:no-repeat;background-size:auto;background-position:-50px -73px;height:15px;width:12px}.UFIReplyList .UFIPagerIcon{background-image:url(/rsrc.php/v3/y9/r/C73Q-9GuUHR.png);background-repeat:no-repeat;background-size:auto;background-position:0 -178px;height:9px;margin:0 -2px 0 -1px;position:relative;top:4px;width:19px}.UFIShareIcon{background-image:url(/rsrc.php/v3/y9/r/C73Q-9GuUHR.png);background-repeat:no-repeat;background-size:auto;background-position:-17px -375px;height:15px;width:14px}
._3scp{margin-left:15px}._uc4 ._3scp{display:none}._11c1 ._3scp{margin:8px 0 8px 12px}._11c1._4204 ._3scp{border-top:1px solid #e5e5e5;margin:0;padding:8px 0 8px 12px}._3-a6 ._11c1._4204 ._3scp{margin:0 12px;padding:8px 0}._11c1 ._3scp a{color:#444950}._4tju ._54nh{max-width:301px}._3sct{background-image:url(/rsrc.php/v3/y3/r/tP5qPHw-EVK.png);background-repeat:no-repeat;background-size:auto;background-position:-408px -270px;display:inline-block;height:12px;margin-left:2px;margin-top:4px;vertical-align:top;width:12px}._11c1 ._3sct{background-image:url(/rsrc.php/v3/y3/r/tP5qPHw-EVK.png);background-repeat:no-repeat;background-size:auto;background-position:-421px -270px;margin-top:2px}._3scs{display:block}._3scn{color:#1c1e21;font-weight:bold;line-height:16px}._3sco{color:#8d949e;font-weight:normal;line-height:16px;white-space:normal}._54nc:hover ._3scn,._54nc:hover ._3sco{color:#fff}._3scm{font-family:Helvetica, Arial, sans-serif;font-size:12px;padding-bottom:4px;padding-top:4px}._oql ._3scp{display:inline-block}
.UIPage_LoggedOut.UIPage_LoggedOutWithBaseWash .UIFullPage_Container,.UIPage_LoggedOut.UIPage_LoggedOutWithBaseWash .UIStandardFrame_Container{background:#e9ebee}.UIPage_LoggedOut .UIFullPage_Container,.UIPage_LoggedOut .UIStandardFrame_Container{padding-bottom:46px;padding-top:46px;width:auto}.UIPage_LoggedOut .fbPhotosGrid .photoDetails{width:inherit}
._3fcl{-webkit-filter:opacity(.5);pointer-events:none;-webkit-user-select:none}._gtd{display:none}
._32qq{background:none;border:0;position:relative;vertical-align:middle}._2aq4{height:32px;width:32px}._3n5r{cursor:pointer}._3n5s{left:50%;position:absolute;top:50%}._42d_{outline:0}
._1vvf{margin:3px}
._lx9{display:inline-block;font-size:18px;vertical-align:middle}
.textMetrics{border:none;height:1px;overflow:hidden;padding:0;position:absolute;top:-9999999px}.textMetricsInline{white-space:pre}
._3qn7{display:flex}._2fyi{flex-direction:row}._2fyh{flex-direction:column}._6xqq{flex-direction:row-reverse}._6xqp{flex-direction:column-reverse}._61-0{justify-content:flex-start}._61-1{justify-content:center}._61-2{justify-content:flex-end}._61-3{justify-content:space-between}._6twk{justify-content:space-around}._6twl{justify-content:space-evenly}._3qng{align-items:center}._3qnf{align-items:flex-start}._3qnu{align-items:flex-end}._1a9e{align-items:stretch}._4tau{flex-wrap:wrap}._4tav{flex-wrap:wrap-reverse}
._1-qs{display:block}._653d{display:inline-block}._653e{display:inline}._1oi3{display:none}._6h7w{display:flex}
._672g{align-items:center;border:2px white solid;border-radius:50%;display:flex;justify-content:center}._6khv{color:#fff;font-size:14px;height:30px;margin-right:-30px;position:relative;right:30px;top:50px;width:30px}._6j7b{bottom:30px;color:#fff;font-size:11px;height:25px;left:36px;margin-bottom:-29px;position:relative;width:25px}._6hp3{bottom:30px;color:#fff;font-size:11px;height:25px;left:34px;margin-bottom:-25px;position:relative;width:25px}._6huo{bottom:22px;color:#fff;font-size:9px;height:20px;left:36px;margin-bottom:-20px;position:relative;width:20px}._6hv2._6hv2::after{content:none}._6g9k{bottom:27px;color:#fff;font-size:11px;height:25px;left:42px;margin-bottom:-29px;position:relative;width:25px}._6hp2{bottom:28px;color:#fff;font-size:11px;height:25px;left:40px;margin-bottom:-25px;position:relative;width:25px}._6dsc{border-radius:50%}._6d33{bottom:26px;color:#fff;font-size:11px;height:25px;left:48px;position:relative;width:25px}._67wa{bottom:-1px;color:#fff;font-size:11px;height:25px;position:absolute;right:-5px;width:25px}._1v1b,._1v1c,._1v1e,._1v1h{color:#fff;position:absolute}._1v1b{bottom:-2px;font-size:8px;height:20px;right:-2px;width:20px}._1v1c{bottom:-4px;font-size:11px;height:25px;right:-4px;width:25px}._1v1e{bottom:-4px;font-size:12px;height:30px;right:-4px;width:30px}._1v1h{bottom:-8px;font-size:16px;height:40px;right:-8px;width:40px}._1f47{color:#fff;font-size:24px;height:54px;width:54px}._1nnu{color:#fff;font-size:24px;height:54px;left:50%;position:absolute;top:-26px;transform:translateX(-50%);width:54px}._4okn{color:#fff;font-size:12px;height:28px;width:28px;z-index:3}._6e2c{color:#fff;font-size:10px;height:20px;margin-right:5px;width:20px}._2u6z{display:flex;justify-content:center;padding:14px}._40h6{background-color:#4267b2}._3lzb{background-color:#71a830}._3l-0{background-color:#afb536}._3l-1{background-color:#d6bc38}._3lzc{background-color:#f5c33b}._3l-r{background-color:#d18f41}._3lzw{background-color:#f7923b}._3l_5{background-color:#e07a2e}._3lzx{background-color:#ef6632}._3lzy{background-color:#db4123}._44pi{background-color:#8d949e}
.sp_FNcPqrKUeXR{background-image:url(/rsrc.php/v3/yR/r/5kxgs2R7Qa_.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_FNcPqrKUeXR.sx_b94d45{width:12px;height:12px;background-position:-33px -49px}.sp_FNcPqrKUeXR.sx_372619{width:12px;height:12px;background-position:-33px -62px}.sp_FNcPqrKUeXR.sx_4296a6{background-position:-29px -82px}.sp_FNcPqrKUeXR.sx_29915c{background-position:0 -186px}.sp_FNcPqrKUeXR.sx_a1d4ac{background-position:-17px -186px}.sp_FNcPqrKUeXR.sx_51e1c6{width:12px;height:12px;background-position:-34px -186px}.sp_FNcPqrKUeXR.sx_b66953{background-position:0 -203px}.sp_FNcPqrKUeXR.sx_02992a{background-position:-17px -203px}.sp_FNcPqrKUeXR.sx_634220{background-position:0 -220px}.sp_FNcPqrKUeXR.sx_d9eadf{background-position:-17px -220px}.sp_FNcPqrKUeXR.sx_b19706{width:12px;height:12px;background-position:-34px -199px}.sp_FNcPqrKUeXR.sx_43e010{width:12px;height:12px;background-position:-34px -212px}.sp_FNcPqrKUeXR.sx_accd30{background-position:0 -237px}.sp_FNcPqrKUeXR.sx_0f237d{width:12px;height:12px;background-position:-34px -225px}.sp_FNcPqrKUeXR.sx_b8b6f7{width:12px;height:12px;background-position:-34px -238px}.sp_FNcPqrKUeXR.sx_8840d3{background-position:-17px -237px}.sp_FNcPqrKUeXR.sx_fddda6{width:24px;height:24px;background-position:0 -111px}.sp_FNcPqrKUeXR.sx_e5f9d6{width:20px;height:20px;background-position:-25px -111px}.sp_FNcPqrKUeXR.sx_601854{background-position:0 -254px}.sp_FNcPqrKUeXR.sx_d922a7{width:20px;height:20px;background-position:-25px -132px}.sp_FNcPqrKUeXR.sx_0c351a{width:24px;height:24px;background-position:0 -136px}.sp_FNcPqrKUeXR.sx_2ef7a6{background-position:-17px -254px}.sp_FNcPqrKUeXR.sx_14b823{background-position:0 -271px}.sp_FNcPqrKUeXR.sx_e94917{width:20px;height:20px;background-position:-25px -153px}.sp_FNcPqrKUeXR.sx_01681a{width:28px;height:28px;background-position:0 -82px}.sp_FNcPqrKUeXR.sx_aff0f8{width:32px;height:32px;background-position:0 -49px}.sp_FNcPqrKUeXR.sx_3b6036{width:48px;height:48px;background-position:0 0}.sp_FNcPqrKUeXR.sx_4a44c5{width:24px;height:24px;background-position:0 -161px}
.sp_YRucMYHQxd2{background-image:url(/rsrc.php/v3/y-/r/VvEmfNR4GH1.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_YRucMYHQxd2.sx_7c6e17{background-position:0 -46px}.sp_YRucMYHQxd2.sx_03807d{background-position:0 -63px}.sp_YRucMYHQxd2.sx_710678{background-position:0 -80px}.sp_YRucMYHQxd2.sx_aa1346{width:8px;height:8px;background-position:-13px -148px}.sp_YRucMYHQxd2.sx_1590a0{background-position:0 -97px}.sp_YRucMYHQxd2.sx_ed1e0f{width:12px;height:12px;background-position:0 -148px}.sp_YRucMYHQxd2.sx_81ef84{background-position:0 -114px}.sp_YRucMYHQxd2.sx_c7de1e{background-position:0 -131px}.sp_YRucMYHQxd2.sx_c69ca6{width:20px;height:20px;background-position:0 -25px}.sp_YRucMYHQxd2.sx_424d53{width:24px;height:24px;background-position:0 0}
.sp_l7GXUGOhaex{background-image:url(/rsrc.php/v3/yX/r/8vzAHoy2_LC.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_l7GXUGOhaex.sx_2ea8c2{width:20px;height:20px;background-position:-133px -201px}.sp_l7GXUGOhaex.sx_f6b05a{width:24px;height:24px;background-position:-33px -201px}.sp_l7GXUGOhaex.sx_cc2ce6{width:24px;height:24px;background-position:-58px -201px}.sp_l7GXUGOhaex.sx_51042e{background-position:0 -234px}.sp_l7GXUGOhaex.sx_22bf14{background-position:-17px -234px}.sp_l7GXUGOhaex.sx_edb7e2{background-position:-34px -234px}.sp_l7GXUGOhaex.sx_5f7a87{background-position:-51px -234px}.sp_l7GXUGOhaex.sx_6e8078{width:20px;height:20px;background-position:-154px -201px}.sp_l7GXUGOhaex.sx_d240f1{width:20px;height:20px;background-position:-175px -201px}.sp_l7GXUGOhaex.sx_96625e{background-position:-68px -234px}.sp_l7GXUGOhaex.sx_8a3cf7{width:20px;height:20px;background-position:-196px -201px}.sp_l7GXUGOhaex.sx_c602a0{width:20px;height:20px;background-position:-217px -201px}.sp_l7GXUGOhaex.sx_3d5430{width:24px;height:24px;background-position:-83px -201px}.sp_l7GXUGOhaex.sx_a07ebb{width:12px;height:12px;background-position:-170px -234px}.sp_l7GXUGOhaex.sx_4da947{width:12px;height:12px;background-position:-183px -234px}.sp_l7GXUGOhaex.sx_21e260{width:20px;height:20px;background-position:-238px -201px}.sp_l7GXUGOhaex.sx_362ce0{background-position:-85px -234px}.sp_l7GXUGOhaex.sx_ba0418{background-position:-102px -234px}.sp_l7GXUGOhaex.sx_b84f1e{width:20px;height:20px;background-position:-259px -201px}.sp_l7GXUGOhaex.sx_74b438{background-position:-119px -234px}.sp_l7GXUGOhaex.sx_080cd8{width:32px;height:32px;background-position:0 -201px}.sp_l7GXUGOhaex.sx_f5bcd3{background-position:-136px -234px}.sp_l7GXUGOhaex.sx_994ef2{width:24px;height:24px;background-position:-108px -201px}.sp_l7GXUGOhaex.sx_3174f5{background-position:-153px -234px}.sp_l7GXUGOhaex.sx_600648{width:285px;height:200px;background-position:0 0}

#bootloader_xgwci{height:42px;}.bootloader_xgwci{display:block!important;}