._5lhd{margin-right:5px;margin-top:5px;position:absolute;right:0%}._3cg7{border:0}._aek ._3ixn{background-color:rgba(0, 0, 0, .8)}._5lhe{height:290px}._5lhf{font-weight:bold}._5lhg{color:#90949c}._5lhh{padding:0 0 0 0;text-align:center}._2zzl{margin-bottom:5px;margin-top:10px}._5lhi{margin-top:40px}._1w_h{margin-top:35px}._2tsi{margin-bottom:20px;position:absolute;right:236px;top:242px}._2tsi img{border-radius:50px;box-shadow:3px 3px 5px #888;height:75px;width:75px}._2tsi ._2nzx img{border-radius:5px}._2tsk{color:#365899;font-size:18px;font-weight:bold}._2tso{font-size:18px;margin:16px}._2tsp{bottom:-35px;color:#fff;font-size:16px;line-height:32px;position:absolute;text-align:left}._4u2-{font-weight:bold}._2zzm{float:left;margin:6px 6px 6px 6px}
._4xqv{background-color:#ebedf0}._64pf{background-color:#fff;border-radius:4px;height:340px;overflow:hidden}._4xqu{background-color:#fff;border-color:#dadde1}

#bootloader_JxZRT{height:42px;}.bootloader_JxZRT{display:block!important;}