._6u6_{display:block;height:100%;margin:0 auto;position:relative;vertical-align:top;width:100%}._6u6_ ._697a{background-color:#fff;padding-top:16px}._6shs{background-color:rgba(255, 255, 255, .5);height:100%;position:absolute;width:100%;z-index:1}._6u6z{display:block;margin:0 auto;padding-top:16px;text-align:center;width:360px}._72_4{margin:12px 18px 0 18px}
._73e2{background-color:#e04c60;border-radius:12px;height:24px;margin:auto 0;width:24px}._73dy{background-color:#4267b2}._73dz{background-color:#54c7ec}._73d-{background-color:#4dbba6}._73d_{background-color:#7b64c0}._73e0{background-color:#89be4c}._73e1{background-color:#e04c60}._73e3{height:40px;margin-left:12px;width:310px}
._6guz{border-bottom:1px solid;border-bottom-color:#e9eaeb;margin:12px;padding:8px}
._2els{color:#929598;font-size:12px;line-height:16px;padding-top:8px}._6yf3{display:block;font-size:12px;line-height:12px;margin-bottom:10px}
._6utf{border:1px solid #dadde1}._6utf._6z83{border-color:#fa383e}._6z81{position:relative}._6z82{position:absolute;right:7px;top:6px}._6utg{color:#1c1e21}._6uth{border:1px solid #dadde1;border-top:none;color:#4267b2;font-size:12px;height:19px;line-height:19px;padding:4px 8px}._6ute{font-size:12px;line-height:18px;margin-top:12px}._6yf2{margin-left:2px;vertical-align:bottom}._6wxb{background-color:#fff;border:1px solid rgba(0, 0, 0, .20);display:inline-block;text-align:left;width:320px}
._6uns{background-color:#af9cda;border-radius:100px;height:48px;width:48px}

#bootloader_DVK5q{height:42px;}.bootloader_DVK5q{display:block!important;}