
._5tpn+._5tpn{margin-top:10px}._5vbm{display:inline}._2byl input[placeholder]{line-height:14px}._26on{margin:6px 0 6px 0}._26or{margin:20px 0 20px 0}._1hqn{margin-right:12px}._l9d{margin:8px 12px}._bb3{display:flex}
._5cec+._5cec{margin-top:10px}._5ced{display:inline}._5eb4{margin:6px 0 6px 0}._32go input[placeholder]{line-height:14px}._3nv9{margin:20px 0 20px 0}._5eb7{display:inline-block;margin:5px 0;padding-right:5px}
._2ciy{}._484s{cursor:ew-resize}._484t{cursor:ns-resize}._484u{cursor:move}._484x{cursor:nesw-resize}._484y{cursor:nwse-resize}

#bootloader_kepr5{height:42px;}.bootloader_kepr5{display:block!important;}