._7bku{color:#90949c}._7bkq{margin-top:22px;width:210px}._7blb{color:#1d2129;line-height:14px}._7bl9{font-size:11px;line-height:14px}._7bl8._7bl8._7bl8{padding-left:4px}._7bla._7bla._7bla{padding-left:4px}._7bkr{padding-bottom:6px;padding-right:6px}._7bks{width:100%}._7bl6{border:1px solid blue;border-color:#3776ff;border-radius:20px;color:#3776ff;display:inline-block;margin-top:10px;padding:6px 10px}._7bl6:hover{background-color:#3776ff;color:#fff;text-decoration:none}._7bl7{font-size:14px;line-height:20px;margin-top:22px}._7bl4{box-sizing:border-box;color:#8d949e;line-height:16px;padding:24px;position:absolute;text-align:center;top:80px;width:100%;word-wrap:break-word;z-index:1}._1i6a ._7bl4{position:relative;top:auto}

#bootloader_BbLXY{height:42px;}.bootloader_BbLXY{display:block!important;}