<template>
<div> 
 <router-link class="btn btn-dark fa fa-caret-left" to="/company/invoice"><span class="fa fa-caret-left"></span><span class="fa fa-caret-left"></span></router-link>
<hr>
<div>
    <h3 style="margin-left:2.8%"><b><u>Create Company Invoice:</u></b></h3>
    <div class="container-fluid shadow">
        <div class="col-md-10">
            <div class="form-group">
                <br>
                <label class="control-label control-label-left col-sm-3" for="InvoiceNumber">Invoice Number<span class="req" style="color:red"> *</span></label>
                <div class="controls col-11">
                    <input id="InvoiceNumber" type="text" v-model="company_invoice.InvoiceNumber" class="form-control k-textbox" data-role="text" name="InvoiceNumber" required="required" data-parsley-errors-container="#errId1"><span id="errId1" class="error"></span>
                </div>
            </div>
            <div class="form-group ">
                <label class="control-label control-label-left col-sm-3" for="Student">Company Name</label>
                  <div class="controls col-11">
                    <ul class="list-group">
                        <div class="input-group">
                              <input type="text" class="form-control" style="margin-left:-4%" name="search" placeholder="Search Company by Name" v-model="companyName" v-on:keyup="searchCompany()" aria-label="Amount (to the nearest dollar)">
                                <div class="input-group-append">
                                 <span class="input-group-text" v-on:click="clear()" style="color:red;cursor:pointer;"> <i class="fa fa-times"></i></span>                                 
                                </div>
                              </div>
                        <li class="list-group-item searchCourseBackground" v-for="(student,index) in companyNameList" v-bind:key='index'>
                            <a @click="setCompanyName(student)">
                                {{student.CompanyName}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
   
    <div class="row">
        <div class="form-group" style ="width: 82%;margin-left:1%;;">
        <label class="control-label control-label-left col-sm-3" for="InvoicePurpose">Invoice Purpose</label>
        <div class="controls col-11">
            <input id="InvoicePurpose" v-model="company_invoice.InvoicePurpose" name="InvoicePurpose" class="form-control">
            <span id="errId7" class="error"></span>
        </div>
        </div>
        <div class="form-group" style ="width: 82%;margin-left:1%;;">
        <label class="control-label control-label-left col-sm-3" for="Amount">Amount<span class="req" style="color:red"> *</span></label>
        <div class="controls col-11">
            <input id="Amount" v-model="company_invoice.Ammount" name="Ammount" type="text" class="form-control k-textbox" data-role="text" required="required" data-parsley-errors-container="#errId8"><span id="errId8" class="error"></span>
        </div>
        </div>
        <div class="form-group" style ="width:82%;margin-left:1%;;">
        <label class="control-label control-label-left col-sm-3" for="Currency">Currency</label>
        <div class="controls col-11">
            <select id="Currency" class="form-control" v-model="company_invoice.Currency" name="Currency"  data-role="select" data-parsley-errors-container="#errId9">
                
                <option>CHF</option>
                <option>EUR</option>
                <option>USD</option>
                <option>GBP</option>
                <option>CAD</option>
                <option>AUD</option>
                <option>JPY</option>
                <option>INR</option>
            </select>
            <span id="errId9" class="error"></span>
        </div>
        </div>
        <div class="form-group" style ="width: 82%;margin-left:1%;;">
        <label class="control-label control-label-left col-sm-3" for="field127">Invoice Date</label>
        <div class="controls col-11">
        <input type="date" class="form-control" v-model="company_invoice.InvoiceDate">
        </div>
        </div>
        <div class="form-group" style ="width: 82%;margin-left:1%;;">
        <label class="control-label control-label-left col-sm-3" for="field125">Due Date</label>
        <div class="controls col-11">
        <input type="date" class="form-control" v-model="company_invoice.DueDate">
        </div>
        </div>
        <div class="form-group" style ="width: 82%;margin-left:1%;;">
        <label class="control-label control-label-left col-sm-3" for="field126">Payment Date</label>
        <div class="controls col-11">
        <input type="date" class="form-control" v-model="company_invoice.PaymentDate">
        </div>
        </div>
        <div class="form-group row" style ="width: 82%;margin-left:1%;;">
        <label class="control-label control-label-left col-1" for="Paid">Paid</label>
        <div class="controls col-11">
            <input id="Paid" type="checkbox"  
            value="-1"  @change="changeCheck($event)"
            style="zoom: 2.0;" v-model="company_invoice.Paid" name="Paid"/>
        </div>
        </div>
        
         <div class="form-group row" style ="width: 82%;margin-left:1%;;">
        <div class="controls col-11">
            <input type="button" value="Save" class="form-control btn btn-primary btn-block" v-on:click="invoiceCreate()" />
        </div>
        </div>
    </div>
</div>
</div>
</div>
</template>
scrip
<script>

export default {
    data(){
        return {
            state:{
                date:'',
            },
            companyName:'',
            companyNameList:[],
            studentId:'',
            mbaCourse:'',
         company_invoice:{
            CompanyID: null,
            InvoicePurpose:null,
            InvoiceNumber: null,
            Ammount: null,
            Currency: null,
            InvoiceDate: null,
            DueDate: null,
            PaymentDate: null,
            Paid: null,
        },
        }
       
    },
    created(){
        this.getInvoiceNumber();
        this.fetchMbaCourses();
    },
    methods:{
        getInvoiceNumber(){
            axios.get('/api/getInvoiceNo').then(resp =>{
                this.company_invoice.InvoiceNumber = resp.data;
            }).catch(error =>{
                console.log('this is consose');
            });
        },
        
        searchCompany(){
            this.companyNameList =[];
            axios.post('/api/getCompanyByName',{'name':this.companyName}).then(resp=>{
                
                this.companyNameList = resp.data;
            }).catch(error =>{

            });
        },
        clear()
        {
            this.companyNameList =[];
            this.companyName ='';
        },
        setCompanyName(company){
            this.clear();
            this.companyName = company.CompanyName;
            this.company_invoice.CompanyID = company.ID; 
        },
        fetchMbaCourses(){
        axios.get('/api/getmbacourse')
                .then(response => {
                   this.mbaCourse = response.data;
                })
                .catch(error => {
                    console.log(error.response.data);
                });
   },
   invoiceCreate(){
        if(this.companyName=='')
        {
            this.company_invoice.CompanyID=null;
        }
        axios.post('/api/companyInvoiceCreate',this.company_invoice)
            .then( response => {
                alert('Invoice Create Succesfully');
            }, error => {
                console.log('erro');
            });
   },
   changeCheck($event)
   {
       if(event.target.value == "-1")
       event.target.value ="1";
       else
            event.target.value ="-1";
   },

    }
}
</script>
<style scoped>
.searchCourseBackground:hover
{
background: #cececf;
}
input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}
</style>


