<template>
<div> 
 <router-link class="btn btn-dark fa fa-caret-left" to="/student/invoice/list"><span class="fa fa-caret-left"></span><span class="fa fa-caret-left"></span></router-link>
<hr>
<div>
    <h3 style="margin-left:2.8%"><b><u>Update Student Invoice:</u></b></h3>
    <div class="container-fluid shadow" style="padding:4%">
    <div class="row" style="width:100%;" >
        
        <div class="col-md-8">
            <div class="form-group">
                <br>
                <label class="control-label control-label-left col-sm-3" for="InvoiceNumber">Invoice Number<span class="req" style="color:red"> *</span></label>
                <div class="controls col-11">
                    <input id="InvoiceNumber" disabled type="text" v-model="std_Invoice.InvoiceNumber" class="form-control k-textbox" data-role="text" name="InvoiceNumber">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label control-label-left col-sm-3" for="Student">Student</label>
                  <div class="controls col-11" >
                    <ul class="list-group">
                        <div class="input-group">
                            <input type="hidden" v-model="std_Invoice.StudentID">
                              <input type="text"  class="form-control" disabled name="search" placeholder="Search Student by Name" v-model="std_Invoice.studentName" v-on:keyup="searchStudent()" aria-label="Amount (to the nearest dollar)" style="margin-left:-4%">
                                <div class="input-group-append">
                                </div>
                              </div>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row" style="width:100%">
              <div class="row" style="margin-left:10%">
                <div class="col-md-6">
                    <div class="form-group" style="display: block;">
                    <label class="control-label"><u>Mail Address:</u></label>
                    <div class="controls">
                        <label class="radio"><input type="radio" value="Option 1" > Personal Address</label>
                        <br>
                        <label class="radio"><input type="radio" value="Option 2" > Business Address</label>
                    </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h6><u><b>Tution Purpose For Flex MBA's:</b></u></h6>
                    <div class="form-group" style="display: block;">
                    <label class="control-label" for="MbaCourses">MBA Courses</label>
                    <div>
                      <select style="margin-top:3%" class="form-control" id="pCode" >
                         <option :value="mbaCourse.ID"  v-for="(mbaCourse,index) in mbaCourse" v-bind:key='index'>{{mbaCourse.ProgramTitle}}</option>
                        </select>
                    </div>
                    </div>
                    <div class="form-group">
                    <label class="control-label" for="field110">Date</label>
                    <div class="controls">
                        <input type="date" class="form-control" >
                  </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="form-group" style ="width: 80%;">
        <label class="control-label control-label-left col-sm-3" for="InvoicePurpose">Invoice Purpose</label>
        <div class="controls col-sm-9">
            <input type="text" id="InvoicePurpose" v-model="std_Invoice.InvoicePurpose" name="InvoicePurpose" class="form-control">
        </div>
        </div>
        <div class="form-group" style ="width: 80%;">
        <label class="control-label control-label-left col-sm-3" for="Amount">Amount<span class="req" style="color:red"> *</span></label>
        <div class="controls col-sm-9">
            <input id="Amount" v-model="std_Invoice.Ammount" name="Ammount" type="text" class="form-control k-textbox" data-role="text" required="required" data-parsley-errors-container="#errId8"><span id="errId8" class="error"></span>
        </div>
        </div>
        <div class="form-group" style ="width:80%;">
        <label class="control-label control-label-left col-sm-3" for="Currency">Currency</label>
        <div class="controls col-sm-9">
            <select id="Currency" class="form-control" v-model="std_Invoice.Currency" name="Currency">
                <option>CHF</option>
                <option>EUR</option>
                <option>USD</option>
                <option>GBP</option>
                <option>CAD</option>
                <option>AUD</option>
                <option>JPY</option>
                <option>INR</option>
            </select>
            <span id="errId9" class="error"></span>
        </div>
        </div>
        <div class="form-group" style ="width: 80%;">
        <label class="control-label control-label-left col-sm-3" for="field127">Invoice Date</label>
        <div class="controls col-sm-9">
        <input type="date" class="form-control" v-model="std_Invoice.InvoiceDate">
        </div>
        </div>
        <div class="form-group" style ="width: 80%;">
        <label class="control-label control-label-left col-sm-3" for="field125">Due Date</label>
        <div class="controls col-sm-9">
        <input type="date" class="form-control" v-model="std_Invoice.DueDate">
        </div>
        </div>
        <div class="form-group" style ="width: 80%;">
        <label class="control-label control-label-left col-sm-3" for="field126">Payment Date</label>
        <div class="controls col-sm-9">
        <input type="date" class="form-control" v-model="std_Invoice.PaymentDate">
        </div>
        </div>
        <div class="form-group row" style ="width: 80%;">
        <label class="control-label control-label-left col-1" for="Paid">Paid</label>
        <div class="controls col-9">
            <input id="Paid" type="checkbox" 
            value="-1"  @change="changeCheck($event)"
            style="zoom: 2.0;" v-model="std_Invoice.Paid" name="Paid"/>
        </div>
        </div>
         <div class="form-group" style ="width: 80%;">
        <label class="control-label control-label-left col-sm-3" for="Paid"></label>
        <div class="controls col-sm-9">
            <input type="button" value="Save" class="form-control btn btn-primary" v-on:click="invoiceUpdate()" />
        </div>
        </div>
    </div>
</div>
</div>
</div>
</template>
scrip
<script>

export default {
    data(){
        return {
            mbaCourse:'',    
         std_Invoice:
         {
            studentName:null,
            StudentID: null,
            InvoicePurpose:null,
            InvoiceNumber: null,
            Ammount: null,
            Currency: null,
            InvoiceDate: null,
            DueDate: null,
            PaymentDate: null,
            Paid: null,
        },
        }
       
    },
    created(){
        this.fetchMbaCourses();
        this.getInvoiceByID();
    },
    methods:{
changeCheck($event)
   {
       if(event.target.value == "-1")
       event.target.value ="1";
       else
            event.target.value ="-1";
   },

        fetchMbaCourses(){
        axios.get('/api/getmbacourse')
                .then(response => {
                   this.mbaCourse = response.data;
                })
                .catch(error => {
                    console.log(error.response.data);
                });
   },
   invoiceUpdate(){
        if(this.std_Invoice.studentName=='')
         {
            this.std_Invoice.StudentID=null;
            }
                axios.post('/api/invoiceUpdate/'+this.$route.params.id, this.std_Invoice)
                    .then( response => {
                        alert('Invoice Create Succesfully');
                    }, error => {
                        console.log('erro');
                    });
   },
   
           getInvoiceByID(){
            axios.get('/api/getInvoiceByID/'+this.$route.params.id)
                .then(response => {

                    this.std_Invoice = response.data[0];
                    this.std_Invoice.studentName =response.data[0].FirstName +' '+response.data[0].LastName;
                    })
                .catch(error => {
                    console.log(error.response);
                });
        },
    }
}
</script>
<style scoped>
.searchCourseBackground:hover
{
background: #cececf;
}
input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}
</style>


