<template>
<div> 
 <router-link class="btn btn-dark fa fa-caret-left" to="/staff/index"><span class="fa fa-caret-left"></span><span class="fa fa-caret-left"></span></router-link>
<hr>
<div class="container-fluid">
	      <button class="btn btn-info pull-right" @click="print()">print</button>
<div class="box">    
		<div class="stl_02">
			<div class="stl_view">
				<div class="stl_03 stl_04">
					<div class="stl_01" style="top: 12.6731em; left:33.0625em;"><span class="stl_05" style="word-spacing:0em;">Title First Name Last Name &nbsp;</span></div>
					<div class="stl_01" style="top: 13.9573em; left:33.0625em;"><span class="stl_05" style="word-spacing:-0.01em;">Street Address &nbsp;</span></div>
					<div class="stl_01" style="top: 15.2423em; left:33.0625em;"><span class="stl_05">0</span></div>
					<div class="stl_01" style="top: 15.2423em; left:33.5309em;"><span class="stl_05" style="word-spacing:0.01em;">000 City &nbsp;</span></div>
					<div class="stl_01" style="top: 16.4106em; left:33.0625em;"><span class="stl_05">Country &nbsp;</span></div>
					<div class="stl_01" style="top: 21.0433em; left:4.786em;"><span class="stl_06 stl_07" style="font-weight:bold; word-spacing:0.08em;">Invoice No.</span><span class="stl_06 stl_07" style="font-weight:bold; word-spacing:0.28em;">&nbsp;0452424 &nbsp;</span></div>
					<div class="stl_01" style="top: 23.4106em; left:33.0083em;"><span class="stl_05 stl_08" style="word-spacing:0em;">Zurich, April 7, 201<span class="stl_07">0 &nbsp;</span></span></div>
					<div class="stl_01" style="top: 28.1248em; left:4.776em;"><span class="stl_05 stl_08" style="word-spacing:0em;">Dear Title Last Name<span class="stl_09">, &nbsp;</span></span></div>
					<div class="stl_01" style="top: 30.0851em; left:4.794em;"><span class="stl_10" style="word-spacing:-0.02em;">We kindly ask you to make a payment for the following: &nbsp;</span></div>
					<div class="stl_01" style="top: 31.8664em; left:7.133em;"><span class="stl_11 stl_08" style="font-weight:bold; word-spacing:0em;">Tuition fees, semester 2, DBA progra<span class="stl_07">m &nbsp;</span></span></div>
					<div class="stl_01" style="top: 31.8664em; left:28.3442em;"><span class="stl_11" style="font-weight:bold; word-spacing:0.02em;">10.000,00 CHF &nbsp;</span></div>
					<div class="stl_01" style="top: 34.2198em; left:4.768em;"><span class="stl_05 stl_08" style="word-spacing:0em;">Our bank detail<span class="stl_07">s: &nbsp;</span></span></div>
					<div class="stl_01" style="top: 36.1156em; left:7.133em;"><span class="stl_05 stl_08" style="word-spacing:0em;">Credit Suisse Bank, Zur<span class="stl_07">ich &nbsp;</span></span></div>
					<div class="stl_01" style="top: 37.4248em; left:7.133em;"><span class="stl_05 stl_08" style="word-spacing:0em;">Account Nr. 819846-1<span class="stl_09">1 &nbsp;</span></span></div>
					<div class="stl_01" style="top: 38.7348em; left:7.133em;"><span class="stl_05" style="word-spacing:0em;">Swift Code: CRES CH ZZ 80A &nbsp;</span></div>
					<div class="stl_01" style="top: 40.0431em; left:7.133em;"><span class="stl_05 stl_08" style="word-spacing:0em;">Bank Clearing Nr. 48<span class="stl_07">35 &nbsp;</span></span></div>
					<div class="stl_01" style="top: 41.3539em; left:7.133em;"><span class="stl_05" style="word-spacing:0.01em;">IBAN: CH 1704835081984611000 &nbsp;</span></div>
					<div class="stl_01" style="top: 43.6473em; left:4.768em;"><span class="stl_05 stl_08" style="word-spacing:0em;">*Exempted from VAT under Article 14.9<span class="stl_07">. &nbsp;</span></span></div>
					<div class="stl_01" style="top: 46.0685em; left:4.794em;"><span class="stl_10" style="word-spacing:-0.01em;">We kindly ask you to make the above payment </span><span class="stl_12" style="font-weight:bold; word-spacing:-0.01em;">until Mai 7, 2010. &nbsp;</span></div>
					<div class="stl_01" style="top: 48.3915em; left:4.786em;"><span class="stl_05 stl_08" style="word-spacing:0em;">Thank you for your kind collaboration<span class="stl_09">. &nbsp;</span></span></div>
					<div class="stl_01" style="top: 53.0764em; left:33.0508em;"><span class="stl_05 stl_08" style="word-spacing:0em;">SBS Swiss Business Scho<span class="stl_07">ol &nbsp;</span></span></div>
				</div>
			</div>
		</div>	
   </div>
</div>
</div>
</template>

<script>
import { Printd } from 'printd'
export default {
	data(){
		return{
			 cssText: `
      .box {
        font-family: sans-serif;
        width: 700px;
        text-align: center;
        padding: 1em;
        margin: 2em auto;
        height: 800px;
	  }
	    sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 70.16666em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 49.58333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
	width: 49.58333em;
}
.stl_04 {
	height: 7.016666em;
}
.ie .stl_04 {
	height: 70.16666em;
}
.stl_07 {
	letter-spacing: -0.01em;
}
.stl_08 {
	letter-spacing: 0em;
}
.stl_09 {
	letter-spacing: 0.01em;
}
.stl_10 {
	font-size: 0.92em;
	font-family: "ICNCJQ+Calibri";
	color: #000000;
	line-height: 1.232552em;
}
.stl_11 {
	font-size: 0.91em;
	font-family: "DETTEG+Calibri-Bold";
	color: #000000;
	line-height: 1.227187em;
}
.stl_12 {
	font-size: 0.92em;
	font-family: "DETTEG+Calibri-Bold";
	color: #000000;
	line-height: 1.232552em;
}`,
		}
	},
	
	 mounted () {
    this.d = new Printd()

    // Print dialog events (v0.0.9+)
    const { contentWindow } = this.d.getIFrame()

    contentWindow.addEventListener(
      'beforeprint', () => console.log('before print event!')
    )
    contentWindow.addEventListener(
      'afterprint', () => console.log('after print event!')
    );
   
  },
	methods:{
		        print () {
            this.d.print( this.$el, this.cssText)
                }
    },

}

</script>


<style scoped>
  .box {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        width: 800px;
        border: solid 1px #ccc;
        padding: 1em;
        margin: 2em auto;
        height: auto !important;
        overflow:auto;
        overflow:hidden;
        min-height: 800px;
      }
	  sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 70.16666em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 49.58333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
	width: 49.58333em;
}
.stl_04 {
	height: 7.016666em;
}
.ie .stl_04 {
	height: 70.16666em;
}
.stl_07 {
	letter-spacing: -0.01em;
}
.stl_08 {
	letter-spacing: 0em;
}
.stl_09 {
	letter-spacing: 0.01em;
}
.stl_10 {
	font-size: 0.92em;
	font-family: "ICNCJQ+Calibri";
	color: #000000;
	line-height: 1.232552em;
}
.stl_11 {
	font-size: 0.91em;
	font-family: "DETTEG+Calibri-Bold";
	color: #000000;
	line-height: 1.227187em;
}
.stl_12 {
	font-size: 0.92em;
	font-family: "DETTEG+Calibri-Bold";
	color: #000000;
	line-height: 1.232552em;
}

</style>
