<template>
<div class="container-fluid shadow">
<div style="width:100%" >
    <div class="vld-parent">
        <loading :active.sync="isLoading"
        :is-full-page="fullPage"></loading>
    </div>
<h3> List of All Student Invoice </h3>
    <div class="form-group pull-right col-md-4">
        <input type="text" class="search form-control"   v-model="serach_by_number" name="serach_by_number" v-on:keyup="searchInvoice()"  placeholder="Search By Invoice Number">
        </div>
        <table class="table table-hover table-bordered results myTable"  >
        <thead>
        <tr class="header">
            <th>Date </th>
            <th>Number </th>
            <th>Amount</th>
            <th>Invoice Purpose</th>
            <th>Student</th>
            <th>Paid</th>
            <th>View Invoice</th>
             <th>Actions</th>
        </tr>
        </thead>
        <tbody v-for="(Invoice, index) in Invoice_list" v-bind:key="index">
            <tr>
            <td>{{Invoice.InvoiceDate}}</td>
            <td>{{Invoice.InvoiceNumber}}</td>
            <td>{{Invoice.Ammount}}</td>
            <td>{{Invoice.InvoicePurpose}}</td>
            <td>{{Invoice.FirstName}}  {{Invoice.LastName}}</td>
            <td>{{Invoice.Paid}}</td>
            <td><router-link class="fa fa-print " style="font-size:30px;color:skyblue solid" to="/invoice/show"> </router-link>
            </td>
           <td><button class="btn btn-outline-info"><span class="fa fa-edit" @click="editStudentInvoice(Invoice.ID)"></span></button></td>
            </tr>
        </tbody>
        </table>
        <pagination v-if="pagination.last_page > 1" :pagination="pagination" :offset="5"  @paginate="paginateData()"></pagination>
    </div>
</div>
</template>

<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
export default {
     components: {
            Loading
        },
 data() {
       return {

        Invoice_list: [],
        pagination: {
            'current_page': 1
        },
        serach_by_number:'',
         isLoading: false,
         fullPage: true,
          pagination: {
            'current_page': 1
        },
        }
    },
    watch:{
        serach_by_number(after) {
           this.searchData();
           //this.serach_by_number='';
        },
        //getStudentInvoice()
        //this.getStudentInvoice() !this.serach_by_number;
    },
    created() {
       this.getStudentInvoice();
    },
    methods: {

          paginateData(){
            if(this.serach_by_number.length>0)
                this.searchInvoice();
            else
                this.getStudentInvoice();
        },
           searchData(){
            this.pagination.current_page=1;
            if(this.serach_by_number.length > 0)
                this.searchInvoice();
            else
            {
                this.getStudentInvoice();
            }
        },
        getStudentInvoice(){
            this.isLoading = true;
            axios.get('/api/getStudentInvoiceList?page=' + this.pagination.current_page)
                .then(response => {
                        console.log(response)
                    this.isLoading = false;
                    this.Invoice_list = response.data.data.data;
                    this.pagination = response.data.pagination;
                            })
                .catch(error => {
                    console.log(error.response);
                });
        },
        searchInvoice()
        {
            
            this.isLoading= true;
               axios.get('/api/searchInoiceByNumber?page=' + this.pagination.current_page,{ params: { search: this.serach_by_number} })
                        .then(response => {
                            console.log(response)
                            this.Invoice_list = response.data.data.data;
                            this.pagination = response.data.pagination;
                            console.log(this.Invoice_list);
                        })
                        .catch(error => {
                            console.log(error.response.data);
                        });
            this.isLoading = false;
        },
        editStudentInvoice(id){
            this.$router.push({path:'/student/invoice/edit/'+id})
        }
    }
}
</script>

<style scoped>

</style>
