<template>
<div> 
 <router-link class="btn btn-dark fa fa-caret-left" to="/book/bundle/list"><span class="fa fa-caret-left"></span><span class="fa fa-caret-left"></span></router-link>
<hr>
<div class="container-fluid">
   <h2><b><u>Udpate Book Bundle:</u></b></h2>
   <div class="row">
      <form style="width:100%">
         <div class="container-fluid shadow">
            <div class="row">
               <div class="row" style="width:100%">
                  <div class="col-md-12">
                     <div class="row">
                        <div class="col-md-8">
                           <div class="form-group">
                              <label class="control-label control-label-left col-sm-3" for="Discription:">Discription :</label>
                              <div class="controls col-12">
                                 
                                 <textarea id="Discription:" v-model="bookBundle.Description" rows="3" class="form-control k-textbox" data-role="textarea" data-parsley-errors-container="#errId1"></textarea><span id="errId1" class="error"></span>
                              </div>
                           </div>
                           <div class="form-group" style="display: block;">
                              <label class="control-label control-label-left col-sm-3" for="field2">Creation Date:</label>
                              <div class="controls col-12">
                                 <input type="date" class="form-control" v-model="bookBundle.CreatedOn">
                              </div>
                           </div>
                           <div class="form-group" >
                              <table class="table table-borderd">
                                 <thead>
                                    <th >Books</th>
                                 </thead>
                                 <tr>
                                    <td style="text-align:center">
                                       <strong>
                                       Books
                                       </strong>
                                    </td>
                                 </tr>
                                 <tbody>
                                    <tr v-for="(book,index) in bookList" v-bind:key="index">
                                       <td>{{book.title}}</td>
                                       <td>
                                          <span style="color:red; cursor:pointer" @click="removeLine(index)"> <i class="fa fa-times"></i></span>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                           <div class="form-group" style="margin-left:3%">
                              <button type="button" class="btn btn-primary form-control" @click="updateBookBundle()"> Save</button>
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="row shadow">
                              <div class="col-md-12">
                                 <!-- /// start -->
                                 <div class="form-group ">
                                    <label for="">Search Books</label>
                                    <ul class="list-group">
                                       <div class="input-group">
                                          <input type="text" class="form-control" name="search" placeholder="Search Book To Add in Bundle ..." v-model="search_data" v-on:keyup="autoComplete" aria-label="Amount (to the nearest dollar)">
                                          <div class="input-group-append">
                                             <span class="input-group-text" v-on:click="clear()" style="color:red;cursor:pointer;"> <i class="fa fa-times"></i></span>                                 
                                          </div>
                                       </div>
                                       <li class="list-group-item searchCourseBackground" v-for="(result,index) in data_results" v-bind:key="index">
                                          <a style="cursor:pointer" role="button" @click="addLine(result)">{{ result.Title}}</a>
                                       </li>
                                    </ul>
                                 </div>
                                 <!-- search -->
                              </div>
                              <!-- right part -->
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </form>
   </div>
</div>
</div>
</template>
<script>
    export default{
       data(){
          return {
             search_data:'',
             data_results:[],
             bookList:[],
             bookBundle:{
                ID:null,
                Description:null,
                CreatedOn:null,
                TS:null
             }
          }
       },
       created(){
       this.editBookBundle();
       },
       methods:{
          autoComplete(){
             this.data_results = [];
             if(this.search_data.length >= 1)
             {  
             axios.post('/api/getBookByTitle',{'book':this.search_data}).then(response=>{
                this.data_results = response.data;
             }).catch(error=>{
                console.log(error);
             });

             }
          },
          clear(){
             this.data_results= [];
             this.search_data ='';
          },
          addLine(book){
             this.bookList.push({'id':book.ID,'title':book.Title});
          },
          removeLine(index){
             this.bookList.splice(index,1);
          },
          updateBookBundle(){
             let formData = new FormData();
             this.bookList.map((book)=>{
                formData.append('books[]',JSON.stringify(book));
             });

             formData.append('bookBundle',JSON.stringify(this.bookBundle));
            

             axios.post('/api/updateBookBundle/'+this.$route.params.id,formData,
             {
                headers: {
                    'Content-Type': 'multipart/form-data'
                },
                Accept: 'application/json, text/plain',
           }).then(response=>{
              console.log(response.data);
                 alert("Save Successfully!!!");

                }).catch(error =>{
                   console.log(error);
                });
          },
          editBookBundle(){
             
             axios.get('/api/editBookBundle/'+this.$route.params.id).then(resp=>{
                console.log(resp.data);
                this.bookBundle = resp.data.bookBundle;
                resp.data.books.map((book)=>{
                   this.bookList.push({id:book.BookID,title:book.Title});
                });
               //  this.bookBundle = resp.data.bookBundle;
               //  resp.data.books.map((book)=>{

               //  this.bookList.push({'id':book.BookID,'title':book.bookBundleID});
               //  });


             }).catch(error=>{
                console.log(error);
             });
          }
       }

    }
</script>
<style scoped>
.searchCourseBackground:hover
{
background: #cececf;
}
</style>

