<template>
<div> 
 <router-link class="btn btn-dark fa fa-caret-left" to="/book/list"><span class="fa fa-caret-left"></span><span class="fa fa-caret-left"></span></router-link>
<hr>
<div class="container-fluid">
   <div class="row">
      <form style="width:100%">
        <h2><b><u>Book Received:</u></b></h2>
         <div class="container-fluid shadow">
            <div class="row">
               <div class="row" style="width:100%">
                  <div class="col-md-12">
                     <div class="row">
                        <div class="col-md-6">
                           <div class="form-group">
                              <label class="control-label control-label-left col-sm-3" for="Number">Number</label>
                              <div class="controls col-sm-9">
                                 <input id="Number" type="text" class="form-control k-textbox" data-role="text" data-parsley-errors-container="#errId1"><span id="errId1" class="error"></span>
                              </div>
                           </div>
                           <div class="form-group">
                              <label class="control-label control-label-left col-sm-3" for="Student">Student</label>
                              <div class="controls col-sm-9">
                                 <input id="Student" type="text" class="form-control k-textbox" data-role="text" data-parsley-errors-container="#errId2"><span id="errId2" class="error"></span>
                              </div>
                           </div>
                           <div class="form-group">
                              <label class="control-label control-label-left col-sm-3" for="BirthDate">Birth Date</label>
                              <div class="controls col-sm-9">
                                 <input id="BirthDate" type="text" class="form-control k-textbox" data-role="text" data-parsley-errors-container="#errId3"><span id="errId3" class="error"></span>
                              </div>
                           </div>
                           <div class="form-group">
                              <label class="control-label control-label-left col-sm-3" for="BirthPlace">Birth Place</label>
                              <div class="controls col-sm-9">
                                 <input id="BirthPlace" type="text" class="form-control k-textbox" data-role="text" data-parsley-errors-container="#errId4"><span id="errId4" class="error"></span>
                              </div>
                           </div>
                           <div class="formControl ui-draggable" style="display: none;">
                              <img src="/images/textbox.png">Text Box
                           </div>
                        </div>
                        <div class="col-md-6"></div>
                     </div>
                     <div class="row">
                        <div class="col-md-10">
                           <div class="form-group">
                              <label class="control-label" for="Submitted">Submitted</label>
                              <div class="controls">
                                 <textarea id="Submitted" rows="3" class="form-control k-textbox" data-role="textarea" style="margin-top: 0px; margin-bottom: 0px; height: 257px;" data-parsley-errors-container="#errId5"></textarea><span id="errId5" class="error"></span>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-2"></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </form>
   </div>
</div>
</div>
</template>
