<template>
<div class="container-fluid shadow">
<div style="width:100%" >
      <div class="vld-parent">
        <loading :active.sync="isLoading"
        :is-full-page="fullPage"></loading>
    </div>
<h3> Book Bundle List</h3>
        <div class="form-group col-md-4 pull-right">
        <input type="text" class="search form-control" v-model="bundle_description" name="bundle_description"   placeholder="Search as Book Title">
        </div>
        <table class="table table-hover table-bordered results myTable"  >
        <thead>
        <tr class="header">
            <th>Description </th>
            <th>Created On </th>
            <th>Action</th>

        </tr>
        </thead>
        <tbody v-for="(book, index) in book_list" v-bind:key="index">
            <tr>
            <td>{{book.Description}}</td>
            <td>{{book.CreatedOn}}</td>

              <td><button class="btn btn-info btn btn-sm"  v-on:click="editBookBundle(book.ID)"><span class="fa fa-edit" ></span></button>
            <button class="btn btn-danger btn btn-sm" v-on:click="deleteBookBundle(book.ID)"><span class="fa fa-trash"></span></button></td>

            </tr>
        </tbody>
        </table>
        <pagination v-if="pagination.last_page > 1" :pagination="pagination" :offset="5"  @paginate="getBookBundle()"></pagination>
    </div>
</div>
</template>

<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
export default {
  components: {
            Loading
        },
 data() {
       return {
        book_list: {},
        pagination: {
            'current_page': 1
        },
         isLoading: false,
         fullPage: true,
         bundle_description:'',

        }
    },
    created() {
       this.getBookBundle();
    },
     watch:{
        bundle_description(after){
            this.searchData();

        }
    },
    methods: {
         searchData(){
           this.pagination.current_page=1;
            if(this.bundle_description.length>0)
                this.searchByBundleDesc();
            else
                this.getBookBundle();
        },

        paginateData(){
             this.pagination.current_page=1;
            if(this.bundle_description.length>0)
                this.searchByBundleDesc();
            else
                this.getBookBundle();
        },
        getBookBundle() {
             this.isLoading = true;
             axios.get('/api/getbookboundle?page=' + this.pagination.current_page)
                .then(response => {
                    console.log(response)
                    this.book_list = response.data.data.data;
                    this.pagination = response.data.pagination;
                    this.isLoading = false;
                })
                .catch(error => {

                    console.log(error.response);
                });
        },
        editBookBundle(id){
             this.$router.push({path: '/book/bundle/edit/'+ id});

        },
        deleteBookBundle(id){
             this.$router.push({path: '/book/bundle/delete/'+ id});
        },
         searchByBundleDesc() {
                    axios.get('/api/searchBundleDescription?page=' + this.pagination.current_page,{ params: { bundle_description: this.bundle_description} })
                        .then(response => {
                            console.log(response)
                            this.book_list = response.data.data.data;
                            this.pagination = response.data.pagination;
                            console.log(response);
                        })
                        .catch(error => {
                            console.log(error.response.data);
                        });
                    },
    
       fetchBooks(){
            if(this.bundle_description.length>0)
                this.searchByBundleDesc();
            else
                this.getBookBundle();

    },
},
 mounted(){
        this.fetchBooks();
        }
}
</script>
<style scoped>

</style>
