<template>
<div> 
 <router-link class="btn btn-dark fa fa-caret-left" to="/book/list"><span class="fa fa-caret-left"></span><span class="fa fa-caret-left"></span></router-link>
<hr>
<form style="width:100%">
    <h3><b><u>Book Submission:</u></b></h3>
   <div class="container-fluid shadow">    
             <button class="btn btn-primary pull-right">Save</button><br>
             <hr>
       <div class="row">
       </div>
     <div class="row">
         <div class="col-md-6">
            <div class="form-group">
               <label class="control-label control-label-left col-sm-3" for="Number">Number</label>
               <div class="controls col-12">
                  <input id="Number" type="text" class="form-control k-textbox" v-model="studentObj.StudentNumber" data-role="text" data-parsley-errors-container="#errId1"><span id="errId1" class="error"></span>
               </div>
            </div>
            <div class="form-group">
               <label class="control-label control-label-left col-sm-3" for="Student">Student</label>
               <div class="controls col-12">
                  <input id="Student" v-model="studentObj.Name" placeholder="Search by student Name ..." type="text" @keyup="searchStudent()" class="form-control">
               <ul class="list-group">
                  <li class="list-group-item searchCourseBackground" v-for="(std,index) in studentList" v-bind:key='index'>
                     <a style="cursor:pointer" @click="selectedName(std)">{{std.FirstName}}  {{std.LastName}}</a>
                  </li>
               </ul>
               </div>
            </div>
            <div class="form-group">
               <label class="control-label control-label-left col-sm-3" for="BirthDate">Birth Date </label>
               <div class="controls col-12">
                  <input id="BirthDate" type="text" v-model="studentObj.BirthDate" class="form-control k-textbox" data-role="text" data-parsley-errors-container="#errId3"><span id="errId3" class="error"></span>
               </div>
            </div>
            <div class="form-group">
               <label class="control-label control-label-left col-sm-3" for="BirthPlace">Birth Place</label>
               <div class="controls col-12">
                  <input id="BirthPlace" v-model="studentObj.BirthPlace" type="text" class="form-control k-textbox" data-role="text" data-parsley-errors-container="#errId4"><span id="errId4" class="error"></span>
               </div>
            </div>
         </div>
         <div class="col-6">
            <div class="row">
               <div class="col-12">
                  <table class="table table-bordered">
                     <thead style="width:100%">
                        <th  style="width:80%">Book Bundle</th>
                        <th  style="width:15%">
                           Print
                        </th>
                        <th  style="width:5%">
                           <input type="button" class="btn btn-primary"  @click="addBookBundleRow()" value="+">

                        </th>
                     </thead>
                     <tbody>
                        <tr v-for="(bb,ind) in bookBundleTableShowList" v-bind:key="ind">
                           <td style="width:70%">
                              <select name="" id="" class="form-control" >
                                 <option style="width:300px" v-for="(book,index) in bookBundleList" v-bind:key="index" value="book.ID">{{book.Description}}</option>
                                 <!-- <option value="{{book.ID}}">{{book.Title}}</option> -->
                              </select>
                           </td>
                           <td>
                              <input type="checkbox">
                           </td>
                           
                           <td>
                              <span style="cursor:pointer; color:red" @click="removeBookBundleLine(ind)"> <i class="fa fa-times"></i> </span>
                           </td>
                           
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
     </div>     
     <div class="row">
        <div class="col-10 ">
         <table class="table table-bordered">
            <thead style="width:100%">
               <th  style="width:70%">Book</th>
               <th  style="width:30%">
                  Date Received
               </th>
            </thead>
            <tbody>
               <tr v-for="(b,ind) in bookTableShowList" v-bind:key="ind">
                  <td>
                     <select name="" id="" class="form-control">
                        <option v-for="(book,index) in bookList" v-bind:key="index" value="book.ID">{{book.Title}}</option>
                     </select>
                  </td>
                  <td>
                     <input type="date" class="form-control">
                  </td>
                  <td>
                     <span style="cursor:pointer; color:red" @click="removeBookLine(ind)"> <i class="fa fa-times"></i> </span>
                  </td>
               </tr>
            </tbody>
         </table>
        </div>
        <div class="col-2">
            <input type="button" class="btn btn-primary " @click="AddBookRow()" value="Add Book">
        </div>
        
     </div>

     
      <div class="row box-footer">
         <div class="col-md-3"></div>
         <input type="button" value="save"  class="form-control col-md-6 btn btn-primary btn-block"/>
      </div><br><br>
    </div>
</form>
</div>
   </template>
   <script>
   export default {
      data(){
         return{
            studentList:[],
            bookList:[],
            bookBundleList:[],
            bookTableShowList:[],
            bookBundleTableShowList:[],
            studentObj:{
               StudentNumber:null,
               BirthPlace:null,
               BirthDate:null,
               Name:null,
               ID:null,
            },
         }
      },
      created(){
         this.getBookList();
         this.getBookBundleList();
         this.AddBookRow();
         this.addBookBundleRow();
      },
      methods:{
         getBookList(){
            axios.get('/api/getBookList').then(res=>{
               console.log(res);
               this.bookList = res.data;
            }).catch(error=>{
               console.log(error);
            });
         },
         getBookBundleList(){
            axios.get('/api/getBookBundleList').then(res=>{
               console.log(res);
               this.bookBundleList = res.data;
            }).catch(error=>{
               console.log(error);
            });
         },
         AddBookRow(){
            this.bookTableShowList.push({ID:null,TakingDate:null});
         },
         AddBookBundleRow(){
            // this.bookBundleTableShowList.push({ID:null,TakingDate:null});
         },
         removeBookLine(ind){
            this.bookTableShowList.splice(ind,1);
         },
         addBookBundleRow(){
            this.bookBundleTableShowList.push({ID:null,TakingDate:null});
         },
         removeBookBundleLine(ind){
            this.bookBundleTableShowList.splice(ind,1);

         },
         /// search student
         searchStudent(){
            axios.post('/api/getStudentByName',{name:this.studentObj.Name}).then(res=>{
               this.studentList = res.data;
            }).catch(error=>{
               console.log(error);
            });
         },
         selectedName(std){
            this.clearList();
            this.studentObj.StudentNumber = std.StudentNumber;
            this.studentObj.BirthPlace = std.BirthPlace;
            this.studentObj.BirthDate = std.BirthDate;
            this.studentObj.Name = std.FirstName + " " +std.LastName;
            this.studentObj.ID = std.ID;
         },
         clearList(){
            this.studentList =[];
         }
      }
   }
   </script>
   <style scoped>
   .searchCourseBackground:hover
   {
   background: #cececf;
   }
   </style>
   
   
   
