<template>
<div> 
 <router-link class="btn btn-dark fa fa-caret-left" to="/book/list"><span class="fa fa-caret-left"></span><span class="fa fa-caret-left"></span></router-link>
<hr>
<div class="container-fluid">
     <h2><b><u>Update Book:</u></b></h2>
     <input type="button" class="btn btn-primary pull-right" @click="updateBook()" value="update">
   <ul class="nav nav-tabs">
      <li class="nav-item" ><a  style="margin-top:3%;" data-toggle="tab" class="nav-link active show" href="#home">Book Basic Information</a></li>
      <li class="nav-item"><a data-toggle="tab" class="nav-link" href="#menu2">Add in Course</a></li>
   </ul>
    <div class="tab-content" style="margin-top:2%">
      <div id="home" class="tab-pane fade in active show" >
      <div class="row shadow">
         <form style="width:100%">
            <div class="container-fluid">
               <div class="row">
                  <div class="row" style="width:100%; margni-top:2%">
                     <div class="col-md-2">
                        <div class="form-group brdbot">
                           <h3  style="margin-left:3%">Photo</h3>
                           <div class="controls col-12">
                              <img :src="image_url" alt="" @click="$refs.book_image.click()"  style="cursor:pointer">
                           </div>
                              <input type="file"   ref="book_image" v-on:change="onImageChange" style="display:none">
                        </div>
                     </div> 
                     <div class="col-md-9">
                        <div class="form-group" style="display: block;">
                           <label class="control-label control-label-left col-sm-3" for="Tilte:">Tilte :</label>
                           <div class="controls col-sm-9"><span id="errId3" class="error"></span>
                              <textarea   v-model="bookObject.Title"  id="Tilte:" style="resize:none" rows="2" class="form-control k-textbox"  data-role="textarea" data-parsley-errors-container="#errId3"></textarea><span id="errId3" class="error"></span>
                           </div>
                        </div>
                        <div class="form-group">
                           <label class="control-label control-label-left col-sm-3" for="Author:">Author :</label>
                           <div class="controls col-sm-9">
                              <textarea   v-model="bookObject.Author"   id="Author:" style="resize:none" rows="2" class="form-control k-textbox" data-role="textarea" data-parsley-errors-container="#errId4"></textarea><span id="errId4" class="error"></span>
                           </div>
                        </div>
                        <div class="form-group">
                           <label class="control-label control-label-left col-sm-3" for="Publisher:">Publisher :</label>
                           <div class="controls col-sm-9">
                              <textarea   v-model="bookObject.Publisher"   id="Publisher:" style="resize:none" rows="2" class="form-control k-textbox" data-role="textarea" data-parsley-errors-container="#errId5"></textarea><span id="errId5" class="error"></span>
                           </div>
                        </div>
                        <div class="form-group">
                           <label class="control-label control-label-left col-sm-3" for="Edition:">Edition :</label>
                           <div class="controls col-sm-9">
                              <input id="Edition:" type="text" v-model="bookObject.Edition" class="form-control k-textbox" data-role="text" data-parsley-errors-container="#errId6"><span id="errId6" class="error"></span>
                           </div>
                        </div>
                        <div class="form-group">
                           <label class="control-label control-label-left col-sm-3" for="Year:">Year :</label>
                           <div class="controls col-sm-9">
                              <input id="Year:" type="text" v-model="bookObject.Year" class="form-control k-textbox" data-role="text" data-parsley-errors-container="#errId7"><span id="errId7" class="error"></span>
                           </div>
                        </div>
                        <div class="form-group">
                           <label class="control-label control-label-left col-sm-3" for="ISBN:">ISBN :</label>
                           <div class="controls col-sm-9">
                              <textarea   v-model="bookObject.ISBN"   id="ISBN:"  style="resize:none" rows="2" class="form-control k-textbox" data-role="textarea" data-parsley-errors-container="#errId8"></textarea><span id="errId8" class="error"></span>
                           </div>
                        </div>
                        
                     </div>
                  </div>
               </div>
            </div>
         </form>
      </div>
      </div>
      <div id="menu2" class="tab-pane fade">
         <div class="row shadow">
                  <div class="col-9">
                     <!-- /// start -->
                     <div class="form-group">
                        <table class="table table-borderd">
                           <thead>
                              <th style="text-align:center">Courses</th>
                              <th></th>
                           </thead>
                           <tbody>
                              <tr v-for="(line, index) in lines" v-bind:key="index" style="width:100%">
                                 <td>
                                    {{line.CourseTitle}}
                                 </td>
                                 <td><a role="button" style="color:red; cursor:pointer;"  @click="removeLine(index)"><i class="fa fa-times"></i></a></td>
                              </tr>
                           </tbody>
                        </table>
                        <div class="row" style="width:100% ;margin-top:4%;padding-left:3%">
                        </div>
                     </div>
                     <!-- search -->
                  </div>
                  <!-- right part -->
                  <div class="col-3">
                     <div class="form-group ">
                        <label for="">Courses</label>
                        <ul class="list-group">
                           <div class="input-group">
                           <input type="text" class="form-control" name="search" placeholder="search course" v-model="search_data" v-on:keyup="autoComplete" aria-label="Amount (to the nearest dollar)">
                              <div class="input-group-append">
                              <span class="input-group-text" v-on:click="clear()" style="color:red;cursor:pointer;"><i class="fa fa-times"></i></span>                                 
                              </div>
                           </div>
                           <li class="list-group-item searchCourseBackground" v-for="(result,index) in data_results" v-bind:key="index">
                              <a style="cursor:pointer"  @click="addLine(result)">{{ result.CourseTitle}}</a>
                           </li>
                        </ul>
                     </div>
                  </div>
         </div>
      </div>
    </div>
</div>
</div>
</template>
<script>
export default {
   data(){
      return{

         bookObject:
         {
            Title:null,
            Author:null,
            Publisher:null,
            Edition:null,
            ISBN:null,
            Year:null,
            Cover:null,
            OnStock:null,
         },
         Book_info:'',
         lines:[],
         data_results:[],
         search_data:'',
         book_image:'',
         image_url:'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOg6Sv6v4atTvt0mAxc4TQxfly3Q1OV873HdEuz5BRzIQpzVJxAg',
      }
   },
   created()
   {
      this.getBookByID();
   },
   methods:{
        autoComplete(){
               this.data_results = [];
               if(this.search_data.length > 0){
               axios.post('/api/searchCourse',{search_data: this.search_data}).then(response => {
                   // console.log(response.data);
               this.data_results = response.data;
               });
               }
           },
       addLine(result) {
           let checkEmptyLines = this.lines.filter(line => line.number != null)
           if (checkEmptyLines.length >= 1 && this.lines.length > 0) return
           this.lines.push({
               ID: result.ID,
               CourseTitle: result.CourseTitle,
           });
           },
      removeLine (lineId) {
         this.lines.splice(lineId, 1)
         },
      clear(){
            this.search_data= ''
            this.data_results=''
         },

        onImageChange(e) {
              this.book_image = this.$refs.book_image.files[0];
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                    this.file = files;
                this.createImage(files[0]);
            },
            createImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.image_url = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            updateBook()
            {
               let formData = new FormData();
               formData.append('Cover',this.book_image);
               formData.append('Title',this.bookObject.Title);
               formData.append('Author',this.bookObject.Author);
               formData.append('Publisher',this.bookObject.Publisher);
               formData.append('Edition',this.bookObject.Edition);
               formData.append('ISBN',this.bookObject.ISBN);
               formData.append('Year',this.bookObject.Year);
               console.log(formData);
                this.lines.map((course) => {
                   formData.append('courses[]',JSON.stringify(course));  
                    });
               axios.post('/api/updateBook/'+this.$route.params.id,formData,{header:{'Content-Type': 'multipart/form-data'},
                Accept:'application/json, text/plain',               
               }).then(response =>{
                  console.clear();
                  console.log(response);
               }).catch(error => {
                  console.log(error);
               });

            },
            
            getBookByID(){
                axios.get('/api/getBookByID/'+this.$route.params.id)
                .then(response => {
                    console.log(response);
                    this.bookObject=response.data.books;
                    this.lines=response.data.course;
                });                  
   }
   }
}
</script>

<style scoped>
.searchCourseBackground:hover
{
background: #cececf;
}
</style>
