<template>
<div class="container-fluid shadow">
<div style="width:100%" >

    <div class="vld-parent">
        <loading :active.sync="isLoading"
        :is-full-page="fullPage"></loading>
    </div>
<h3> Book's  List</h3>
        <div class="form-group col-md-4 pull-right">
        <input type="text" class="search form-control" v-model="book_title" name="book_title"   placeholder="Search as Book Title">
        </div>
        <table class="table table-hover table-bordered results myTable"  >
        <thead>
        <tr class="header">
            <th>Book Title </th>
            <th>Book Author </th>
            <th>Book Publisher </th>
            <th>Book Edition </th>
            <th>Book ISBN </th>
            <th>Book Cover </th>
            <th>Action </th>

        </tr>
        </thead>
        <tbody v-for="(book, index) in book_list" v-bind:key="index">
            <tr>
            <td>{{book.Title}}</td>
            <td>{{book.Author}}</td>
            <td>{{book.Publisher}}</td>
            <td>{{book.Edition}}</td>
            <td>{{book.ISBN}}</td>
            <td>{{book.Cover}}</td>

              <td><button class="btn btn-info btn btn-sm"  v-on:click="editbook(book.ID)"><span class="fa fa-edit" ></span></button>
            <button class="btn btn-danger btn btn-sm" v-on:click="deleteBook(index)"><span class="fa fa-trash"></span></button></td>

            </tr>
        </tbody>
        </table>
        <pagination v-if="pagination.last_page > 1" :pagination="pagination" :offset="5"  @paginate="paginateData()"></pagination>
    </div>
</div>
</template>

<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
export default {
      components: {
            Loading
        },
 data() {
       return {
        book_list: {},
        pagination: {
            'current_page': 1
        },
         isLoading: false,
         fullPage: true,
         book_title:'',
        }
    },
    created() {
       this.getBooks();
    },
    watch:{
        book_title(after){
            this.searchData();

        }
    },
    methods: {
         searchData(){
        this.pagination.current_page=1;
            if(this.book_title.length>0)
                this.searchByBookTitle();
            else
                this.getBooks();
        },
        paginateData(){

            if(this.book_title.length>0)
                this.searchByBookTitle();
            else
                this.getBooks();
        },

        getBooks() {
             this.isLoading = true;
            axios.get('/api/getbooks?page=' + this.pagination.current_page)
                .then(response => {
                    this.book_list = response.data.data.data;
                    this.pagination = response.data.pagination;
                    this.isLoading = false;
                })
                .catch(error => {

                    console.log(error.response);
                });
        },
               fetchBooks(){
            if(this.book_title.length>0)
                this.searchByBookTitle();
            else
                this.getBooks();
        },
        editbook(id){
             this.$router.push({path: '/book/edit/'+ id});

        },
        deleteBook(index){
                  let conf = confirm("Do you ready want to delete this Book?");
            if (conf === true) {
                axios.delete('/api/deleteBook/'+this.book_list[index].ID)
                    .then(response => {
                         this.book_list.splice(index, 1);
                    })
                    .catch(error => {
                    });
            }
        },
         searchByBookTitle() {
                    axios.get('/api/searchBookByTitle?page=' + this.pagination.current_page,{ params: { book_title: this.book_title} })
                        .then(response => {
                            console.log(response)
                            this.book_list = response.data.data.data;
                            this.pagination = response.data.pagination;
                            console.log(response);
                        })
                        .catch(error => {
                            console.log(error.response.data);
                        });
                    },
    },
        mounted(){
        this.fetchBooks();
        }
}
</script>

<style scoped>

</style>
